@let authUser = authUser$();
@let newCollection = newCollection$();
@let checklists = checklists$();
@let votes = votes$();
@if ((isLoaded$ | async) && (newCollection)) {
<section class="new-collections">
    <div class="nc-links">
        <!-- <a class="btn" mat-stroked-button color="primary" [routerLink]="['../']">
                <mat-icon>arrow_back</mat-icon> Volver
            </a> -->
        <button (click)="onBack()" type="button" mat-stroked-button color="primary">
            <mat-icon>arrow_back</mat-icon> Volver
        </button>
        <a class="btn" (click)="onShare()" mat-stroked-button>
            <mat-icon>share</mat-icon> Compartir
        </a>
        <p></p>
    </div>
    <div class="card">
        <div class="nc-container">
            <div class="nc-main flex-full">
                <h2 class="nc-title">{{ newCollection.name }}</h2>
                <div class="custom-separator">
                    <span>ID {{ newCollection.id }}</span>
                    <span>{{ newCollection.year }}</span>
                    <span>{{ newCollection.publisher.data.name }}</span>
                    @let votesWord = 'voto' + (votes$().length == 1 ? '' : 's');
                    <span>{{ votes.length }} {{ votesWord }}</span>
                </div>

                <div [class]="'alert alert-' + statusClasses[newCollection.statusId]">
                    <div class="alert-container">
                        <div class="alert-content">
                            <div class="alert-title">{{ newCollection.statusName }}</div>
                            <div class="alert-message" [innerHTML]="newCollection.statusComment || '' | linebreaks">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nc-p">
                    <h3>Descripción</h3>
                    <p [innerHTML]="newCollection.description || 'Sin información' | linebreaks"></p>
                </div>
                @if (authUser.isMod) {
                <div class="nc-p">
                    <h3>Detalles</h3>
                    <p [innerHTML]="newCollection.details || 'Sin información' | linebreaks"></p>
                </div>
                }
                <div class="nc-p">
                    <h3>Numeración general</h3>
                    <p [innerHTML]="newCollection.checklistDescription || 'Sin información' | linebreaks"></p>
                </div>
                @if (authUser.isMod) {
                <div class="nc-p">
                    <h3>Fecha de publicación</h3>
                    <p>{{ newCollection.released?.substring(0, 10) || 'S/I'}}</p>
                </div>
                }
                <div class="nc-list">
                    <h3>Itemizados enviados</h3>
                    @if (checklists.length == 0) {
                    <p class="danger">
                        Aun no se han enviado itemizados para esta solicitud
                    </p>
                    } @else {
                    <ul>
                        @for (check of checklists; track check.id) {
                        <li>
                            @if (check.id == newCollection.checklistId) {
                            <span class="selected">Seleccionado</span>
                            }
                            <a [routerLink]="['./']" (click)="onOpenChecklist(check.id)">N{{ check.id }}</a>, enviado
                            por <a [routerLink]="['/user', check.user.data.id]" target="_blank">{{
                                check.user.data.displayName }}</a> el
                            {{
                            check.created * 1000 | date:'dd/MM/yy \'a las \' HH:mm \'hrs.\'' }}
                            @if ((canSetChecklist$ | async) && (check.id !== newCollection.checklistId)) {
                            <button mat-stroked-button (click)="onSetChecklist(check.id)" color="primary"
                                [disabled]="isProcessing$ | async">Seleccionar</button>
                            }
                        </li>
                        }
                    </ul>
                    }
                </div>
                <div class="nc-p">
                    <h3>Solicitud realizada por</h3>
                    <p><a [routerLink]="['/user', newCollection.user.data?.id]" target="_blank">{{
                            newCollection.user.data?.displayName
                            }}</a>, el {{
                        newCollection.created * 1000 | date:'dd/MM/yy \'a las \' HH:mm \'hrs.\'' }}</p>
                </div>
                <div class="nc-p">
                    <h3>Votos recibidos ({{ votes.length }})</h3>
                    <p>
                        @for (vote of votes; track vote.id; let isLast = $last) {
                        <a [routerLink]="['/user', vote.id]" target="_blank">{{ vote.displayName
                            }}</a>
                        @if (!isLast) { <span>, </span> }
                        }
                    </p>
                </div>
            </div>
            <div class="nc-side">
                <div class="nc-side-img">
                    <h3>Portada propuesta</h3>
                    <img [src]="newCollection.image.data?.base64 || newCollection.image.data?.url" alt="Portada">
                </div>
                @if (canVote$ | async) {
                <div class="nc-side-votes">
                    @if (hasVoted$ | async) {
                    <button (click)="onVote(false)" [disabled]="isProcessing$ | async" mat-raised-button color="accent">
                        <mat-icon>favorite</mat-icon> Ya votaste
                    </button>
                    } @else {
                    <button (click)="onVote(true)" [disabled]="isProcessing$ | async" mat-raised-button color="">
                        <mat-icon>favorite</mat-icon> Votar
                    </button>
                    }

                </div>
                }
                <div class="nc-side-actions">
                    @if (canAddChecklist$ | async) {
                    <a [routerLink]="['/new-collection', newCollection.id, 'add-checklist']" mat-raised-button>
                        Agregar itemizado
                    </a>
                    }
                    @if (canUpdate$ | async) {
                    <a [routerLink]="['/new-collection', newCollection.id, 'edit']" mat-raised-button>
                        Modificar solicitud
                    </a>
                    }
                    @if (canSend$ | async) {
                    <button type="button" (click)="onSend()" mat-raised-button>Enviar a
                        revisión</button>
                    }
                    @if (canSanction$ | async) {
                    <button type="button" (click)="onSanctionOptions()" mat-raised-button>Sancionar
                        solicitud</button>
                    }
                    @if (authUser.isMod) {
                    <a (click)="onOpenHistory()" mat-raised-button>
                        Ver historial
                    </a>
                    }
                </div>
                @if (authUser.isMod && newCollection.cover.data?.base64) {
                <div class="nc-side-img">
                    <h3>Portada validada</h3>
                    <img [src]="newCollection.cover.data?.base64 || newCollection.cover.data?.url" alt="Cover">
                </div>
                }
            </div>
        </div>
    </div>

    <p></p>

    @defer (on viewport) {
    <app-new-collection-comments />
    } @placeholder {
    <div class="card">
        <h3>Comentarios (0)</h3>
    </div>
    }
</section>
} @else {
<div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
}

<ng-template #sendDialog>
    <h2 mat-dialog-title>Enviar a revisión</h2>
    <div matDialogContent>
        <p>Agrega un comentario y envía tu solicitud a revisión. Recuerda que una vez enviada no podrás modificar los
            datos de ésta, así que asegúrate de haber dado respuesta a lo indicado en la revisión anterior.</p>
        <form [formGroup]="sendForm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Comentario</mat-label>
                <textarea #sendComment matInput formControlName="sendComment" maxlength="250" rows="4"></textarea>
                <mat-hint align="end">{{sendComment.value.length || 0}}/250</mat-hint>
            </mat-form-field>

            <div class="sanction-actions">
                <button type="button" mat-raised-button color="accent"
                    [disabled]="(isProcessing$ | async) || sendForm.invalid"
                    (click)="onSanction('send')">Enviar</button>
            </div>
        </form>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close [disabled]="(isProcessing$ | async)">Cerrar sin enviar</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #sanctionOptionsDialog>
    <h2 mat-dialog-title>Sancionar solicitud</h2>
    <div matDialogContent>
        <p>Define el nuevo estado para la solicitud agregando un comentario y eligiendo la opción
            respectiva.</p>
        <form [formGroup]="sanctionForm">
            <mat-form-field appearance="outline" style="width: 100%;">
                <mat-label>Comentario</mat-label>
                <textarea #sanctionComment matInput formControlName="sanctionComment" maxlength="250"
                    rows="4"></textarea>
                <mat-hint align="end">{{sanctionComment.value.length || 0}}/250</mat-hint>
            </mat-form-field>

            <div class="sanction-actions">
                <button type="button" mat-raised-button [disabled]="(isProcessing$ | async) || sanctionForm.invalid"
                    (click)="onSanction('info')">
                    <mat-icon>info</mat-icon> Requiere info
                </button>
                <button type="button" mat-raised-button color="warn"
                    [disabled]="(isProcessing$ | async) || sanctionForm.invalid" (click)="onSanction('reject')">
                    <mat-icon>close</mat-icon> Rechaza
                </button>
                <button type="button" mat-raised-button color="accent"
                    [disabled]="(isProcessing$ | async) || sanctionForm.invalid || !newCollection?.checklistId"
                    (click)="onSanction('ok')">
                    <mat-icon>done</mat-icon> Aprueba
                </button>
            </div>

            @if (!newCollection?.checklistId) {
            <div class="alert alert-info">
                <div class="alert-container">
                    <div class="alert-content">
                        <div class="alert-message">Para "Aprobar" una solicitud, necesariamente debe tener seleccionado
                            un itemizado de los propuestos.</div>
                    </div>
                </div>
            </div>
            }
        </form>
    </div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close [disabled]="(isProcessing$ | async)">Cerrar sin sancionar</button>
    </mat-dialog-actions>
</ng-template>