// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    display: flex;
    background-color: white;
    color: var(--text-secondary);
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E2E8EE;

    p {
      text-align: center;
      font-size: 0.85rem;

      &.help {
        a {
          color: var(--color-accent);
          font-weight: bold;
        }
      }

      &.social {
        a {
          margin: 0 0.5rem;

          &::before {
            display: none;
          }
        }
      }
    }

    a, span {
      text-decoration: none;
      color: var(--text-secondary);
      display: inline-block;

      &:not(:first-child):before {
        position: relative;
        display: inline-block;
        height: 1em;
        margin: 0 0.45rem;
        top: -0.15em;
        overflow: hidden;
        line-height: 1.1em;
        vertical-align: middle;
        pointer-events: none;
        content: "•";
      }
    }
  }