// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    display: flex;
    background-color: white;
    color: var(--text-secondary);
    padding: 20px;
    align-items: center;
    border-top: 1px solid #E2E8EE;
  }