// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

mat-toolbar {
    a {
      text-decoration: none;
      color: white;
    
      &:hover,
      &:active {
        color: lightgray;
      }
    }
  
    .logo {
      display: flex;
      margin-right: 10px;
  
      a {
        font-family: 'Lato', serif;
        display: flex;
        align-items: center;
        column-gap: 8px;
      }
    }
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }
  
  .main-search-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-width: 150px;
    height: 100%;
    margin-right: 16px;
    position: relative;
  
    input {
      border: none;
      border-radius: 100px;
      padding: 5px 12px 5px 16px;
      margin-left: 8px;
      width: 240px;
      max-width: 300px;
      font-size: 0.9rem;
      line-height: normal;
      height: 50%;
      -webkit-appearance: none;
  
      color: #444;
      background-color: #fff;
    }
    
    mat-icon {
      position: absolute;
      color: black;
      right: 0.7rem;
      font-size: 1.25rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  