.swap-theme mat-sidenav.mat-drawer,
.swap-theme mat-sidenav.mat-drawer.mat-drawer-push {
  width: 260px;
  color: white;
  // background-color: rgb(15, 23, 42);
  background-color: #191e28;
  padding-bottom: 48px;
}

.vertical-navigation {
  .vertical-navigation-signup {
    display: flex;
    justify-content: center;
    align-content: center;
    // flex-grow: 1;
    background-color: #46be9c;
    // margin: 0;
    padding: 6px 10px;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    margin-top: 2rem;
    font-size: 0.9rem;
  }

  .vertical-navigation-login {
    text-align: center;
    font-size: 0.85rem;
    margin: 0.5rem 0 0;
    padding: 0;
    color: var(--text-secondary);

    a {
      color: white;
      text-decoration: none;
    }
  }

  .vertical-navigation-wrapper {

    .vertical-navigation-content {

      .vertical-navigation-content-header {

        img {}
      }

      .vertical-navigation-group-item {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;

        margin-top: 24px;

        .vertical-navigation-basic-item {
          display: flex;
          flex-direction: column;
          flex: 1 0 auto;

          margin-bottom: 4;

          .vertical-navigation-item-wrapper {
            margin: 0 12px;

            .vertical-navigation-item {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              padding: 10px 16px;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              text-decoration: none;
              border-radius: 6px;

              color: currentColor;
              // cursor: pointer;

              mat-icon {
                user-select: none;
                background-repeat: no-repeat;
                fill: currentColor;
                height: 24px;
                width: 24px;
                overflow: hidden;

                margin-right: 16px;
                color: currentColor;
                opacity: 0.6;
              }

              .vertical-navigation-user-image {
                user-select: none;
                height: 24px;
                width: 24px;
                border-radius: 9999px;

                margin-right: 16px;
              }

              .vertical-navigation-item-title-wrapper {

                .vertical-navigation-item-title {
                  color: currentColor;
                  opacity: 0.8;

                  span {}
                }

                .vertical-navigation-item-subtitle {
                  font-size: 12px;
                  line-height: 1.5;
                  color: currentColor;
                  opacity: 0.5;

                  span {}
                }
              }

              .vertical-navigation-item-badge {
                margin-left: auto;

                .vertical-navigation-item-badge-content {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 10px;
                  font-weight: 600;
                  white-space: nowrap;
                  height: 20px;

                  color: black;
                  background-color: rgb(45, 212, 191);
                  padding-left: 0.625rem;
                  padding-right: 0.625rem;
                  border-radius: 9999px;
                }
              }

              &:hover {
                background-color: rgb(255 255 255 / 0.12);

                mat-icon,
                .vertical-navigation-item-title {
                  opacity: 1;
                }
              }
            }
          }
        }

        >.vertical-navigation-item-wrapper {
          margin: 0 12px;

          .vertical-navigation-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 16px;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            text-decoration: none;
            border-radius: 6px;

            color: currentColor;
            // cursor: pointer;

            .vertical-navigation-item-title-wrapper {
              .vertical-navigation-item-title {
                color: rgb(45, 212, 191);
                font-size: 14px;
                font-weight: 600;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
              }

              .vertical-navigation-item-subtitle {
                font-size: 12px;
                line-height: 1.5;
                color: currentColor;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}