<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner aria-label="cargando"></mat-spinner>
</div>
<section *ngIf="isLoaded" class="user user-section">
  <app-user-summary [showBackButton]="true"></app-user-summary>
  <div class="user-collections flex-full">
    <h1>
      <span class="color-accent" *ngIf="showedCollections.length != collections.length">
        {{ showedCollections.length }} de
      </span>
      {{ collections.length }} colecciones agregadas
    </h1>
    <div class="card">
      <div class="empty-content" *ngIf="!collections.length">
        <h2>(@.@)</h2>
        <p>Todavía no ha agregado ninguna colección...</p>
      </div>

      <div *ngIf="collections.length" class="controls-std">
        <div class="controls-std-main">
          <div class="controls-std-order">
            <mat-form-field appearance="outline">
              <mat-label>Ordenar por</mat-label>
              <mat-select (selectionChange)="onSort()" [(value)]="sortOptionSelected">
                <mat-option *ngFor="let option of sortOptions" [value]="option.selectValue">
                  {{ option.selectName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="controls-std-settings">
            <a class="btn" mat-stroked-button color="primary" (click)="showFilters = !showFilters">
              <mat-icon inline="true">filter_list</mat-icon> Filtros
            </a>
          </div>
        </div>
        <div class="constrols-std-filters" [ngClass]="{ 'show': showFilters }">
          <mat-form-field class="controls-search" appearance="outline">
            <mat-label>Filtrar por nombre, ID o editorial</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onFilter()">
            <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="onClearFilter()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <mat-slide-toggle class="ml-auto" (change)="onToggleCompleted($event)" (checked)="hideCompleted">
            Ocultar completos
          </mat-slide-toggle>
        </div>

      </div>

      <ul class="list-std">
        <li *ngFor="let col of showedCollections ; trackBy: trackByCollection" class="list-std-item"
          [ngClass]="{'completed': col.userSummary?.completed}">
          <div class="list-item-main">
            <div class="list-item-content flex-full">
              <div class="list-item-title">
                <a [routerLink]="['./']" (click)="onOpenDetails(col)">
                  {{ col.name }}
                </a>
              </div>
              <div class="list-item-meta custom-separator">
                <span>{{ col.year }}</span>
                <span>{{ col.items || '???' }} ítems</span>
                <span>{{ col.publisher.data.name }}</span>
              </div>
              <div class="list-item-meta custom-separator">
                <span>Busca {{ col.userSummary?.wishing }} ítems</span>
                <span>Cambia {{ col.userSummary?.trading }} ítems</span>
              </div>
              <div *ngIf="col.userSummary?.publicComment" class="list-item-desc">
                <p [innerHTML]="col.userSummary?.publicComment | sanitizeHtml"></p>
              </div>

              <div *ngIf="col.userSummary?.completed" class="ribbon up">
                <div class="content">
                  <svg width="24px" height="24px" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                    </path>
                  </svg>
                </div>
              </div>
            </div>
            <div class="list-item-bg" [defaultImage]="defaultCollectionImage" [lazyLoad]="col.image">
              <div></div>
            </div>
            <a *ngIf="showEditButton" class="btn" mat-raised-button color="accent"
              [routerLink]="['/c', col.name + ' ' + col.publisher.data.name | slugify, col.id, 'manage']">
              <mat-icon inline="true">edit</mat-icon> Editar
            </a>
            <div class="list-item-progress" [style]="'width: ' + col.userSummary?.progress + '%;'"></div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>