<section class="user user-section">
  <app-user-summary [showBackButton]="true"></app-user-summary>
  @if (isLoaded$ | async) {
  <div class="user-collections flex-full">
    <h1>
      @if (showedCollections.length != collections.length) {
      <span class="color-accent">
        {{ showedCollections.length }} de
      </span>
      }
      {{ collections.length }} colecciones agregadas
    </h1>
    <div class="card">
      @if (!collections.length) {
      <div class="empty-content">
        <h2>(&#64;.&#64;)</h2>
        <p>Todavía no ha agregado ninguna colección...</p>
      </div>
      }

      @if (collections.length) {
      <div class="controls-std">
        <div class="controls-std-main">
          <div class="controls-std-order">
            <mat-form-field appearance="outline">
              <mat-label>Ordenar por</mat-label>
              <mat-select (selectionChange)="onSort()" [(value)]="sortOptionSelected">
                @for (option of sortOptions; track option.selectValue) {
                <mat-option [value]="option.selectValue">
                  {{ option.selectName }}
                </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="controls-std-settings">
            <a class="btn" mat-stroked-button color="primary" (click)="showFilters = !showFilters">
              <mat-icon>filter_list</mat-icon> Filtros
            </a>
          </div>
        </div>
        <div class="constrols-std-filters" [ngClass]="{ 'show': showFilters }">
          <mat-form-field class="controls-search" appearance="outline">
            <mat-label>Filtrar por nombre, ID o editorial</mat-label>
            <mat-icon matPrefix>search</mat-icon>
            <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onFilter()">
            @if (searchText) {
            <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearFilter()">
              <mat-icon>close</mat-icon>
            </button>
            }
          </mat-form-field>
          <mat-slide-toggle class="ml-auto" (change)="onToggleCompleted($event)" (checked)="hideCompleted">
            Ocultar completos
          </mat-slide-toggle>
        </div>

      </div>
      }

      <ul class="list-std">
        @for (col of showedCollections; track col.id) {
        <li class="list-std-item" [ngClass]="{'completed': col.userSummary?.completed}">
          <div class="list-item-main">
            <div class="list-item-content flex-full">
              <div class="list-item-title">
                <a [routerLink]="['./']" (click)="onOpenDetails(col)">
                  {{ col.name }}
                </a>
              </div>
              <div class="list-item-meta custom-separator">
                <span>{{ col.year }}</span>
                <span>{{ col.items || '???' }} ítems</span>
                <span>{{ col.publisher.data.name }}</span>
              </div>
              <div class="list-item-meta custom-separator">
                <span>Busca {{ col.userSummary?.wishing }} ítems</span>
                <span>Cambia {{ col.userSummary?.trading }} ítems</span>
              </div>
              @if (col.userSummary?.publicComment) {
              <div class="list-item-desc">
                <p [innerHTML]="col.userSummary?.publicComment | sanitizeHtml"></p>
              </div>
              }

              @if (col.userSummary?.completed) {
              <div class="ribbon up">
                <div class="content">
                  <svg width="24px" height="24px" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="check" class="svg-inline--fa fa-check fa-w-16" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                    </path>
                  </svg>
                </div>
              </div>
              }
            </div>
            <div class="list-item-bg" [defaultImage]="defaultCollectionImage" [lazyLoad]="col.image">
              <div></div>
            </div>
            @if (showEditButton) {
            <a class="btn" mat-raised-button color="accent"
              [routerLink]="['/c', col.name + ' ' + col.publisher.data.name | slugify, col.id, 'manage']">
              <mat-icon>edit</mat-icon> Editar
            </a>
            }
            <div class="list-item-progress" [style]="'width: ' + col.userSummary?.progress + '%;'"></div>
          </div>
        </li>
        }
      </ul>

    </div>
  </div>
  } @else {
  <div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
  </div>
  }
</section>