// ESTILOS BASE PARA LAS LISTAS ESTANDAR
ul.list-std {
    padding: 0;
    margin: 0;
    list-style: none;
  
    li.list-std-item {
        border-top: solid 1px #f1f2f4;
        padding: 14px 20px;
        position: relative;
        display: flex;
        column-gap: 20px;
  
        .list-item-title,
        .list-item-title a {
          font-size: 1.2rem;
          font-weight: bold;
          text-decoration: none;
          color: var(--text-default);
        }
      
        .list-item-meta {
            color: var(--text-secondary);
            font-size: 0.9rem;
        }
      
        .list-item-desc {
            border: 1px solid #fafafa;
            border-radius: 8px;
            padding: 4px 10px;
            margin: 4px 0px;
            font-size: 0.9rem;
            font-style: italic;
            color: var(--text-secondary);
            background-color: #fafafa;
            // background-color: #f9f9f9cc;
            display: inline-block;
            // display: block;
      
            p {
                margin: 0;
            }
  
            &.evaluation-positive {
                background-color: rgba(70,190,156,.15);
            }
      
            &.evaluation-negative {
                background-color: rgba(221,76,57,.15);
            }
        }
  
        &.pro-account {
          background-color: rgba(131,141,148,.1);
        }
    }
  
    .list-item-image {
      width: 50px;
  
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-top: 4px;
      }
    }
  
    .list-item-content {
        z-index: 10;
        position: relative;
    }
  
    .list-item-bg {
        display: block;
        height: 100%;
        width: 235px;
        position: absolute;
        top: 0;
        right: 0;
        opacity: .7;
        background-size: 235px auto;
        background-repeat: no-repeat;
        border-top-right-radius: 4px;
  
        div {
            background: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(50%,rgba(255,255,255,.25)),to(rgba(255,255,255,0)));
            background: linear-gradient(to right,#fff 0,rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 100%);
            width: 100%;
            height: 100%;
        }
    }
  
    .list-item-progress {
        height: 2px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background-color: #46be9c;
        -webkit-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
    }
  
    .list-item-statics {
      display: flex;
      column-gap: 10px;
  
      > div {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
      }
    }
  }
  
  .ribbon {
    $default-right: 14px;
    $default-top: -14px;
    $default-color: #46be9c;
    $default-width: 32px;
    $default-height: 36px;
    
    position: absolute;
    right: var(--right, $default-right);
    top: var(--top, $default-top);
    
    filter: drop-shadow(2px 3px 2px rgba(black, 0.5));
    
    > .content {
      color: white;
      font-size: 1.25rem;
      text-align: center;
      font-weight: 400;
      background: var(--color, $default-color) linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
      padding: 8px 2px 4px;
      
      
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
      
      width: var(--width, $default-width);
      min-height: var(--height, $default-height);
      
      transition: clip-path 1s, padding 1s, background 1s;
    }
    
    &.slant-up > .content {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), 50% calc(100% - 6px), 0 100%);
    }
    
    &.slant-down > .content {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));
    }
    
    &.down > .content {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
    }
    
    &.up > .content {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
    }
    
    &.check > .content {
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 40% 100%, 0 calc(100% - 12px));
    }
  }
  
  .ribbon.evaluation-negative .content {
    background-color: #dd4c39;
  }