// ESTILOS BASE PARA LAS LISTAS ESTANDAR
ul.list-std {
  padding: 0;
  // margin: 0;
  margin: 0 -1.5rem;
  list-style: none;

  @media (min-width: 768px) {
    margin: 0;
  }  

  li.list-std-item {
    display: flex;
    flex-direction: column;
    // padding: 0 1rem;
    padding: 0;

    &.pro-account {
      background-color: rgba(131, 141, 148, .1);

      .list-item-main {
        border-top: solid 1px white;
      }
    }
  }

  // li.list-std-item {
  .list-item-main {
    border-top: solid 1px #f1f2f4;
    // padding: 0.5rem 0;
    padding: 1rem 1.5rem;
    position: relative;
    display: flex;
    // align-items: center;
    column-gap: 1rem;
    line-height: 1.5;

    .list-item-title,
    .list-item-title a {
      font-size: 1.1rem;
      font-weight: bold;
      text-decoration: none;
      color: var(--text-default);
    }

    .list-item-meta {
      color: var(--text-secondary);
      font-size: 0.9rem;
    }
  }

  .list-item-desc {
    // border: 1px solid #fafafa;
    border-left: 2px solid black;
    border-radius: 8px;
    padding: 0.25rem 0.5rem;
    // margin-bottom: 0.5rem;
    font-size: 0.9rem;
    font-style: italic;
    color: var(--text-secondary);
    // background-color: #fafafa;
    display: block;
    margin: 0 1.5rem 1rem;


    p {
      margin: 0;
    }

    &.evaluation-positive {
      background-color: rgba(70, 190, 156, .15);
    }

    &.evaluation-negative {
      background-color: rgba(221, 76, 57, .15);
    }
  }

  @media (min-width: 768px) {
    .list-item-desc {
      margin-left: calc(50px + 2.5rem);
    }
  }

  .list-item-action {
    a {
      text-decoration: none;
      margin: -0.75rem 2rem 1rem;
      text-align: right;
      font-style: italic;
      font-size: 0.9rem;
      color: var(--text-secondary);
      display: block;
      cursor: pointer;
    }
  }

  .list-item-image {
    width: 50px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 4px;
    }
  }

  .list-item-content {
    z-index: 10;
    position: relative;
  }

  .list-item-bg {
    display: block;
    height: 100%;
    width: 180px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: .7;
    background-size: 180px auto;
    background-repeat: no-repeat;
    border-top-right-radius: 4px;

    @media (min-width: 576px) {
      width: 235px;
      background-size: 235px auto;
    } 

    div {
      background: -webkit-gradient(linear, left top, right top, color-stop(0, #fff), color-stop(50%, rgba(255, 255, 255, .25)), to(rgba(255, 255, 255, 0)));
      background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, .25) 50%, rgba(255, 255, 255, 0) 100%);
      width: 100%;
      height: 100%;
    }
  }

  .list-item-progress {
    height: 2px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: #46be9c;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
  }

  .list-item-statics {
    display: flex;
    column-gap: 0.5rem;

    >div {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }

  .list-item-message {
    font-size: 0.8rem;
    color: var(--text-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;

    .list-item-message-new {
      background-color: #46be9c;
      color: white;
      border-radius: 9999px;
      font-size: 0.75rem;
      width: 1.5rem;
      height: 1.5rem;
      text-align: center;
      line-height: 1.5rem;
    }    
  }
}

// @media (min-width: 768px) {
//   ul.list-std {
//     margin: 0;
//   }
// }

.ribbon {
  // $default-right: 14px;
  $default-right: 0px;
  // $default-top: -10px;
  $default-top: -1rem;
  $default-color: #46be9c;
  $default-width: 32px;
  $default-height: 36px;

  position: absolute;
  right: var(--right, $default-right);
  top: var(--top, $default-top);

  filter: drop-shadow(2px 3px 2px rgba(black, 0.5));

  >.content {
    color: white;
    // font-size: 1.25rem;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    background: var(--color, $default-color) linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
    padding: 8px 2px 4px;


    // clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);

    width: var(--width, $default-width);
    min-height: var(--height, $default-height);

    // transition: clip-path 1s, padding 1s, background 1s;
  }

  &.slant-up>.content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), 50% calc(100% - 6px), 0 100%);
  }

  &.slant-down>.content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));
  }

  &.down>.content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
  }

  &.up>.content {
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
  }

  &.check>.content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 40% 100%, 0 calc(100% - 12px));
  }

  &.custom {
    // right: -1rem;
    top: -1px;
    filter: none;

    >.content{
      clip-path: polygon(0 0, 100% 100%, 100% 0);
      text-align: right;
      padding: 2px 3px;
      width: 40px;
      line-height: 1;
      font-size: 14px;
    }
  }
}

.ribbon.evaluation-negative .content {
  background-color: #dd4c39;
}


.nav-vert-std {
  display: block;
  margin: 0;
  padding: 8px 0 0;

  li {
    display: block;
    height: 48px;
  }

  a.nav-vert-std-a {
    display: flex;
    padding: 0px 16px;
    color: inherit;
    text-decoration: none;
    height: inherit;
    column-gap: 1rem;
    justify-content: space-between;
    align-items: center;

    &:hover {
      background: rgba(0,0,0,.04);
    }

    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      box-sizing: border-box;
    }
  }
}