.pagination-wrapper {}

.pagination {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: center;
    column-gap: 1rem;

    select {
        height: 100%;
    }
}