.mat-snack-bar-container {

    &.snackbar-error {
        background-color: #dd4c39;
        color: white;
    }
    
    &.snackbar-success {
        background-color: #46be9c;
        color: white;
    }
    
    &.snackbar-info {
        // background-color: blue;
    }
}
