.mat-mdc-snack-bar-container {

    &.snackbar-error {
        .mdc-snackbar__surface {
            background-color: #dd4c39;
            color: white;
        }
    }
    
    &.snackbar-success {
        .mdc-snackbar__surface {
            background-color: #46be9c;
            color: white;
        }
    }
    
    // &.snackbar-info {}
}
