.mat-expansion-panel.trades {
    margin-top: 2rem;

    .mat-expansion-panel-header {
        font-weight: 600;
    }

    .mat-expansion-panel-body {
        margin-left: -24px;
        margin-right: -24px;
        margin-bottom: -16px;

        // @media (min-width: 768px) {
        //     margin-left: 0;
        //     margin-right: 0;
        // }
    }
}

.trades-collection {
    .trades-collection-info {
        background-color: #f2f2f2;
        padding: 0.5rem 1rem;
        border-top: dotted 1px #dddfe4;

        a {
            display: flex;
            height: 1.5rem;
            align-items: center;
            text-decoration: none;
            color: inherit;
        }

        img {
            border-radius: 9999px;
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }

    .trades-list {
        >div {
            padding: 0.25rem 1rem;
            border-top: solid 1px #dddfe4;
            line-height: 1.7;
            color: var(--text-secondary);
        }
    }
}

.difficulty-explanation {
    text-align: right;
    color: var(--text-secondary);
    background-color: #f2f2f2;
    padding: 0.5rem 1rem;
    border-top: dotted 1px #dddfe4;

    a {
        color: black;
        text-decoration: none;
    }
}

@keyframes blue {

    0%,
    100% {
        box-shadow: 1px 0px 19px 4px rgba(69, 190, 156, 0.7), inset 0px 0px 10px rgba(255, 255, 255, 0.5);
    }

    50% {
        box-shadow: 0px 0px 0px 0px rgba(69, 190, 156, 0), inset 0px 0px 0px rgba(255, 255, 255, 0);
    }
}

.become-pro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 10px;
    font-weight: 600;
    animation: blue 2s infinite;

    p {
        margin: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }
}