@if (users().length) {
<div class="card">
    <div class="controls-std">
        <div class="controls-std-main">
            <div class="controls-std-order">
                <mat-form-field appearance="outline">
                    <mat-label>Ordenar por</mat-label>
                    <mat-select (selectionChange)="onCollectionSort()" [(value)]="userSortOptionSelected">
                        @for (option of userSortOptions; track option.selectValue) {
                        <mat-option [value]="option.selectValue">
                            {{ option.selectName }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="controls-std-settings">
                <p>
                    Registros {{ paginator().from | number:'':'es' }} - {{ paginator().to | number:'':'es' }} de {{
                    paginator().total | number:'':'es' }}
                </p>
            </div>
        </div>
    </div>

    <ul class="list-std">
        @for (user of users(); track user.id; let i = $index) {
        <li class="list-std-item" [ngClass]="{'pro-account': user.accountTypeId == 2}">
            <div class="list-item-main">
                <div class="list-item-image">
                    <a [routerLink]="['/user', user.id]">
                        @if (i < 8) {
                        <img [src]="user.image || defaultUserImage"
                            alt="Imagen de Perfil" loading="eager" crossorigin="anonymous">
                        } @else {
                        <img [src]="user.image || defaultUserImage"
                            alt="Imagen de Perfil" loading="lazy" crossorigin="anonymous">
                        }
                    </a>
                </div>

                <div class="list-item-content flex-full">
                    <div class="list-item-title">
                        <a [routerLink]="['/user', user.id]">
                            {{ user.displayName }}
                            @if (user.accountTypeId == 2) {
                            <span class="pro-label">PRO</span>
                            }
                            @if (user.userSummary?.positives) {
                            <span class="positives-label">+{{
                                user.userSummary?.positives
                                }}</span>
                            }
                            @if (user.userSummary?.negatives) {
                            <span class="negatives-label">-{{
                                user.userSummary?.negatives
                                }}</span>
                            }
                        </a>
                    </div>
                    <div class="list-item-meta custom-separator">
                        <span>ID {{ user.id }}</span>
                        <span>{{ user.location || 'Sin especificar' }}</span>
                        <span appDaysSinceLogin="{{ user.daysSinceLogin }}"></span>
                    </div>
                </div>
                <div class="list-item-statics">
                    <div>
                        <span class="list-item-title">{{ user.userSummary?.wishing | number:'':'es' }}</span>
                        <span class="list-item-meta">Busca</span>
                    </div>
                    <div>
                        <span class="list-item-title">{{ user.userSummary?.trading | number:'':'es' }}</span>
                        <span class="list-item-meta">Cambia</span>
                    </div>
                </div>
            </div>
            @if (user?.bio) {
            <div class="list-item-desc">
                <p [innerHTML]="user?.bio | sanitizeHtml"></p>
            </div>
            }
        </li>
        }
    </ul>

    <app-pagination [pageSelected]="paginator().current_page" [lastPage]="paginator().last_page"
        (pageChange)="onPageChange($event)" />
</div>
} @else {
<div class="card empty-content">
    <h2>(¬‿¬)</h2>
    <p>No hemos encontrado usuarios para el término utilizado, si pruebas con otro?</p>
</div>
}