@if (isLoaded$ | async) {
<section class="collection-manage-list">
  @if (typeSelected == 'texto') {
  <app-collection-manage-list-text [listType]="'tradelist'" [isSaving]="(isProcessing$ | async)!"
    [items]="(items$ | async)!" (onSave)="onSave($event)" (onChangeMode)="onChangeMode($event)">
  </app-collection-manage-list-text>
  }

  @if (typeSelected == 'botones') {
  <app-collection-manage-list-buttons [listType]="'tradelist'" [isSaving]="(isProcessing$ | async)!"
    [items]="(items$ | async)!" (onSave)="onSave($event)" (onChangeMode)="onChangeMode($event)">
  </app-collection-manage-list-buttons>
  }
</section>
} @else {
<div class="loading-indicator">
  <mat-spinner aria-label="cargando"></mat-spinner>
</div>
}