<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner aria-label="cargando"></mat-spinner>
</div>
<section *ngIf="isLoaded" class="collection2 collection-section2">

  <div class="manage-list">
    <div class="manage-list-main">
      <button mat-raised-button color="accent" [disabled]="isSaving" (click)="onSaveTradelist()">
        Guardar Cambiando
      </button>
    </div>
    <div class="manage-list-controls">
      <div class="manage-list-info">
        <p>(+1): Click izquierdo / Tap</p>
        <p>(-1): Click derecho / Tap largo</p>
      </div>
      <div class="manage-list-options">
        <button mat-button (click)="onCheckAllTradelist()">
          Marcar todos
        </button>
        <button mat-button (click)="onUncheckAllTradelist()">
          Desmarcar todos
        </button>
      </div>
    </div>
    <div class="manage-list-buttons">
      <button mat-raised-button *ngFor="let tradeItem of items; let i = index; trackBy: trackById"
        [color]="tradeItem.tradelist && tradeItem.wishlist ? 'warn' : tradeItem.tradelist ? 'accent' : 'basic'"
        [matBadge]="tradeItem.tradelistQuantity" [matBadgeHidden]="!tradeItem.tradelist" (click)="onAddTrade(tradeItem)"
        (contextmenu)="onRemoveTrade(tradeItem)" (press)="onRemoveTrade(tradeItem)">
        {{ tradeItem.name }}
      </button>
    </div>
    <div class="manage-list-main">
      <button mat-raised-button color="accent" [disabled]="isSaving" (click)="onSaveTradelist()">
        Guardar Cambiando
      </button>
    </div>
  </div>
</section>