@if (isLoaded$ | async) {
<section class="item item-section">
    <div class="item-lists flex-full">
        <h1>
            Ítem {{ (item$ | async)?.name }}: {{ (item$ | async)?.description }}
        </h1>
        <h2>
            <a
                [routerLink]="['/c', (collection$ | async)?.name + ' ' + (collection$ | async)?.publisher?.data?.name | slugify, (collection$ | async)?.id]">{{
                (collection$ | async)?.name }}</a>, {{
            (collection$ | async)?.publisher?.data?.name }}
        </h2>
        <div class="card">
            <mat-tab-group>
                <mat-tab [label]="(usersTrading$ | async)?.length + ' Cambian'">
                    <app-item-users-list [users]="(usersTrading$ | async)!" [listType]="'trading'" />
                </mat-tab>
                <mat-tab [label]="(usersWishing$ | async)?.length + ' Buscan'">
                    <app-item-users-list [users]="(usersWishing$ | async)!" [listType]="'wishing'" />
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</section>
} @else {
<div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
}