<ul class="user-card-list">
  @for (user of users; track user.id) {
  <li class="user-card card">
    <a [routerLink]="['/user', user.id]">
      <div class="user-card-image-container">
        <img [src]="user.image || defaultUserImage" [alt]="'Perfil público de ' + user.displayName"
          [title]="'Perfil público de ' + user.displayName" class="user-card-image" loading="lazy"
          crossorigin="anonymous">
      </div>
      <h3 class="user-card-title">{{ user.displayName }}</h3>
    </a>
    <p class="user-card-subtitle">{{ user.location }}</p>
    @if (showObject) {
    <hr />
    <div class="user-card-info">
      @if (type == 'media') {
      <span><strong class="color-accent">{{ user.contributions | number:'':'es' }}</strong> media</span>
      }
      @if (type == 'item') {
      <span><strong class="color-accent">{{ user.totalItems | number:'':'es' }}</strong> ítems</span>
      }
      @if (type == 'positives') {
      <span><strong class="color-accent">+{{ (user.userSummary?.positives || 0) | number:'':'es' }}</strong>
        positivas</span>
      }
    </div>
    }
  </li>
  }
</ul>