<!-- <div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner aria-label="cargando"></mat-spinner>
</div> -->
<section class="auth auth-section">
    <div class="new-password card">
        <img src="/assets/img/logo-icon-40x40.svg" alt="">
        <h1>
            Resetea tu contraseña
        </h1>
        <p>
            Crea una nueva contraseña para tu cuenta
        </p>
        <div class="reset-form">
            <form (ngSubmit)="onSubmit()" [formGroup]="newPasswordForm">
                <mat-form-field appearance="outline">
                    <mat-label>Nuevo password</mat-label>
                    <input type="password" matInput formControlName="password" required minlength="6" maxlength="20">
                    <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6+</mat-hint> -->
                    <mat-error>Debe tener al menos 6 caracteres de largo</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Repetir nuevo password</mat-label>
                    <input type="password" matInput formControlName="repeatedPassword" name="repeatedPassword" required
                        minlength="6" maxlength="20">
                    <!-- <mat-hint align="end">{{ pwInput.value?.length }} / 6+</mat-hint> -->
                    <mat-error>Repite el password ingresado anteriormente</mat-error>
                </mat-form-field>

                <button type="submit" mat-raised-button color="accent" class="button-large"
                    [disabled]="newPasswordForm.invalid || isLoading">Resetea tu contraseña</button>
            </form>
            <p>
                ¿Ya la recordaste? <a [routerLink]="['/login']" class="color-accent">Iniciar sesión</a>
            </p>
        </div>
    </div>
</section>