<div *ngIf="!isLoaded" class="loading-indicator">
    <mat-spinner></mat-spinner>
</div>
<section *ngIf="isLoaded" class="settings-section">
    <div class="settings-connect">

        <div class="card">
            <mat-list>
                <div mat-subheader>Conectar servicios</div>
                <mat-list-item>
                    <mat-icon mat-list-icon>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 488 512">
                            <path
                                d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z" />
                        </svg>
                    </mat-icon>
                    <div mat-line>Google</div>
                    <div *ngIf="!authUser.google" mat-line>Conecta Facebook y podrás iniciar sesión con
                        esa plataforma</div>
                    <div *ngIf="authUser.google" mat-line>Ya estás conectado!</div>
                    <google-button *ngIf="!authUser.google" [selectable]="isLoaded"></google-button>
                    <button *ngIf="authUser.google" (click)="onUnlink('google')" mat-stroked-button color="warn"
                        [disabled]="isSaving">
                        <mat-icon>delete</mat-icon> Remover
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path
                                d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
                        </svg>
                    </mat-icon>
                    <div mat-line>Facebook</div>
                    <div *ngIf="!authUser.facebook" mat-line>Conecta Facebook y podrás iniciar sesión con
                        esa plataforma</div>
                    <div *ngIf="authUser.facebook" mat-line>Ya estás conectado!</div>
                    <button *ngIf="!authUser.facebook" (click)="onLinkFacebook()" mat-stroked-button color="accent"
                        [disabled]="isSaving">
                        <mat-icon>link</mat-icon> Conectar
                    </button>
                    <button *ngIf="authUser.facebook" (click)="onUnlink('facebook')" mat-stroked-button color="warn"
                        [disabled]="isSaving">
                        <mat-icon>delete</mat-icon> Remover
                    </button>
                </mat-list-item>
                <!-- <mat-divider></mat-divider>
                <div mat-subheader>Notes</div>
                <mat-list-item *ngFor="let note of notes">
                    <mat-icon mat-list-icon>note</mat-icon>
                    <div mat-line>{{note.name}}</div>
                    <div mat-line> {{note.updated | date}} </div>
                </mat-list-item> -->
            </mat-list>
        </div>

    </div>
</section>