<section class="user user-section">
  <app-user-summary [showBackButton]="true"></app-user-summary>
  @if (isLoaded$ | async) {
    <div class="user-media flex-full">
      <h1>Elementos multimedia</h1>
     @if (showedImages.length) {
       <h2>
         Imágenes (
          @if (showedImages.length != medias.length) {
            <span class="color-accent">
             {{ showedImages.length }} de
           </span>
          }
         {{ medias.length }})
       </h2>
     } 
      <div class="card">
        @if (!showedImages.length) {
          <div class="empty-content">
            <h2>(u_u)</h2>
            <p>Todavía no ha aportado con ningún elemento multimedia...</p>
          </div>
        }
  
        @if (showedImages.length) {
          <div class="controls-std">
            <div class="controls-std-main">
              <div class="controls-std-order">
                <mat-form-field appearance="outline">
                  <mat-label>Ordenar por</mat-label>
                  <mat-select (selectionChange)="onSort()" [(value)]="sortOptionSelected">
                    @for (option of sortOptions; track option.selectValue) {
                      <mat-option [value]="option.selectValue">
                        {{ option.selectName }}
                      </mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="controls-std-settings">
                <a class="btn" mat-stroked-button color="primary" (click)="showFilters = !showFilters">
                  <mat-icon>filter_list</mat-icon> Filtros
                </a>
              </div>
            </div>
            <div class="constrols-std-filters" [ngClass]="{ 'show': showFilters }">
              <mat-form-field class="controls-search" appearance="outline">
                <mat-label>Filtrar por descripción o colección (nombre / ID)</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onFilter()">
                @if (searchText) {
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="onClearFilter()">
                    <mat-icon>close</mat-icon>
                  </button>
                }
              </mat-form-field>
            </div>
          </div>
        }

        <div class="images-grid">
          @for (image of showedImages; track image.id; let i = $index) {
            <div class="images-grid-card">
              <div class="images-grid-content">
                <img [lazyLoad]="baseImageUrl + image.id"
                  [alt]="image.description + ' en ' + image.collection?.data?.name + ' de ' + image.collection?.data?.publisher?.data?.name"
                  class="images-grid-image" crossorigin="anonymous">
                <p class="images-grid-author">
                  publicado en <a
                    [routerLink]="['/c', image.collection?.data?.name + ' ' + image.collection?.data?.publisher?.data?.name | slugify, image.collection?.data?.id]">{{
                    image.collection?.data?.name }}</a> el {{ image.created * 1000 | date:'dd/MM/yy' }}
                </p>
                <div class="images-grid-details">
                  <a class="btn" mat-raised-button color="accent"
                    (click)="lightbox.open(i, 'lightbox', {panelClass: 'fullscreen'})">
                    <mat-icon>zoom_in</mat-icon> Zoom
                  </a>
                </div>
                <div (click)="toggleLike(image)" class="images-grid-likes" [ngClass]="{'likes': image.likes }">
                  <mat-icon aria-hidden="false" aria-label="Number of likes">favorite</mat-icon>
                  <span>{{ image.totalLikes }}</span>
                </div>
              </div>
              <p class="images-grid-title">
                #{{ i + 1 }} - {{ image.description }}
              </p>
            </div>
          }
        </div>
      </div>
  
    </div>
  } @else {
    <div class="loading-indicator">
      <mat-spinner aria-label="cargando"></mat-spinner>
    </div>
  }
</section>