<mat-dialog-content>
    <div *ngIf="!isLoaded" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="isLoaded" class="user-collection-modal">
        <div class="user-collection-modal-content">
            <div class="user-collection-modal-heading">
                <p class="h2">
                    Listados de <strong>{{ user.displayName }}</strong> en<br/>
                    <strong>{{ collection.name }}</strong>
                </p>
                <div class="collection-meta custom-separator">
                    <span>{{ collection.year }}</span>
                    <span>{{ collection.items || '???' }} ítems</span>
                    <span>{{ collection.publisher.data.name }}</span>
                </div>
                <div class="user-collection-modal-bg" 
                    [style]="'background-image: url(' + collection.image + ');'">
                    <div></div>
                </div>
            </div>
            <p class="user-collection-modal-wishing">
                Está buscando <strong>{{ collection.wishing }}</strong> ítems:
                <span *ngFor="let item of userWishing; last as isLast">
                    <!-- <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span> -->
                    <span>{{ item.name }}</span>
                    <span *ngIf="!isLast">, </span>
                </span>
            </p>
            <p class="user-collection-modal-trading">
                Tiene <strong>{{ collection.trading }}</strong> ítems para cambiar:
                <span *ngFor="let item of userTrading; last as isLast">
                    <!-- <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span> -->
                    <span>{{ item.name }}</span>
                    <span *ngIf="!isLast">, </span>
                </span>
            </p>
            <p class="user-collection-modal-udpate">
                Actualizado el {{ collection.updated | date:'dd/MM/YYYY \'a las\' HH:mm \'hrs.\'' }}
            </p>
        </div>
        <!-- <div class="user-collection-modal-image">
            <img class="" [src]="collection.image" [alt]="collection.name">
        </div> -->
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="onClose()">Cerrar</button>
    <a mat-raised-button mat-dialog-close color="accent" [routerLink]="['/c', collection.name | slugify, collection.id]">
        Ir a la colección    
    </a>
</mat-dialog-actions>