<mat-dialog-content>
    @if (isLoaded$ | async) {
    <div class="user-collection-modal">
        <div class="user-collection-modal-content">
            <div class="user-collection-modal-heading">
                <p class="h2">
                    Listados de <strong>{{ (user$ | async)?.displayName }}</strong> en<br />
                    <strong>{{ collection.name }}</strong>
                </p>
                <div class="collection-meta custom-separator">
                    <span>{{ collection.year }}</span>
                    <span>{{ collection.items || '???' }} ítems</span>
                    <span>{{ collection.publisher.data.name }}</span>
                </div>
                @if (collection.userData?.publicComment) {
                <div class="user-collection-modal-desc">
                    <p [innerHTML]="collection.userData?.publicComment | sanitizeHtml"></p>
                </div>
                }
                <div class="user-collection-modal-bg" [style]="'background-image: url(' + collection.image + ');'">
                    <div></div>
                </div>
            </div>
            <p class="user-collection-modal-wishing">
                Está buscando <strong>{{ collection.userData?.wishing }}</strong> ítems:
                @for (item of userWishing; track item.id; let isLast = $last) {
                <span>
                    <!-- <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span> -->
                    <span>{{ item.name }}</span>
                    @if (!isLast) { <span>, </span> }
                </span>
                }
            </p>
            <p class="user-collection-modal-trading">
                Tiene <strong>{{ collection.userData?.trading }}</strong> ítems para cambiar:
                @for (item of userTrading; track item.id; let isLast = $last) {
                <span>
                    <!-- <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span> -->
                    <span>{{ item.name }}</span>
                    @if (!isLast) { <span>, </span> }
                </span>
                }
            </p>
            <p class="user-collection-modal-udpate">
                Actualizado el {{ collection.updated | date:'dd/MM/YYYY \'a las\' HH:mm \'hrs.\'' }}
            </p>
        </div>
    </div>
    } @else {
    <div class="loading-indicator">
        <mat-spinner aria-label="cargando"></mat-spinner>
    </div>
    }
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="onClose()">Cerrar</button>
    <a mat-raised-button mat-dialog-close color="accent"
        [routerLink]="['/c', collection.name + ' ' + collection.publisher.data.name | slugify, collection.id]">
        Ir a la colección
    </a>
</mat-dialog-actions>