<h2 mat-dialog-title>Seleccionar imagen</h2>
<mat-dialog-content>

    <div class="upload-image-center">
        <div class="upload-image-content">
            <div class="upload-image-main">
                @if (!imageSelected) {
                <div class="upload-image-input">
                    <a mat-raised-button>
                        <label class="custom-file-upload">
                            <input type="file" (change)="fileChangeEvent($event)" style="display: none;"
                                accept="image/png, image/jpeg, image/jpg" />
                            Cargar una foto
                        </label>
                    </a>
                </div>
                }

                <div class="upload-image-cropper">
                    <image-cropper #cropper [allowMoveImage]="false" [autoCrop]="false"
                        [canvasRotation]="canvasRotation" [cropperMinWidth]="200" format="jpeg" output="base64"
                        [hideResizeSquares]="false" [imageChangedEvent]="imageChangedEvent" [imageQuality]="100"
                        [maintainAspectRatio]="false" [resizeToWidth]="1200" [onlyScaleDown]="true"
                        [transform]="transform" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                </div>

                <!-- <img [src]="croppedImage" /> -->
            </div>
        </div>
    </div>

</mat-dialog-content>

@if (imageSelected) {
<div class="upload-image-actions">
    <button mat-flat-button aria-label="Alejar" (click)="onFullZoomOut()">
        <mat-icon>zoom_out</mat-icon>
    </button>
    <mat-slider min="1" max="5" step="0.5" aria-label="Zoom">
        <input matSliderThumb [(value)]="scale" (valueChange)="onChangeScale($event)" />
    </mat-slider>
    <button mat-flat-button aria-label="Acercar" (click)="onFullZoomIn()">
        <mat-icon>zoom_in</mat-icon>
    </button>
</div>
}

<mat-dialog-actions>
    <a mat-raised-button [disabled]="isSaving" (click)="onClose()">Cerrar</a>
    @if (imageSelected) {
    <button (click)="onRotate()" [disabled]="isSaving" mat-icon-button aria-label="Rotar a la derecha">
        <mat-icon>rotate_right</mat-icon>
    </button>
    <a (click)="onSaveImage()" [disabled]="isSaving" mat-raised-button color="accent">
        Subir
    </a>
    }
</mat-dialog-actions>