@if (isLoaded$ | async) {
<section class="settings-section">
    <div class="settings-blacklist">

        <div class="card">
            @if ((blacklist$ | async)?.length) {
            <mat-list>
                <div mat-subheader>Usuarios bloqueados ({{ (blacklist$ | async)?.length }})</div>
                @for (bl of blacklist$ | async; track bl.id) {
                <mat-list-item>
                    <div matListItemTitle>
                        <a [routerLink]="['/user', bl.id]">{{ bl.displayName }}</a>
                    </div>
                    <div matListItemLine>ID {{ bl.id }}</div>
                    <button (click)="onRemove(bl.id)" mat-stroked-button color="warn" [disabled]="isProcessing$ | async"
                        matListItemMeta style="color: #f44336">
                        <mat-icon>delete</mat-icon> Desbloquear
                    </button>
                </mat-list-item>
                }
            </mat-list>
            } @else {
            <div class="empty-content">
                <h2>(¬‿¬)</h2>
                <p>Todavía no tienes a ningún usuario bloqueado!</p>
            </div>
            }
        </div>

    </div>
</section>
} @else {
<div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
}