<section *ngIf="isLoaded else loading" class="user">
  <div class="user-info card">

    <div class="user-header">
      <div class="user-image-background" [defaultImage]="defaultUserImage" [lazyLoad]="user.image || defaultUserImage">
      </div>
      <div class="user-subheader">
        <div class="user-image-container">
          <img class="user-image" [defaultImage]="defaultUserImage" [lazyLoad]="user.image || defaultUserImage"
            [alt]="user.displayName" crossorigin="anonymous">
          <span *ngIf="user.accountTypeId == 2" class="pro-label">PRO</span>
        </div>
        <div class="user-actions">
          <a *ngIf="authUser.id && (authUser.id != user.id)" class="btn" mat-raised-button color="accent"
            [routerLink]="['/message', user.id]">
            <mat-icon class="only-icon-button">add</mat-icon> Conversar
          </a>
          <a *ngIf="authUser.id && (authUser.id == user.id)" class="btn" mat-raised-button color="accent"
            [routerLink]="['/settings']">
            <mat-icon>edit</mat-icon> Editar
          </a>
          <a class="btn" mat-stroked-button [matMenuTriggerFor]="menu">
            <mat-icon class="only-icon-button">more_vert</mat-icon>
          </a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onShare()">Compartir</button>
            <button *ngIf="authUser.id && (authUser.id != user.id) && !user.inBlacklist" mat-menu-item
              (click)="onShowConfirm()" [disabled]="isSaving">Bloquear</button>
            <button *ngIf="authUser.id && (authUser.id != user.id) && user.inBlacklist" mat-menu-item
              (click)="toggleBlacklist(false)" [disabled]="isSaving">Desbloquear</button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="user-main">
      <h1>{{ user.displayName }}</h1>
      <p class="subtitle">ID de usuario: <strong>{{ user.id }}</strong></p>

      <p *ngIf="user.bio" class="user-description" [innerHTML]="user.bio | sanitizeHtml"></p>

      <div class="user-details">
        <span>
          <mat-icon>my_location</mat-icon>
          <span *ngIf="user.location">{{ user.location_city }}, {{ user.location_country }}</span>
          <span *ngIf="!user.location"><i>Sin información</i></span>
        </span>
        <span>
          <mat-icon>av_timer</mat-icon>Visto el
          <strong>{{ user.lastLogin | date:'dd/MM/YYYY' }}</strong>
          (<span appDaysSinceLogin="{{ user.daysSinceLogin }}" [preText]="''"></span>)
        </span>
        <span *ngIf="user.inBlacklist" class="danger">
          <mat-icon>person_off</mat-icon>Bloqueado
        </span>
      </div>

      <div *ngIf="!user.active && !user.disabled" class="alert alert-warning">
        <div class="alert-container">
          <div class="alert-content">
            <div class="alert-title">Atención</div>
            <div class="alert-message">Este usuario ha indicado que no está realizando cambios por el momento!</div>
          </div>
        </div>
      </div>

      <div *ngIf="user.disabled" class="alert alert-warn">
        <div class="alert-container">
          <div class="alert-content">
            <div class="alert-title">Atención</div>
            <div class="alert-message">Este usuario se encuentra "deshabilitado" por lo que no es considerado en
              los posibles cambios, no puede registrar evaluaciones, ni puede enviar/recibir mensajes</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="authUser.id && (authUser.id != user.id) && !showTrades" class="become-pro">
      <p>Usuarios <span class="pro-label">PRO</span> pueden ver los posibles cambios</p>
      <a [routerLink]="['/collaborate']">+&nbsp;INFO</a>
    </div>

    <!-- <ng-container *ngIf="isAdsLoaded">
      <ng-adsense *ngIf="!authUser.id || (authUser.accountTypeId == 1)" [adSlot]="1449289134" [adFormat]="'auto'"
        [display]="'block'" [fullWidthResponsive]="true" [className]="'bga-hor'"></ng-adsense>
    </ng-container> -->

    <mat-expansion-panel *ngIf="authUser.id && showTrades" class="trades-details">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tienen {{ possibleTrades }} posibles cambios!
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let col of trades" class="trades-collection">
        <div class="trades-collection-info">
          <a [routerLink]="['/c', col.name + ' ' + col.publisherName | slugify, col.id]">
            <img [defaultImage]="defaultCollectionImage" [lazyLoad]="col.image || defaultCollectionImage"
              [alt]="col.name + ' de ' + col.publisherName" crossorigin="anonymous">
            <span>{{ col.name }}</span>
          </a>
        </div>
        <div class="trades-list">
          <div *ngIf="col.totalSearching">
            Tiene <strong>{{ col.totalSearching }}</strong> ítems que tú buscas:
            <span *ngFor="let item of col.searching; last as isLast">
              <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span>
              <span *ngIf="!isLast">, </span>
            </span>
          </div>
          <div *ngIf="col.totalTrading">
            Busca <strong>{{ col.totalTrading }}</strong> ítems que tú cambias:
            <span *ngFor="let item of col.trading; last as isLast">
              <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span>
              <span *ngIf="!isLast">, </span>
            </span>
          </div>
        </div>
      </div>

      <div class="difficulty-explanation">
        <p>
          Los colores sirven para indicar la dificultad de conseguir el ítem de acuerdo a lo siguiente:
          <br />
          <span class="item-difficulty-5">Muy Difícil</span>,
          <span class="item-difficulty-4">Difícil</span>,
          <span class="item-difficulty-3">Rara</span>,
          <span class="item-difficulty-2">Infrecuente</span>,
          <span class="item-difficulty-1">Común</span>
          y <span class="item-difficulty-0">Por categorizar</span>.
        </p>
        <p>
          Revisa <a
            href="https://trello.com/c/QRvIcc3x/8-ayudar-a-hacer-mejores-cambios-indicando-la-dificultad-de-las-l%C3%A1minas-en-los-posibles-cambios"
            target="_blank" rel="noopener noreferrer">aquí</a> para ver mas detalles de la lógica usada para categorizar
          los ítems de la colección por dificultad.
        </p>
      </div>
    </mat-expansion-panel>

    <h2>Secciones</h2>
    <ul class="nav-vert-std">
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./evaluation']">
          <div>
            Evaluaciones recibidas&nbsp;
            <span *ngIf="(user.userSummary?.positives || 0) > 0" class="positives-label">+{{ user.userSummary?.positives
              }}</span>
            <span *ngIf="(user.userSummary?.negatives || 0) > 0" class="negatives-label">-{{ user.userSummary?.negatives
              }}</span>
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./collection']">
          <div>
            Tiene <strong>{{ user.userSummary?.collections | number:'':'es' }}</strong> colecciones, <strong>{{
              user.userSummary?.completed| number:'':'es' }}</strong> completadas
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./media']">
          <div>
            Ha agregado <strong>{{ user.contributions || 0 }}</strong> elemento(s) multimedia
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
    </ul>

    <!-- <mat-nav-list>
      <a mat-list-item [routerLink]="['./evaluation']">
        <div mat-line>
          Evaluaciones recibidas&nbsp;
          <span *ngIf="(user.userSummary?.positives || 0) > 0" class="positives-label">+{{ user.userSummary?.positives
            }}</span>
          <span *ngIf="(user.userSummary?.negatives || 0) > 0" class="negatives-label">-{{ user.userSummary?.negatives
            }}</span>
        </div>
        <mat-icon>navigate_next</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['./collection']">
        <div mat-line>
          Tiene <strong>{{ user.userSummary?.collections | number:'':'es' }}</strong> colecciones, <strong>{{
            user.userSummary?.completed| number:'':'es' }}</strong> completadas
        </div>
        <mat-icon>navigate_next</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['./media']">
        <div mat-line>
          Ha agregado <strong>{{ user.contributions || 0 }}</strong> elemento(s) multimedia
        </div>
        <mat-icon>navigate_next</mat-icon>
      </a>
    </mat-nav-list> -->

    <hr />

    <div class="user-publisher">
      <p>Busca <strong>{{ user.userSummary?.wishing | number:'':'es' }}</strong> ítems, cambia <strong>{{
          user.userSummary?.trading |
          number:'':'es' }}</strong> ítems</p>
      <p>Cuenta creada el {{ user.registration | date:'dd/MM/YYYY' }}</p>
    </div>
  </div>
</section>

<ng-template #loading>
  <section class="user">
    <div class="user-info card">

      <div class="user-header">
        <div class="user-image-background" style="background-image: url('/assets/img/profile_user.png');">
        </div>
        <div class="user-subheader">
          <div class="user-image-container">
            <img class="user-image" src="/assets/img/profile_user.png">
          </div>
          <div class="user-actions">
            <a class="btn" mat-stroked-button aria-label="Opciones">
              <mat-icon class="only-icon-button">more_vert</mat-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="user-main">
        <h1>Cargando nombre del usuario</h1>
        <p class="subtitle">ID de usuario: <strong>???</strong></p>

        <p class="user-description">Cargando descripción del usuario</p>

        <div class="user-details">
          <span>
            <mat-icon>my_location</mat-icon>
            <span>Cargando ubicación</span>
          </span>
          <span>
            <mat-icon>av_timer</mat-icon>Visto el
            <strong>??/??/????</strong>
          </span>
        </div>
      </div>

      <h2>Secciones</h2>
      <ul class="nav-vert-std">
        <li>
          <a class="nav-vert-std-a" [routerLink]="['./evaluation']">
            <div>
              Evaluaciones recibidas&nbsp;
            </div>
            <mat-icon>navigate_next</mat-icon>
          </a>
        </li>
        <li>
          <a class="nav-vert-std-a" [routerLink]="['./collection']">
            <div>
              Tiene <strong>???</strong> colecciones, <strong>???</strong> completadas
            </div>
            <mat-icon>navigate_next</mat-icon>
          </a>
        </li>
        <li>
          <a class="nav-vert-std-a" [routerLink]="['./media']">
            <div>
              Ha agregado <strong>???</strong> elemento(s) multimedia
            </div>
            <mat-icon>navigate_next</mat-icon>
          </a>
        </li>
      </ul>

      <hr />

      <div class="user-publisher">
        <p>Busca <strong>???</strong> ítems, cambia <strong>???</strong> ítems</p>
        <p>Cuenta creada el ??/??/????</p>
      </div>
    </div>
  </section>
</ng-template>

<ng-template #confirmDialog>
  <h2 mat-dialog-title>Bloquear usuario</h2>
  <div matDialogContent>
    <p>Estás seguro de bloquear a este usuario? Si confirmas:</p>
    <ul>
      <li>Este usuario no aparecerá en tus posibles cambios</li>
      <li>Este usuario no aparecerá en tu lista de mensajes</li>
      <li>No te llegarán notificaciones de nuevos mensajes de este usaurio</li>
    </ul>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="isSaving">Cancelar</button>
    <button mat-raised-button (click)="toggleBlacklist(true)" [disabled]="isSaving" color="warn">
      Bloquear
    </button>
  </mat-dialog-actions>
</ng-template>

<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner aria-label="cargando"></mat-spinner>
</div>