@if (isLoaded$ | async) {
<section class="user">
  <div class="user-info card">

    <div class="user-header">
      <!-- <div class="user-image-background" [defaultImage]="defaultUserImage" [lazyLoad]="user.image || defaultUserImage"> -->
      <div class="user-image-background"
        [style]="'background-image: url(' + ((user$ | async)?.image || defaultUserImage) + ');'">
      </div>
      <div class="user-subheader">
        <div class="user-image-container">
          <img class="user-image" [src]="(user$ | async)?.image || defaultUserImage"
            [alt]="(user$ | async)?.displayName" crossorigin="anonymous" fetchpriority="high">
          <!-- <img class="user-image" [defaultImage]="defaultUserImage" [lazyLoad]="user.image || defaultUserImage"
              [alt]="user.displayName" crossorigin="anonymous"> -->
          @if ((user$ | async)?.accountTypeId == 2) {
          <span class="pro-label">PRO</span>
          }
        </div>
        <div class="user-actions">
          @if ((isAuth$ | async) && !isSameUser) {
          <a class="btn" mat-raised-button color="accent" [routerLink]="['/message', (user$ | async)?.id]">
            <mat-icon class="only-icon-button">add</mat-icon> Conversar
          </a>
          }
          @if ((isAuth$ | async) && isSameUser) {
          <a class="btn" mat-raised-button color="accent" [routerLink]="['/settings']">
            <mat-icon>edit</mat-icon> Editar
          </a>
          }
          <a class="btn" mat-stroked-button [matMenuTriggerFor]="menu">
            <mat-icon class="only-icon-button">more_vert</mat-icon>
          </a>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onShare()">Compartir</button>
            @if ((isAuth$ | async) && !isSameUser && !(user$ | async)?.inBlacklist) {
            <button mat-menu-item (click)="onShowConfirm()" [disabled]="isProcessing$ | async">Bloquear</button>
            }
            @if ((isAuth$ | async) && !isSameUser && (user$ | async)?.inBlacklist) {
            <button mat-menu-item (click)="toggleBlacklist(false)"
              [disabled]="isProcessing$ | async">Desbloquear</button>
            }
            @if ((isAuth$ | async) && !isSameUser) {
            <input #reportUser style="display: none" type="text" [value]="(user$ | async)">
            <button mat-menu-item #report (click)="onShowReportDialog(+reportUser.value)"
              [disabled]="isProcessing$ | async">Reportar</button>
            }
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="user-main">
      <h1>{{ (user$ | async)?.displayName }}</h1>
      <p class="subtitle">ID de usuario: <strong>{{ (user$ | async)?.id }}</strong></p>

      @if ((user$ | async)?.bio) {
      <p class="user-description" [innerHTML]="(user$ | async)?.bio | sanitizeHtml"></p>
      }

      <div class="user-details">
        <span>
          <mat-icon>my_location</mat-icon>
          @if ((user$ | async)?.location) {
          <span>{{ (user$ | async)?.location_city }}, {{ (user$ |
            async)?.location_country }}</span>
          }
          @if (!(user$ | async)?.location) {
          <span><i>Sin información</i></span>
          }
        </span>
        <span>
          <mat-icon>av_timer</mat-icon>Visto el
          <strong>{{ (user$ | async)?.lastLogin | date:'dd/MM/YYYY' }}</strong>
          (<span appDaysSinceLogin="{{ (user$ | async)?.daysSinceLogin }}" [preText]="''"></span>)
        </span>
        @if ((user$ | async)?.inBlacklist) {
        <span class="danger">
          <mat-icon>person_off</mat-icon>Bloqueado
        </span>
        }
      </div>

      @if (!(user$ | async)?.active && !(user$ | async)?.disabled) {
      <div class="alert alert-warning">
        <div class="alert-container">
          <div class="alert-content">
            <div class="alert-title">Atención</div>
            <div class="alert-message">Este usuario ha indicado que no está realizando cambios por el momento!</div>
          </div>
        </div>
      </div>
      }

      @if ((user$ | async)?.disabled) {
      <div class="alert alert-warn">
        <div class="alert-container">
          <div class="alert-content">
            <div class="alert-title">Atención</div>
            <div class="alert-message">Este usuario se encuentra "deshabilitado" por lo que no es considerado en
              los posibles cambios, no puede registrar evaluaciones, ni puede enviar/recibir mensajes</div>
          </div>
        </div>
      </div>
      }
    </div>

    @if ((isAuth$ | async) && !isSameUser && !(showTrades$ | async)) {
    <div class="become-pro">
      <p>Usuarios <span class="pro-label">PRO</span> pueden ver los posibles cambios</p>
      <a [routerLink]="['/collaborate']">+&nbsp;INFO</a>
    </div>
    }

    @if ((isAuth$ | async) && (showTrades$ | async)) {
    <mat-expansion-panel class="trades-details">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tienen {{ possibleTrades$ | async }} posibles cambios!
        </mat-panel-title>
      </mat-expansion-panel-header>

      @for (col of trades$ | async; track col.id) {
      <div class="trades-collection">
        <div class="trades-collection-info">
          <a [routerLink]="['/c', col.name + ' ' + col.publisherName | slugify, col.id]">
            <img [defaultImage]="defaultCollectionImage" [lazyLoad]="col.image || defaultCollectionImage"
              [alt]="col.name + ' de ' + col.publisherName" crossorigin="anonymous">
            <span>{{ col.name }}</span>
          </a>
        </div>
        <div class="trades-list">
          @if (col.totalSearching) {
          <div>
            Tiene <strong>{{ col.totalSearching }}</strong> ítems que tú buscas:
            @for (item of col.searching; track item.id; let isLast = $last) {
            <span>
              <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span>
              @if (!isLast) { <span>, </span> }
            </span>
            }
          </div>
          }
          @if (col.totalTrading) {
          <div>
            Busca <strong>{{ col.totalTrading }}</strong> ítems que tú cambias:
            @for (item of col.trading; track item.id; let isLast = $last) {
            <span>
              <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId">{{ item.name }}</span>
              @if (!isLast) { <span>, </span> }
            </span>
            }
          </div>
          }
        </div>
      </div>
      }


      <div class="difficulty-explanation">
        <p>
          Los colores sirven para indicar la dificultad de conseguir el ítem de acuerdo a lo siguiente:
          <br />
          <span class="item-difficulty-5">Muy Difícil</span>,
          <span class="item-difficulty-4">Difícil</span>,
          <span class="item-difficulty-3">Rara</span>,
          <span class="item-difficulty-2">Infrecuente</span>,
          <span class="item-difficulty-1">Común</span>
          y <span class="item-difficulty-0">Por categorizar</span>.
        </p>
        <p>
          Revisa <a
            href="https://trello.com/c/QRvIcc3x/8-ayudar-a-hacer-mejores-cambios-indicando-la-dificultad-de-las-l%C3%A1minas-en-los-posibles-cambios"
            target="_blank" rel="noopener noreferrer">aquí</a> para ver mas detalles de la lógica usada para categorizar
          los ítems de la colección por dificultad.
        </p>
      </div>
    </mat-expansion-panel>
    }

    <h2>Secciones</h2>
    <ul class="nav-vert-std">
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./evaluation']">
          <div>
            Evaluaciones recibidas&nbsp;
            @if (((user$ | async)?.userSummary?.positives || 0) > 0) {
            <span class="positives-label">+{{ (user$ |
              async)?.userSummary?.positives
              }}</span>
            }
            @if (((user$ | async)?.userSummary?.negatives || 0) > 0) {
            <span class="negatives-label">-{{ (user$ |
              async)?.userSummary?.negatives
              }}</span>
            }
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./collection']">
          <div>
            Tiene <strong>{{ (user$ | async)?.userSummary?.collections | number:'':'es' }}</strong> colecciones,
            <strong>{{
              (user$ | async)?.userSummary?.completed| number:'':'es' }}</strong> completadas
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./media']">
          @let imgTxt = (user$ | async)?.userSummary?.contributions == 1 ? 'imagen' : 'imágenes';
          <div>
            Ha agregado <strong>{{ (user$ | async)?.userSummary?.contributions }}</strong> {{ imgTxt }}
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
    </ul>

    <hr />

    <div class="user-publisher">
      <p>Busca <strong>{{ (user$ | async)?.userSummary?.wishing | number:'':'es' }}</strong> ítems, cambia <strong>{{
          (user$ | async)?.userSummary?.trading |
          number:'':'es' }}</strong> ítems</p>
      <p>Cuenta creada el {{ (user$ | async)?.registration | date:'dd/MM/YYYY' }}</p>
    </div>
  </div>
</section>
} @else {
<section class="user">
  <div class="user-info card">

    <div class="user-header">
      <div class="user-image-background" style="background-image: url('/assets/img/profile_user.png');">
      </div>
      <div class="user-subheader">
        <div class="user-image-container">
          <img class="user-image" src="/assets/img/profile_user.png">
        </div>
        <div class="user-actions">
          <a class="btn" mat-stroked-button aria-label="Opciones">
            <mat-icon class="only-icon-button">more_vert</mat-icon>
          </a>
        </div>
      </div>
    </div>

    <div class="user-main">
      <h1>Cargando nombre del usuario</h1>
      <p class="subtitle">ID de usuario: <strong>???</strong></p>

      <p class="user-description">Cargando descripción del usuario</p>

      <div class="user-details">
        <span>
          <mat-icon>my_location</mat-icon>
          <span>Cargando ubicación</span>
        </span>
        <span>
          <mat-icon>av_timer</mat-icon>Visto el
          <strong>??/??/????</strong>
        </span>
      </div>
    </div>

    <h2>Secciones</h2>
    <ul class="nav-vert-std">
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./evaluation']">
          <div>
            Evaluaciones recibidas&nbsp;
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./collection']">
          <div>
            Tiene <strong>???</strong> colecciones, <strong>???</strong> completadas
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
      <li>
        <a class="nav-vert-std-a" [routerLink]="['./media']">
          <div>
            Ha agregado <strong>???</strong> imágenes
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
    </ul>

    <hr />

    <div class="user-publisher">
      <p>Busca <strong>???</strong> ítems, cambia <strong>???</strong> ítems</p>
      <p>Cuenta creada el ??/??/????</p>
    </div>
  </div>
</section>
}

<ng-template #confirmDialog>
  <h2 mat-dialog-title>Bloquear usuario</h2>
  <div matDialogContent>
    <p>Estás seguro de bloquear a este usuario? Si confirmas:</p>
    <ul>
      <li>Este usuario no aparecerá en tus posibles cambios</li>
      <li>Este usuario no aparecerá en tu lista de mensajes</li>
      <li>No te llegarán notificaciones de nuevos mensajes de este usaurio</li>
    </ul>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="isProcessing$ | async">Cancelar</button>
    <button mat-raised-button (click)="toggleBlacklist(true)" [disabled]="isProcessing$ | async" color="warn">
      Bloquear
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- <div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner aria-label="cargando"></mat-spinner>
</div> -->