.mini-card-grid {
  padding: 3rem 0 3rem 2rem;
  margin: 0;
  display: flex;
  overflow-x: scroll;
}

.module {
  clear: both;
  margin: 0 0 1rem;
  position: relative;
}

.mini-card {
  height: 400px;
  padding: 1.5rem;
  box-shadow: -2rem 0 3rem -2rem #000;
  border-radius: 16px;
  background: linear-gradient(
85deg,#434343,#262626);
  color: #fff;
  // color: #474747;
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
}

.mini-card-image {
  height: 300px;
}

.mini-card-title {
  font-size: 1.3rem;
  margin: 0 0 1rem;
}

.mini-card:not(:first-child) {
  // margin-left: -130px;
  box-shadow: -3rem 0 3rem -2rem #000;
}

.mini-card:focus-within, .mini-card:hover {
  transform: translateY(-1rem) rotate(3deg);
}

.mini-card:first-child:focus-within, .mini-card:first-child:hover {
  transform: translate(-0.5rem,-1rem) rotate(3deg);
}
