<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>
<section *ngIf="isLoaded" class="collection collection-section">
  <div class="collection-visual">
    <a class="btn" mat-stroked-button color="primary" [routerLink]="['../']">
      <mat-icon inline="true">arrow_back</mat-icon> Volver
    </a>
    <div class="collection-imagen-container">
      <img class="collection-image" [src]="collection?.image" [alt]="collection?.name">
    </div>
  </div>
  <div class="collection-info">
    <h1>Itemizado</h1>
    <table mat-table [dataSource]="items" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nro. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <ng-container matColumnDef="difficulty">
        <th mat-header-cell *matHeaderCellDef> Dificultad </th>
        <td mat-cell *matCellDef="let element"> {{element.difficulty}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>