<section *ngIf="isLoaded else loading" class="home">
  <div class="site-title">
    <div class="site-title-main">
      <img src="/assets/img/logo-icon-40x40.svg" alt="Logo Intercambialaminas.com">
      <h1>Intercambia y completa tus álbumes!</h1>
    </div>
    <p>Encuentra fácilmente con quien cambiar las láminas / stickers / figuritas / pegatinas / cromos / estampas que te faltan!</p>
  </div>

  <h2>Populares</h2>
  <p class="home-subtitle">
    Álbumes / Colecciones con mas usuarios en los últimos 15 días
  </p>
  <app-list-resalted-collections [collections]="popular"></app-list-resalted-collections>

  <h2>Con más elementos multimedia</h2>
  <p class="home-subtitle">
    Usuarios con más elementos multimedia publicados en los últimos 30 días
  </p>
  <app-list-users [users]="moreMedia" [type]="'media'"></app-list-users>

  <h2>Recientemente publicados</h2>
  <p class="home-subtitle">
    Últimos ábumes / colecciones publicados por las editoriales
  </p>
  <app-list-collections [collections]="published"></app-list-collections>

  <h2>Con más ítems listados</h2>
  <p class="home-subtitle">
    Usuarios con mas ítems (láminas / stickers / figuritas / pegatinas / cromos / estampas) marcados
  </p>
  <app-list-users [users]="moreItems" [type]="'item'"></app-list-users>

  <h2>Últimas incorporaciones a nuestro catálogo</h2>
  <p class="home-subtitle">
    Últimos ábumes / colecciones agregados a nuestro catálogo
  </p>
  <app-list-collections [collections]="added"></app-list-collections>

  <h2>Últimos en registrarse</h2>
  <p class="home-subtitle">
    Últimos usuarios que se han registrado
  </p>
  <app-list-users [users]="users"></app-list-users>
</section>

<ng-template #loading>
  <section class="home">
    <div class="site-title">
      <div class="site-title-main">
        <img src="/assets/img/logo-icon-40x40.svg" alt="Logo Intercambialaminas.com">
        <h1>Intercambia y completa tus álbumes!</h1>
      </div>
      <p>Encuentra fácilmente con quien cambiar las láminas / stickers / figuritas / pegatinas / cromos / estampas que te faltan!</p>
    </div>

    <h2>Populares</h2>
    <p class="home-subtitle">
      Álbumes / Colecciones con mas usuarios en los últimos 15 días
    </p>
    <div class="list-of-collections">
      <div class="horizontal-card-grid">
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2>Con más elementos multimedia</h2>
    <p class="home-subtitle">
      Usuarios con más elementos multimedia publicados en los últimos 30 días
    </p>
    <ul class="user-card-list">
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
    </ul>
  </section>
</ng-template>

<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>