<section *ngIf="isLoaded else loading" class="home">
  <h2>Populares</h2>
  <app-list-resalted-collections [collections]="popular"></app-list-resalted-collections>

  <h2>Con más elementos multimedia</h2>
  <app-list-users [users]="moreMedia" [type]="'media'"></app-list-users>

  <h2>Recientemente publicados</h2>
  <app-list-collections [collections]="published"></app-list-collections>

  <h2>Con más ítems listados</h2>
  <app-list-users [users]="moreItems" [type]="'item'"></app-list-users>

  <h2>Últimas incorporaciones a nuestro catálogo</h2>
  <app-list-collections [collections]="added"></app-list-collections>

  <h2>Últimos en registrarse</h2>
  <app-list-users [users]="users"></app-list-users>
</section>

<ng-template #loading>
  <section class="home">
    <h2>Populares</h2>
    <div class="list-of-collections">
      <div class="horizontal-card-grid">
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
        <div class="row-item collection-item">
          <div class="row-item-image">
            <a class="row-item-image-url">
              <img src="/assets/img/profile_collection.jpeg" alt="Imagen de ejemplo para una colección"
                title="Imagen de ejemplo para una colección" width="400" height="510">
            </a>
          </div>
          <div class="row-item-text">
            <h3 class="meta-title">
              <a>
                Cargando...
              </a>
            </h3>
            <p class="meta-subtitle">
              <a href="">Cargando...</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <h2>Con más elementos multimedia</h2>
    <ul class="user-card-list">
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" alt="Imagen de ejemplo para un usuario" class="user-card-image">
          <h3 class="user-card-title">Cargando...</h3>
        </a>
        <p class="user-card-subtitle">Cargando...</p>
        <hr />
        <div class="user-card-info">
          <span><strong>???</strong> media</span>
        </div>
      </li>
    </ul>
  </section>
</ng-template>

<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>