<section class="home">
    <div class="site-title">
        <div class="site-title-main">
            <img src="/assets/img/logo-icon-40x40.svg" title="Logo Intercambialaminas.com"
                alt="Logo Intercambialaminas.com" width="60" height="60">
            <h1>Intercambia stickers y completa tus álbumes</h1>
        </div>
        <p>Encuentra fácilmente con quién cambiar láminas / stickers / figuritas / pegatinas / cromos / estampas /
            cartas!
        </p>
    </div>

    <h2>Populares</h2>
    <p class="home-subtitle">
        Álbumes / Colecciones con más usuarios en los últimos 15 días
    </p>
    <div class="list-of-collections">
        <div class="horizontal-card-grid">
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
            <div class="row-item collection-item">
                <div class="row-item-image">
                    <a class="row-item-image-url">
                        <img [src]="defaultCollectionImage" alt="Imagen de ejemplo para una colección"
                            title="Imagen de ejemplo para una colección" width="400" height="510" priority>
                    </a>
                </div>
                <div class="row-item-text">
                    <h3 class="meta-title">
                        <a>
                            Cargando...
                        </a>
                    </h3>
                    <p class="meta-subtitle">
                        <a href="">Cargando...</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h2>Con más elementos multimedia</h2>
    <p class="home-subtitle">
        Usuarios con más elementos multimedia publicados en los últimos 30 días
    </p>
    <ul class="user-card-list">
        <li class="user-card card">
            <a>
                <div class="user-card-image-container">
                    <img [src]="defaultProfileImage" title="Imagen de ejemplo para un usuario"
                        alt="Imagen de ejemplo para un usuario" class="user-card-image">
                </div>
                <h3 class="user-card-title">Cargando...</h3>
            </a>
            <p class="user-card-subtitle">Cargando...</p>
            <hr />
            <div class="user-card-info">
                <span><strong>???</strong> media</span>
            </div>
        </li>
        <li class="user-card card">
            <a>
                <div class="user-card-image-container">
                    <img [src]="defaultProfileImage" title="Imagen de ejemplo para un usuario"
                        alt="Imagen de ejemplo para un usuario" class="user-card-image">
                </div>
                <h3 class="user-card-title">Cargando...</h3>
            </a>
            <p class="user-card-subtitle">Cargando...</p>
            <hr />
            <div class="user-card-info">
                <span><strong>???</strong> media</span>
            </div>
        </li>
        <li class="user-card card">
            <a>
                <div class="user-card-image-container">
                    <img [src]="defaultProfileImage" title="Imagen de ejemplo para un usuario"
                        alt="Imagen de ejemplo para un usuario" class="user-card-image">
                </div>
                <h3 class="user-card-title">Cargando...</h3>
            </a>
            <p class="user-card-subtitle">Cargando...</p>
            <hr />
            <div class="user-card-info">
                <span><strong>???</strong> media</span>
            </div>
        </li>
        <li class="user-card card">
            <a>
                <div class="user-card-image-container">
                    <img [src]="defaultProfileImage" title="Imagen de ejemplo para un usuario"
                        alt="Imagen de ejemplo para un usuario" class="user-card-image">
                </div>
                <h3 class="user-card-title">Cargando...</h3>
            </a>
            <p class="user-card-subtitle">Cargando...</p>
            <hr />
            <div class="user-card-info">
                <span><strong>???</strong> media</span>
            </div>
        </li>
        <li class="user-card card">
            <a>
                <div class="user-card-image-container">
                    <img [src]="defaultProfileImage" title="Imagen de ejemplo para un usuario"
                        alt="Imagen de ejemplo para un usuario" class="user-card-image">
                </div>
                <h3 class="user-card-title">Cargando...</h3>
            </a>
            <p class="user-card-subtitle">Cargando...</p>
            <hr />
            <div class="user-card-info">
                <span><strong>???</strong> media</span>
            </div>
        </li>
    </ul>
</section>