<footer id="footer">
    <div class="content">
        <p class="description">
            Intercambialaminas.com es una plataforma web para coleccionistas de stickers (láminas / figuritas
            / pegatinas / cromos / estampas / cartas). Facilitamos la búsqueda y el intercambio de stickers para completar tu
            álbum o colección. Crea tu lista de stickers buscados y que tienes disponibles para cambiar, luego
            utiliza nuestra potente función de búsqueda para encontrar otros coleccionistas con quiénes poder
            intercambiar. Únete a nuestra comunidad de coleccionistas de stickers y disfruta de la emoción de completar
            tus álbumes.
        </p>
        <p class="help">
            <a routerLink="/p/faqs">FAQS</a>
            <a href="https://trello.com/b/EWDOVXHM/intercambia-roadmap" target="_blank"
                rel="noopener noreferrer">Roadmap</a>
        </p>
        <p class="legal">
            <a routerLink="/p/tos">Condiciones de uso</a>
            <a routerLink="/p/privacy">Política de privacidad</a>
            <a routerLink="/p/about">Quiénes somos</a>
        </p>
        <p class="copyright">
            <span>&copy;2015+ IntercambiaLáminas</span>
            <span>v{{ version }}</span>
        </p>
        <p class="social">
            <a href="https://facebook.com/intercambialaminas" target="_blank" rel="noopener noreferrer"
                aria-label="Visita el perfil en Facebook de IntercambiaLaminas.com">
                <mat-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z" />
                    </svg>
                </mat-icon>
            </a>
            <a href="https://twitter.com/cambialaminas" target="_blank" rel="noopener noreferrer"
                aria-label="Visita el perfil en Twitter de IntercambiaLaminas.com">
                <mat-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" />
                    </svg>
                </mat-icon>
            </a>
            <a href="https://play.google.com/store/apps/details?id=com.intercambialaminas.intercambia" target="_blank"
                rel="noopener noreferrer" aria-label="Descarga la aplicación para Android de IntercambiaLaminas.com">
                <mat-icon>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path
                            d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z" />
                    </svg>
                </mat-icon>
            </a>
        </p>
        <p class="copyright2">
            <span>{{ counter$ | async | number:'':'es' }} sesiones activas</span>
        </p>
    </div>
</footer>