<div *ngIf="!isLoaded" class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
<section *ngIf="isLoaded" class="settings-section">
    <div class="settings-delete card">

        <!-- <div class="avatar-preview">
            <img class="" [defaultImage]="defaultUserImage" [lazyLoad]="authUser.image || defaultUserImage"
                [alt]="authUser.displayName" crossorigin="anonymous">
            <div class="avatar-actions">
                <a class="btn" mat-raised-button color="accent" (click)="onNewImage()">
                    <mat-icon inline="true">upload</mat-icon> Nueva imagen
                </a>
                <a *ngIf="authUser.image" class="btn" mat-stroked-button (click)="onDeleteImage()">
                    <mat-icon inline="true">delete</mat-icon> Eliminar
                </a>
            </div>
        </div> -->

        <div class="empty-content">
            <h2>T___T</h2>
            <h3>Nos pone tristes saber que quieres irte...</h3>
            <p>Si no quieres recibir mas email de notificaciones <a [routerLink]="['../notifications']">puedes
                    desactivarlos</a>, o si quieres cambiar tu nombre de usuario, <a [routerLink]="['../']">puedes
                    hacerlo acá</a>.</p>
            <p>Pero ten en consideración, que la eliminación de tu cuenta es una acción definitiva, que no puede ser
                revertida!</p>

            <div class="delete-account-actions">
                <a class="btn" mat-raised-button color="accent" [routerLink]="['../']">
                    Mejor no
                </a>
                <button mat-raised-button [disabled]="isDeleting" (click)="onDelete()">Eliminar mi cuenta</button>
            </div>
        </div>

    </div>
</section>
<ng-template #confirmDeleteDialog>
    <p matDialogContent>Último aviso antes de eliminar tu cuenta de manera definitiva!</p>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close [disabled]="isDeleting">Cancelar</button>
        <button mat-raised-button (click)="onConfirmDelete()" [disabled]="isDeleting" color="accent">
            Eliminar
        </button>
    </mat-dialog-actions>
</ng-template>