@if (isLoaded$ | async) {
<section class="settings-section">
    <div class="settings-delete card">

        <div class="empty-content">
            <h2>T___T</h2>
            <h3>Nos pone tristes saber que quieres irte...</h3>
            <p>Si no quieres recibir mas email de notificaciones <a [routerLink]="['../notifications']">puedes
                    desactivarlos</a>, o si quieres cambiar tu nombre de usuario, <a [routerLink]="['../']">puedes
                    hacerlo acá</a>.</p>
            <p>Pero ten en consideración, que la eliminación de tu cuenta es una acción definitiva, que no puede ser
                revertida!</p>

            <div class="delete-account-actions">
                <a class="btn" mat-raised-button color="accent" [routerLink]="['../']">
                    Mejor no
                </a>
                <button mat-raised-button [disabled]="(isProcessing$ | async)" (click)="onDelete()">Eliminar mi
                    cuenta</button>
            </div>
        </div>

    </div>
</section>
} @else {
<div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
}
<ng-template #confirmDeleteDialog>
    <p matDialogContent>Último aviso antes de eliminar tu cuenta de manera definitiva!</p>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close [disabled]="(isProcessing$ | async)">Cancelar</button>
        <button mat-raised-button (click)="onConfirmDelete()" [disabled]="(isProcessing$ | async)" color="accent">
            Eliminar
        </button>
    </mat-dialog-actions>
</ng-template>