@if (lastPage() > 1) {
<div class="pagination-wrapper">
    <ul class="pagination">
        <li class="pagination-prev">
            <a role="button" (click)="(pageSelected() > 1) && onPageChange('' + (pageSelected() - 1))"
                [disabled]="pageSelected() == 1" class="btn" mat-raised-button tabindex="-1">
                <mat-icon class="only-icon-button">navigate_before</mat-icon>
            </a>
        </li>
        <li>
            <select name="page-selected" (change)="onPageChange(selectPage.value)" #selectPage>
                @for (item of pageNumbers(); track itemId($index, item)) {
                <option [value]="item" [selected]="(item) == pageSelected()">
                    Página {{ item }} de {{ lastPage() }}
                </option>
                }
            </select>
        </li>
        <li class="pagination-next">
            <a role="button" (click)="(pageSelected() != lastPage()) && onPageChange('' + (pageSelected() + 1))"
                [disabled]="pageSelected() == lastPage()" class="btn" mat-raised-button>
                <mat-icon class="only-icon-button">navigate_next</mat-icon>
            </a>
        </li>
    </ul>
</div>
}