<section class="pages privacy">
    <h1>Privacidad</h1>
    <h2><span>¡Gracias por usar IntercambiaLáminas!</span></h2>
    <p>Nuestra misión es ayudarte a organizar tu colección de álbumes, por ejemplo, permitiéndote llevar un registro de
        los álbumes o colecciones que tienes, de los ítems (láminas, stickers, figuritas, pegatinas,
        cromos, estampas, barajitas o como les digan donde tú vivas) que buscas y tienes para cambiar, y principalmente
        proponiéndote intercambios con otros usuarios a partir de la información que ingresaste previamente. Para ello,
        te mostramos contenido personalizado y anuncios que creemos que pueden interesarte basados en la información que
        recolectamos de tu uso de IntercambiaLáminas.</p>
    <p>Hemos escrito esta política de privacidad para ayudarte a entender qué información recolectamos, cómo la usamos y
        qué derechos tienes tú sobre esta información. Debido a que somos una empresa de internet, algunos conceptos
        pueden ser técnicos, pero hemos intentado explicar todo de una manera clara y sencilla.</p>

    <h2><span>1.- ¿Quién es el responsable de tus datos?</span></h2>
    <p>IntercambiaLáminas es responsable del tratamiento de su información según esta política. Si tienes cualquier duda
        puedes ponerte en contacto con nosotros
        enviándonos un correo electrónico a contacto@intercambialaminas.com</p>

    <h2><span>2.- ¿Cómo recopilamos información?</span></h2>
    <p>Recopilamos información para poder brindarte el servicio, por ejemplo para crear y mantener tu cuenta; así como
        para mejorar tu experiencia en IntercambiaLáminas, por ejemplo deduciendo qué idioma hablas.</p>
    <p>Tenemos dos maneras de recopilar esta información:</p>

    <h3><span>2.1.- Cuando nos la das o nos otorgas permiso para obtenerla</span></h3>
    <p>Por ejemplo, si te registras en IntercambiaLáminas nos proporcionas ciertos datos como tu dirección de correo
        electrónico y
        tu contraseña, que utilizamos para crear y mantener tu cuenta de usuario.</p>
    <p>Si decides registrarte en IntercambiaLáminas utilizando tu cuenta de otro servicio, por ejemplo usando el
        registro con
        Facebook, el otro servicio puede enviarnos información que tú autorizas para su utilización en nuestros
        servicios. En este caso facebook nos envía datos básicos como tu nombre, tu imágen de perfil y tu correo
        electrónico para que podamos crear tu cuenta en IntercambiaLáminas.</p>
    <blockquote><span>Más sencillo: Si te registras, nos das algún dato tuyo personal ¿lógico, verdad?</span>
    </blockquote>

    <h3><span>2.2.- Datos que obtenemos cuando usas IntercambiaLáminas</span></h3>
    <p>También recibimos cierta información cuando utilizas nuestros servicios u otros sitios web o aplicaciones que
        incluyen nuestro contenido. Al igual que la información que tú compartes con nosotros, utilizamos los siguientes
        datos para administrar nuestros servicios. Esta información incluye:</p>
    <ul>
        <li><strong>Datos de registro</strong> Recibimos información cuando interactúas de alguna forma con nuestros
            servicios, por ejemplo, cuando usas IntercambiaLáminas, interactúas con nuestras notificaciones de correo
            electrónico.
            Esta información es enviada automáticamente por
            tu navegador cada vez que visitas una página o por tu aplicación móvil cuando la estás usando. Estos datos
            de registro incluyen información como tu dirección IP, tipo de navegador, sistema operativo, página web de
            procedencia, ubicación, proveedor de servicios de telefonía móvil, información del dispositivo (incluidas
            las ID del dispositivo y de la aplicación), términos de búsqueda e información de cookies. Utilizamos Datos
            de registro para administrar nuestros servicios y asegurarnos de que funcionan de forma segura, fiable e
            íntegra. Por ejemplo, utilizamos Datos de registro para proteger la seguridad de las cuentas y determinar
            qué contenido es popular en nuestros servicios. También utilizamos estos datos para mejorar el contenido que
            mostramos.</li>
    </ul>
    <blockquote><span>Más sencillo: Esta información automática, nos ayuda a entender qué partes de IntercambiaLáminas
            te gustan
            más que otras, y siempre con estadísticas anónimas, ¡así podemos mejorar!</span></blockquote>
    <ul>
        <li><strong>Datos de cookies</strong> Una cookie es un pequeño conjunto de datos que se almacena en su ordenador
            o dispositivo móvil. Como muchos sitios web, usamos cookies de sesión y cookies persistentes para recopilar
            datos adicionales sobre el uso del sitio web. Por ejemplo, usamos cookies para guardar tus ajustes para que
            no tengas que configurarlos cada vez que visitas IntercambiaLáminas. También usamos las cookies para
            entender mejor
            cómo interactúas con nuestros servicios y poder mejorarlos. Aunque la mayoría de los navegadores de Internet
            aceptan cookies automáticamente, la configuración de algunos navegadores puede modificarse para que deje de
            aceptar cookies o para que le avise cuando un sitio web está intentando colocar una cookie en su ordenador.
        </li>
    </ul>
    <blockquote><span>Más sencillo: Para que no tengas que poner siempre tu nombre de usuario y contraseña, usamos una
            cookie encriptada para recordar quién eres.</span></blockquote>
    <ul>
        <li><strong>Información del dispositivo</strong> Recolectamos información sobre tu sistema operativo e
            identificador único de aplicación para asegurar el correcto funcionamiento de la app. En caso de detectar un
            error, recolectamos más información para ayudarnos a entenderlo y poder solucionarlo, como por ejemplo el
            tipo de dispositivo y la versión del sistema operativo. Para saber más sobre qué información nos facilita tu
            dispositivo, por favor revisa también las políticas y condiciones del fabricante de tu dispositivo o tu
            proveedor de software.</li>
    </ul>
    <blockquote><span>Más sencillo: ¡Esto nos ayuda a arreglar los malditos bugs! :)</span></blockquote>

    <h2><span>3.- ¿Qué datos recopilamos y para qué los usamos?</span></h2>
    <p>Requerimos cierta información para prestarte nuestros servicios. Por ejemplo, debes tener una cuenta para añadir
        un álbum a tu colección o dejar una evaluación en IntercambiaLáminas. Cuando optas por compartir la siguiente
        información con nosotros, la recopilamos y utilizamos para administrar y mejorar nuestros servicios.</p>

    <h3><span>3.1.- Información básica de la cuenta</span></h3>
    <p>Si optas por crear una cuenta en IntercambiaLáminas, nos proporcionas voluntariamente información personal como
        tu nombre,
        email, contraseña y foto de perfil. Usamos esta información para identificarte cuando uses IntercambiaLáminas y
        poder guardar tus acciones, como si añades un álbum a tu colección o actualizas tus listados de
        buscadas/repetidas, si creas contenido,
        etc.</p>
    <p>En IntercambiaLáminas, tu nombre y tu foto de perfil, siempre son públicos, incluso en los resultados
        de búsqueda. Y aunque podrías optar por no definir una foto de perfil y usar un seudónimo, te aconsejamos usar
        datos reales para generar confianza con los demás usuarios.</p>
    <p>Al querer revisar tus posibles cambios requerimos información sobre tu ciudad de residencia, que podemos obtener
        de señales como tu dirección
        IP o parámetros del dispositivo, y lo utilizamos para configurar tu cuenta y personalizar el contenido que te
        mostramos y proponerte cambios con otros usuarios cercanos a tí.</p>
    <blockquote><span>Más sencillo: Nos das datos personales solo si decides hacerte una cuenta, nada más.</span>
    </blockquote>

    <h3><span>3.2.- Información de contacto</span></h3>
    <p>Podemos utilizar tu información de contacto, es decir tu correo electrónico, para enviarte información sobre
        nuestros servicios y con fines de marketing. Puedes configurar tus notificaciones por correo electrónico y
        avisos del navegador, para
        controlar las notificaciones que recibes de IntercambiaLáminas. También puedes cancelar la suscripción a
        notificaciones de
        correo electrónico siguiendo las instrucciones incluidas en dichas notificaciones. Ten en cuenta que, al darte
        de baja del envío de comunicaciones promocionales, podrás seguir recibiendo comunicaciones con otras finalidades
        como actualizaciones del servicio o mensajes referentes al estado de tu cuenta.</p>
    <blockquote><span>Más sencillo: Vamos a intentar molestarte lo menos posible, ¡pero hay cosas importantes que te
            tendremos que decir!</span></blockquote>

    <h3><span>3.3.- Información adicional</span></h3>
    <p>Puedes optar por proporcionarnos información adicional para ayudarnos a mejorar tu experiencia en nuestros
        servicios. Por ejemplo, puedes indicarnos tu idioma de preferencia para que podamos personalizar el
        contenido que te mostramos, mostrándote solo las novedades en el idioma que hayas
        elegido. Si nos envías un correo electrónico o un mensaje desde las redes sociales, podemos conservar el
        mensaje y tu dirección de correo electrónico para contestar a tu solicitud. En el caso que resultes ganador de
        un sorteo, te pediremos datos adicionales como tu nombre completo y tu dirección postal. Solo utilizaremos estos
        datos para poder realizar el envío de tu premio. También obtenemos información adicional usando cookies, por
        ejemplo, para identificarte a través de diferentes sesiones. De esta manera si inicias sesión desde tu ordenador
        usando Chrome (o cualquier navegador) recordaremos que tú eres tú y no necesitarás poner tu usuario y contraseña
        cada vez que visites IntercambiaLáminas.</p>
    <blockquote><span>Más sencillo: Usamos datos adicionales para mejorar tu experiencia en IntercambiaLáminas</span>
    </blockquote>

    <h3><span>3.4.- Álbumes o Colecciones que tienes o quieres, listados de buscadas / repetidas, perfil y otra
            información pública</span></h3>
    <p>La mayoría de la información que usted nos facilita a través de IntercambiaLáminas es pública. Puedes
        facilitarnos
        información de perfil, como una pequeña biografía, o datos acerca de los álbumes que tienes o quieres adquirir,
        así como los metadatos de estas acciones. Por ejemplo información sobre cuándo has indicado que tienes o quieres
        un álbum, la aplicación que utilizaste para indicarlo, los listados de buscadas / repetidas, los
        comentarios, evaluaciones que dejas, entre otros. De esta manera, podemos avisarte cuando alguien
        te registra una evaluación o cuándo tienes mensajes sin leer. IntercambiaLáminas comparte
        esta información con otros usuarios, clientes y servicios, como por ejemplo motores de búsqueda, y utiliza esta
        información para controlar y mejorar el servicio que ofrece. Por defecto, siempre publicamos la información
        que nos facilitas hasta el momento en que la elimines.</p>
    <blockquote><span>Más sencillo: La información de tus colecciones es pública</span>
    </blockquote>

    <h3><span>3.5.- ¿Cómo usamos los datos que recopilamos?</span></h3>
    <p>Los datos que recopilamos los utilizamos para los siguientes propósitos:</p>
    <ul>
        <li>Para contactarte.</li>
        <li>Para compartir información con el fin de investigar.</li>
        <li>Prevenir o tomar acción respecto a actividades ilegales.</li>
        <li>Para mejorar los servicios que tenemos disponibles en nuestra aplicación.</li>
        <li>Para notificarte de los cambios realizados en la aplicación, o nuevos productos y servicios disponibles.</li>
        <li>Para evaluar tus necesidades y personalizar el contenido del sitio entregado de acuerdo con esas necesidades.</li>
        <li>Para enviarte material promocional de IntercambiaLáminas o de algunos de nuestros afiliados.</li>
    </ul>

    <h2><span>4.- ¿Por qué podemos usar tus datos?</span></h2>
    <p>Podemos usar tus datos bien porque nos has dado tu consentimiento al crear una cuenta en IntercambiaLáminas.</p>
    <p>Estas son las bases legales que nos permiten procesar tu información:</p>
    <ul>
        <li>Según sea necesario para cumplir con nuestras Condiciones de Uso.</li>
        <li>De acuerdo con tu consentimiento, que puedes revocar en cualquier momento.</li>
        <li>Según sea necesario para cumplir con nuestras obligaciones legales.</li>
        <li>Para la satisfacción de un interés legítimo entre nosotros, siempre que sobre este interés no prevalezcan
            tus intereses o tus derechos y libertades fundamentales.</li>
    </ul>

    <h2><span>5.- Cómo y con quién compartimos tus datos</span></h2>
    <p>En IntercambiaLáminas nos importa tu privacidad, y por ello no comerciamos con tus datos.</p>
    <p>Solo revelamos tus datos personales de forma segura en las siguientes situaciones:</p>

    <h3><span>5.1.- Proveedores de servicios</span></h3>
    <p>Utilizamos proveedores de servicios para ayudarnos a prestar los servicios que ofrecemos. Los proveedores de
        servicios pueden estar ubicados dentro o fuera del Espacio Económico Europeo (“EEE”). Concretamente, nuestros
        proveedores de servicios se encuentran en Europa y Norteamérica.</p>
    <p>Por ejemplo, usamos proveedores de servicio para el alojamiento de nuestro servidores o el envío
        de correos electrónicos. También usamos servicios de proveedores externos para para entender y
        mejorar el uso de nuestros Servicios, como es el caso de Google Analytics o Firebase.</p>
    <p>IntercambiaLáminas no almacena ningún dato de pago (tarjeta bancaria o número de cuenta), pero utilizamos
        servicios externos que almacenan esta información por nosotros, con el fin de que tu
        información esté segura.</p>
    <p>Podemos compartir tus datos personales con dichos proveedores de servicios con arreglo a obligaciones de
        confidencialidad compatibles con esta Política de Privacidad, y con la condición de que los terceros utilicen
        tus datos personales únicamente conforme a nuestras instrucciones.</p>
    <blockquote><span>Más sencillo: Procuramos que tus datos estén almacenados de la forma más segura posible, y hay
            empresas especializadas que lo hacen mejor que nosotros, por eso las usamos.</span></blockquote>

    <h3><span>5.2.- Legislación, perjuicios e interés público</span></h3>
    <p>Solo compartiremos información si consideramos que es razonablemente necesario para cumplir con una ley,
        normativa, proceso legal o requerimiento gubernamental; para proteger la seguridad, derechos o propiedad
        pública, de cualquier persona o de IntercambiaLáminas; o para detectar, prevenir o abordar problemas de fraude,
        técnicos o
        de seguridad.</p>
    <blockquote><span>Más sencillo: Solo los compartiremos, si una instancia superior nos obliga muy mucho.</span>
    </blockquote>

    <h3><span>5.3.- Transferencias entre empresas y afiliados</span></h3>
    <p>Si participamos en una fusión, adquisición, reorganización, quiebra, disolución o venta de activos, o una
        transacción o procedimiento similar que implique la transferencia de la información descrita en esta Política,
        compartiremos tu información con la parte involucrada en dicho proceso, por ejemplo: un posible comprador.</p>

    <h3><span>5.4.- Información no personal</span></h3>
    <p>Podemos compartir o divulgar información no personal como el número total de veces que las personas añaden un
        álbum a sus colecciones o el número de usuarios que añadieron cierto ítem a sus listas de buscadas / repetidas.
        Esta información no
        incluye su nombre, dirección de correo electrónico o ningún dato de carácter personal.</p>
    <blockquote><span>Más sencillo: Si compartimos estadísticas, serán siempre anónimas.</span></blockquote>

    <h2><span>6.- ¿Qué opciones tengo respecto a mi información?</span></h2>
    <p>Tu controlas los datos que compartes con nosotros. Siempre que quieras puedes acceder, corregir, eliminar o
        modificar la información que nos has facilitado y que está asociada a tu cuenta.</p>
    <blockquote><span>Más sencillo: ¡Tú decides respecto a tus datos!</span></blockquote>

    <h3><span>6.1.- Acceder a la información personal que tenemos sobre tí</span></h3>
    <p>Puedes contactarnos para solicitarnos el envío de la información personal que tenemos sobre ti: Nombre, país,
        ciudad y dirección de correo electrónico. Por lo general, compartiremos esta información contigo
        dentro de los 30 días a partir de la fecha en que nos lo solicites.</p>
    <blockquote><span>Más sencillo: Si quieres tus datos, te los mandamos.</span></blockquote>

    <h3><span>6.2.- Corregir o borrar tu información</span></h3>
    <p>Si tienes una cuenta en IntercambiaLáminas, muchas de estas opciones puedes revisarlas directamente desde tu
        cuenta.</p>
    <p>Por ejemplo, puedes:</p>
    <ul>
        <li>Editar la información de tu perfil en cualquier momento</li>
        <li>Modificar tu correo electrónico o contraseña</li>
        <li>Vincular o desvincular tu cuenta de IntercambiaLáminas de otros servicios como Facebook</li>
        <li>Configurar tu ciudad / país</li>
        <li>Configurar tu visibilidad en los posibles cambios</li>
    </ul>
    <p>Si necesitas ayuda para modificar alguno de estos datos, ponte en contacto con nosotros y te ayudaremos a
        realizar el cambio.</p>
    <p>También tienes opciones disponibles desde el dispositivo o software que utilices para acceder a
        IntercambiaLáminas.</p>
    <p>Por ejemplo:</p>
    <ul>
        <li>El navegador que usas te permite el control de cookies y otros tipos de almacenamiento de datos local.</li>
        <li>Tu dispositivo móvil, teléfono o tablet, te permite elegir si quieres o no compartir tus fotos y tu
            ubicación.</li>
    </ul>
    <p>Para más información sobre estas opciones, por favor revisa la información provista por tu proveedor.</p>

    <h3><span>6.3.- Oponerte al tratamiento de tu información y limitar o retirar el consentimiento</span></h3>
    <p>Puedes solicitar que dejemos de usar tu información, incluso cuando usemos tu información para enviarle correos
        electrónicos de marketing o notificaciones push. Si optas por no recibir nuestros mensajes de marketing, aún
        podemos enviarte mensajes informativos y actualizaciones sobre tu cuenta, como cuando otro usuario te registra
        una evaluación.</p>
    <p>También puedes eliminar tu cuenta de forma permanente directmante desde la opción "Configuración". Si das de baja
        tu cuenta la desactivaremos y eliminaremos todos tus
        datos personales, por lo que tu nombre, nombre de usuario y perfil público ya no serán visibles en
        IntercambiaLáminas.
        Podremos guardar un registro interno de tus datos con fines administrativos y para cumplir con las obligaciones
        legales de IntercambiaLáminas.</p>
    <p>Ten en cuenta que los motores de búsqueda y otros terceros pueden mantener copias de su información pública, como
        información de tu perfil de usuario, incluso después de haber eliminado la información de los servicios de
        IntercambiaLáminas. Esta información quedará en los buscadores hasta que actualicen sus sistemas con información
        más
        reciente. Cualquier enlace desactualizado que aparezca en una búsqueda de Google llevará a la página de error de
        IntercambiaLáminas.</p>
    <blockquote><span>Más sencillo: Si no quieres que tengamos tus datos, tendrás que darte de baja. Si no quieres que
            te enviemos correos o notificaciones, lo puedes configurar.</span></blockquote>

    <h3><span>6.4.- Solicitar la portabilidad de datos</span></h3>
    <p>Puedes solicitar el envío de la información personal que tenemos sobre ti y que incluye: nombre, país, ciudad y
        dirección de correo electrónico.</p>

    <h2><span>7.- Cuánto tiempo guardamos tu información</span></h2>
    <p>Guardamos tu información el tiempo necesario para brindarte el servicio y cumplir con las obligaciones descritas
        en esta política. Cuando ya no exista necesidad de usar tu información y hayamos cumplido con las regulaciones y
        obligaciones legales, las borraremos de nuestro sistema.</p>
    <p>Además, has de saber que tu cuenta podría ser suprimida si existe un periodo de inactividad durante 1 año. Esto
        significa que si durante 1 año no accedes a tu cuenta, ésta podría ser suprimida.</p>
    <blockquote><span>Más sencillo: No guardaremos tu información más tiempo que el que sea necesario.</span>
    </blockquote>

    <h2><span>8.- Transferencia de tu información</span></h2>
    <p>IntercambiaLáminas es un servicio mundial. Sea cual sea el país en el que resides, nos autorizas a transferir,
        almacenar y
        usar tu información en Chile y en cualquier otro país en el que operemos, lo cual incluye la transferencia y el
        almacenamiento a través de nuestras oficinas, socios y proveedores de servicio.</p>

    <h2><span>9.- Nuestra política sobre privacidad de información en menores</span></h2>
    <p>Nuestros servicios no están dirigidos a menores y no puedes utilizar IntercambiaLáminas si tienes menos de 16
        años. Por
        favor, lee nuestras <a routerLink="/p/tos">condiciones generales de uso</a> para más
        información.</p>

    <h2><span>10.- Cambios en esta Política de Privacidad</span></h2>
    <p>Podemos cambiar esta Política de Privacidad de vez en cuando. La versión más reciente de la Política regulará
        nuestro uso de tu información y estará siempre disponible en esta página. Si continúas usando IntercambiaLáminas
        después de
        la entrada en vigor de los cambios entenderemos que estás de acuerdo con la nueva política. Si los cambios que
        hagamos fueran significativos y afectan a tus derechos te notificaremos de los mismos por medio de una
        notificación y pediremos tu consentimiento, tal y como lo exige la ley.</p>
    <blockquote><span>Más sencillo: Si hay cambios importantes en nuestra política de privacidad, te lo
            comunicaremos.</span></blockquote>
</section>