<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>
<section *ngIf="isLoaded" class="collection">
  <div class="collection-info card">

    <div class="collection-header">
      <div class="collection-image-background" [lazyLoad]="collection.image || defaultCollectionImage"></div>
      <div class="collection-subheader">
        <div class="collection-image-container">
          <img class="collection-image" [defaultImage]="defaultCollectionImage"
            [lazyLoad]="collection.image || defaultCollectionImage" [alt]="collection.name">

          <div *ngIf="collection.userData?.completed" class="ribbon up">
            <div class="content">
              <svg width="18px" height="18px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="check"
                class="svg-inline--fa fa-check fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z">
                </path>
              </svg>
            </div>
          </div>

        </div>
        <div class="collection-actions">
          <button *ngIf="authUser.id && !collection.userData?.collecting" (click)="onAdd()" [disabled]="isSaving"
            mat-raised-button color="accent">
            <mat-icon inline="true">add</mat-icon> Agregar
          </button>
          <a *ngIf="authUser.id && collection.userData?.collecting" class="btn" mat-raised-button color="accent"
            [routerLink]="['manage']">
            <mat-icon inline="true">edit</mat-icon> Editar
          </a>
          <button mat-stroked-button [matMenuTriggerFor]="menu">
            <mat-icon inline="true">more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onShare()">Compartir</button>
            <button *ngIf="authUser.id && collection.userData?.collecting && !collection.userData?.completed"
              (click)="onComplete(true)" [disabled]="isSaving" mat-menu-item>
              Marcar como Completa</button>
            <button *ngIf="authUser.id && collection.userData?.collecting && collection.userData?.completed"
              (click)="onComplete(false)" [disabled]="isSaving" mat-menu-item>
              Desmarcar como Completa</button>
            <button *ngIf="authUser.id && collection.userData?.collecting" (click)="onDelete()" [disabled]="isSaving"
              mat-menu-item>Quitar
              Colección</button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div class="collection-main">
      <h1>{{ collection.name }}</h1>
      <p class="subtitle">{{ collection.publisher.data.name }}, {{ collection.year }}</p>

      <p *ngIf="collection.description" class="collection-description"
        [innerHTML]="collection.description| sanitizeHtml"></p>
    </div>

    <ng-adsense *ngIf="!authUser.id || (authUser.accountTypeId == 1)" [adSlot]="9177899059" [adFormat]="'auto'"
      [display]="'block'" [fullWidthResponsive]="true" [className]="'bga-hor'"></ng-adsense>

    <!-- <div class="collection-tags">
      <mat-chip-list aria-label="Etiquetas de la colección">
        <mat-chip>Tag #1</mat-chip>
        <mat-chip>Tag #2</mat-chip>
        <mat-chip>Tag ...</mat-chip>
        <mat-chip>Tag #N</mat-chip>
      </mat-chip-list>
    </div> -->

    <!-- <hr /> -->

    <mat-expansion-panel *ngIf="collection.userData?.collecting" expanded="true" class="trades">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Resumen
        </mat-panel-title>
        <mat-panel-description>
          Tus listados
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="trades-collection">
        <div class="trades-list">
          <div>
            Estás buscando <strong>{{ collection.userData?.wishing }}</strong> ítems:
            <span *ngFor="let item of userWishing; last as isLast">
              <!-- <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId"> -->
              <span>
                {{ item.name }}<span *ngIf="item.wishlistQuantity && (item.wishlistQuantity > 1)">({{
                  item.wishlistQuantity }})</span>
              </span>
              <span *ngIf="!isLast">, </span>
            </span>
          </div>
          <div>
            Tienes <strong>{{ collection.userData?.trading }}</strong> ítems para cambiar:
            <span *ngFor="let item of userTrading; last as isLast">
              <span>
                <!-- <span [ngClass]="'item-difficulty-' + item.difficultyCategoryId"> -->
                {{ item.name }}<span *ngIf="item.tradelistQuantity && (item.tradelistQuantity > 1)">({{
                  item.tradelistQuantity }})</span>
              </span>
              <span *ngIf="!isLast">, </span>
            </span>
          </div>
        </div>
      </div>

      <!-- <div class="difficulty-explanation">
        <p>
          Los colores sirven para indicar la dificultad de conseguir el ítem de acuerdo a lo siguiente:
          <br />
          <span class="item-difficulty-5">Muy Difícil</span>, 
          <span class="item-difficulty-4">Difícil</span>, 
          <span class="item-difficulty-3">Rara</span>, 
          <span class="item-difficulty-2">Infrecuente</span>, 
          <span class="item-difficulty-1">Común</span> 
          y <span class="item-difficulty-0">Por categorizar</span>.
        </p>
        <p>
          Revisa <a href="https://trello.com/c/QRvIcc3x/8-ayudar-a-hacer-mejores-cambios-indicando-la-dificultad-de-las-l%C3%A1minas-en-los-posibles-cambios" target="_blank">aquí</a> para ver mas detalles de la lógica usada para categorizar los ítems de la colección por dificultad.
        </p>
      </div> -->

    </mat-expansion-panel>

    <!-- <hr /> -->

    <h3>Secciones</h3>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['./items']">
        <div mat-line>
          Tiene
          <strong *ngIf="collection.items">{{ collection.items }}</strong>
          <strong *ngIf="!collection.items">???</strong>
          <!-- ítems -->
          ítems (láminas | stickers | figuritas | estampas | cromos)
        </div>
        <mat-icon>navigate_next</mat-icon>
      </a>
      <a *ngIf="authUser.id" mat-list-item [routerLink]="['./tops']">
        <div mat-line>
          <strong>TOP</strong> ítems <span class="pro-label">PRO</span> (clasificados por dificultad)
        </div>
        <mat-icon>navigate_next</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['./users']">
        <div mat-line>
          <strong>{{ collection.totalCollecting }}</strong> usuarios lo coleccionan
        </div>
        <mat-icon>navigate_next</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['./media']">
        <div mat-line>
          Se han agregado <strong>{{ collection.totalMedia}}</strong> elementos multimedia
        </div>
        <mat-icon>navigate_next</mat-icon>
      </a>
    </mat-nav-list>

    <hr />

    <div class="collection-publisher">
      <p>{{ collection.publisher.data.name }}</p>
    </div>
  </div>
</section>
<ng-template #confirmDeleteDialog>
  <p matDialogContent>Estás seguro de quitar esta colección? Esta acción no se puede deshacer.</p>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close [disabled]="isSaving">Cancelar</button>
    <button mat-raised-button (click)="onConfirmDelete()" [disabled]="isSaving" color="warn">
      Eliminar
    </button>
  </mat-dialog-actions>
</ng-template>