@if (isLoaded$ | async) {
<section class="collection">
  <div class="collection-info card">

    <app-collection-profile-header [collection]="(collection$ | async)!" [isAuth]="(isAuth$ | async)!"
      [isProcessing]="(isProcessing$ | async)!" (onAdd)="onAdd()" (onConfirmDelete)="onConfirmDelete()"
      (onComplete)="onComplete($event)" (onShare)="onShare()"></app-collection-profile-header>

    @if ((collection$ | async )!.userData?.collecting) {
    <app-collection-profile-trades [collection]="(collection$ | async)!"
      [items]="(items$ | async)!"></app-collection-profile-trades>
    }

    <app-collection-profile-sections [collection]="(collection$ | async)!" [lastCollectors]="(lastCollectors$ | async)!"
      [lastMedia]="(lastMedia$ | async)!" [isAuth]="(isAuth$ | async)!"></app-collection-profile-sections>

    <app-collection-profile-footer [collection]="(collection$ | async)!"></app-collection-profile-footer>

  </div>
</section>
} @else {
<section class="collection">
  <div class="collection-info card">

    <div class="collection-header">
      <div class="collection-image-background" style="background-image: url('/assets/img/profile_collection.jpeg')">
      </div>
      <div class="collection-subheader">
        <div class="collection-image-container">
          <img class="collection-image" src="/assets/img/profile_collection.jpeg">
        </div>
        <div class="collection-actions">
          <button mat-stroked-button aria-label="Opciones">
            <mat-icon class="only-icon-button">more_vert</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="collection-main">
      <h1>Cargando nombre de la colección</h1>
      <p class="subtitle">Cargando editorial, cargando año</p>
    </div>

    <h2>Secciones</h2>
    <ul class="nav-vert-std">
      <li>
        <a class="nav-vert-std-a">
          <div>
            Tiene
            <strong>???</strong>
            ítems (láminas | stickers | figuritas | estampas | cromos)
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
      <li>
        <a class="nav-vert-std-a">
          <div>
            <strong>???</strong> usuarios lo coleccionan
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
    </ul>

    <ul class="user-card-list">
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" class="user-card-image">
          <h3 class="user-card-title">Cargando nombre</h3>
        </a>
        <p class="user-card-subtitle">Cargando ubicación</p>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" class="user-card-image">
          <h3 class="user-card-title">Cargando nombre</h3>
        </a>
        <p class="user-card-subtitle">Cargando ubicación</p>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" class="user-card-image">
          <h3 class="user-card-title">Cargando nombre</h3>
        </a>
        <p class="user-card-subtitle">Cargando ubicación</p>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" class="user-card-image">
          <h3 class="user-card-title">Cargando nombre</h3>
        </a>
        <p class="user-card-subtitle">Cargando ubicación</p>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" class="user-card-image">
          <h3 class="user-card-title">Cargando nombre</h3>
        </a>
        <p class="user-card-subtitle">Cargando ubicación</p>
      </li>
      <li class="user-card card">
        <a>
          <img src="/assets/img/profile_user.png" class="user-card-image">
          <h3 class="user-card-title">Cargando nombre</h3>
        </a>
        <p class="user-card-subtitle">Cargando ubicación</p>
      </li>
      <li class="user-card placeholder-link card">
        <a>
          Ver todos
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
    </ul>

    <ul class="nav-vert-std">
      <li>
        <a class="nav-vert-std-a">
          <div>
            Se han agregado <strong>???</strong> elementos multimedia
          </div>
          <mat-icon>navigate_next</mat-icon>
        </a>
      </li>
    </ul>

    <hr />

    <div class="collection-publisher">
      <a>Cargando editorial</a>
    </div>
  </div>
</section>
}
