// ESTILOS PARA LAS PÁGINAS DE LAS COLECCIONES
section.collection {
    display: flex;
    flex-direction: column;
  
    margin-top: var(--gap-vertical);
    margin-bottom: var(--gap-vertical);
  
    .collection-visual {
      padding: 0 1.5rem;

      button, .btn {
        width: 100%;
        max-width: 280px;
        display: block;
        margin-bottom: var(--gap-vertical);
      }
  
      .collection-imagen-container {
        margin-bottom: var(--gap-vertical);
        max-width: 280px;
      }
  
      .collection-image {
        min-width: 240px;
        max-width: 280px;
      }
    }
  
    .collection-info {
      flex: 0 0 100%;
  
      .collection-tags {
        margin-bottom: 40px;
      }
  
      .card-resalted {
        background-color: #a8dab545;
      }
  
      .collection-help {
        color: #4f4f4d;
      }
    }
  
    hr {
      margin: var(--gap-vertical) 0;
    }
  
    h3 {
      margin-top: 40px;
      margin-bottom: 0;
      font-weight: bold;
    }

    @media (min-width: 768px) {
      column-gap: 60px;
      flex-direction: row;
      padding: 0 1.5rem;

      .collection-info {
        flex: auto;
      }

      .collection-visual {
        padding: 0;

        .collection-image {
          width: 100%;
        }
      }
    }

    @media (min-width: 992px) {
      padding: 0;
    }
  
    // estilos para las secciones de una colección
    &.collection-section {
      column-gap: 40px;

      .collection-visual {

        a {
          max-width: 200px;
        }
      }
  
      .collection-image {
        width: 200px;
      }

      h1, h2 {
        padding: 0 1.5rem;
      }

      @media (min-width: 768px) {
        flex-direction: column;

        h1, h2 {
          padding: 0;
        }
      }

      @media (min-width: 992px) {
        flex-direction: row;
      }
    }

    
  }