// ESTILOS PARA LAS PÁGINAS DE LAS COLECCIONES
section.collection {
  display: flex;
  flex-direction: column;

  margin-top: var(--gap-vertical);
  margin-bottom: var(--gap-vertical);

  .collection-visual {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      width: 240px;
      padding: 0;
    }

    .collection-links {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;

      @media (min-width: 768px) {
        gap: 0.5rem;
      }

      button,
      .btn {
        width: 100%;
        max-width: 200px;
      }
    }

    .collection-content {
      display: flex;
      flex-direction: row;
      row-gap: 0.5rem;
      column-gap: 1.5rem;
      align-items: flex-end;

      @media (min-width: 768px) {
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }
    }

    .collection-imagen-container {
      width: 160px;
      line-height: 1;

      // @media (min-width: 768px) {
      //   width: 240px;
      // }
    }

    .collection-image {
      width: 160px;

      // @media (min-width: 768px) {
      //   width: 240px;
      // }
    }

    .collection-data {
      display: none;

      @media (min-width: 576px) {
        display: block;
      }

      h1 {
        margin-bottom: 0;
        padding: 0;
        font-size: 2rem;
      }

      .subtitle {
        margin: 0;
        color: var(--text-secondary);
      }
    }
  }

  .collection-info {
    flex: 0 0 100%;

    @media (min-width: 768px) {
      flex: auto;
    }

    .collection-header {
      display: flex;
      flex-direction: column;
      position: relative;
      margin-bottom: calc(1.5rem + 6rem);

      .collection-image-background {
        background-color: #f2f2f2;
        background-position: top right;
        background-size: cover;
        filter: blur(4px);
        opacity: 0.8;

        position: absolute;
        top: -1.5rem;
        bottom: -1.5rem;
        right: -1.5rem;
        left: -1.5rem;
      }

      .collection-subheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transform: translateY(6rem);
      }

      .collection-image-container {
        width: 140px;
        z-index: 1;
        position: relative;

        @media (min-width: 576px) {
          width: 180px;
        }

        @media (min-width: 768px) {
          width: 200px;
        }

        @media (min-width: 992px) {
          width: 240px;
        }

        img {
          width: 100%;
          border: 4px solid white;
        }

        .ribbon {
          right: 1rem;
          top: 0;
        }
      }

      .collection-actions {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        column-gap: 1rem;
      }
    }

    // .collection-description {
    //   background-color: #f2f2f2;
    //   padding: 1rem 2rem;
    //   border-radius: 6px;
    // }

    .collection-main {

      h1 {
        margin-bottom: 0.25rem;
        line-height: 1.3;
      }

      .subtitle {
        color: var(--text-secondary);
        margin-top: 0;
      }
    }

    .collection-tags {
      margin-bottom: 40px;
    }

    .card-resalted {
      background-color: #a8dab545;
    }

    .collection-help {
      color: #4f4f4d;
    }
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  hr {
    margin: var(--gap-vertical) 0;
  }

  @media (min-width: 768px) {
    column-gap: 60px;
    flex-direction: row;
    padding: 0 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 0;
  }

  .bga-hor {
    margin-top: var(--gap-vertical);
  }

  // estilos para las secciones de una colección
  &.collection-section {
    column-gap: 40px;

    h1,
    h2 {
      padding: 0 1.5rem;

      @media (min-width: 768px) {
        padding: 0;
      }
    }

    .tops-buttons {
      text-align: right;
      margin-bottom: 1rem;
    }

    .collection-items-table {
      .mat-column-name {
        width: 100px;
      }
      .mat-column-actions {
        width: 100px;
      }
    }

    .collection-manage {

      .manage-list-main {
        margin-top: 1rem;
        text-align: right;
      }

      .manage-list-controls {
        margin-top: 1rem;
        display: flex;
        // flex-direction: column;
        row-gap: 0.5rem;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        font-size: 0.8rem;

        .controls-std-filters {
          width: 45%;

          .controls-search {
            width: 100%;
          }
        }

        .manage-list-info {
          // display: flex;
          // flex-direction: column;
          margin-bottom: 1rem;

          p {
            margin: 0;
            font-size: 0.8rem;
            color: var(--text-secondary);
          }
        }
      }

      .manage-list-buttons {
        margin-top: 1rem;

        button {
          margin: 0 0.75rem 0.75rem 0;
          // user-select: none;
        }

        .span-button {
          display: inline-block;
          margin: 0 10px 10px 0;
          background-color: #ccc;
          padding: 4px 10px;
          position: relative;
          border-radius: 6px;
          min-width: 60px;
          text-align: center;
          cursor: pointer;
          user-select: none;
          font-size: 0.8rem;
          color: #727a8e;
          background: #dddfe4;
          transition: background-color 250ms ease, color 250ms ease;

          &.checked {
            background-color: #46be9c;
            color: white;
          }

          &.warn {
            background-color: #dd4c39;
            color: white;
          }

          span.span-button-q {
            position: absolute;
            top: -8px;
            right: -4px;
            background-color: orange;
            padding: 0px 8px;
            font-size: 0.7rem;
            text-align: center;
            border-radius: 4px;
            color: white;
          }
        }
      }

      .list-std {

        .list-item-main {
          padding: 0.5rem 1rem;
          column-gap: 0.5rem;
          align-items: center;
  
          .list-item-title a {
            font-size: 0.9rem;
          }
  
          .list-item-meta {
            font-size: 0.8rem;
          }
        }
  
        .list-item-image {
          display: none;
  
          @media (min-width: 576px) {
            display: block;
          }
  
          img {
            border-radius: 10%;
          }
        }
  
  
        .list-item-actions {
          display: flex;
          column-gap: 0.5rem;
  
          button {
            user-select: none;
            padding: 0 8px;
  
            @media (min-width: 992px) {
              padding: 0 16px;
            }
          }
        }
      }

      .form-std {
        margin-bottom: 2rem;

        mat-form-field {
            display: block;
            margin-top: 1rem;
        }

        .mat-button-base {
            margin-top: 2rem;
            margin-right: 1rem;
        }
    }

    }
  }
}