section.explore {
  margin-top: var(--gap-vertical);
  margin-bottom: var(--gap-vertical);

  h1 {
    padding: 0 1.5rem;

    @media (min-width: 992px) {
      padding: 0;
    }
  }

  .controls-std {
    align-items: baseline;
    justify-content: space-between;
    font-size: 0.85rem;

    p {
      color: var(--text-secondary);
    }
  }
}

.list-of-collections {
  margin-bottom: var(--gap);
}

.horizontal-card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;

  @media (min-width: 576px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: 1200px) {
    grid-template-columns: repeat(5, 1fr);
  }
}