section.explore {
  margin-top: var(--gap-vertical);
  margin-bottom: var(--gap-vertical);

  h1 {
    padding: 0 1.5rem;

    @media (min-width: 992px) {
      padding: 0;
    }
  }

  .bga-hor {
    margin-bottom: var(--gap-vertical);
  }

  .controls-std {
    align-items: baseline;
    justify-content: space-between;
    font-size: 0.88rem;

    .controls-std-settings {
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }

    p {
      color: var(--text-secondary);
    }
  }
}
