section.item {
    display: flex;
    flex-direction: column;

    margin-top: var(--gap-vertical);
    margin-bottom: var(--gap-vertical);

    &.item-section {
        column-gap: 40px;

        h1,
        h2 {
            padding: 0 1.5rem;

            @media (min-width: 992px) {
                padding: 0;
            }
        }

        h2 a {
            text-decoration: none;
            color: var(--text-secondary);
        }

        .mat-mdc-tab-body-wrapper {
            margin: 0 -1.5rem;
        }

        .controls-std {
            margin-top: 1rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }

        .list-std {
            margin: 0;
        }
    }
}