section.auth {
    display: flex;
    flex: 1 1 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  
  .login, .signup {
    max-width: 30rem;
    padding: 2.5rem;
  
    img {
      width: 60px;
      margin-bottom: 1rem;
    }
  
    h1 {
      margin-bottom: 0;
    }
  
    p {
      margin: 0;
      margin-top: 0.25rem;
    }
  
    a {
      text-decoration: none;
      margin-left: 0.25rem;
    }
  
    form {
      margin-top: 2rem;
      margin-bottom: 2rem;
  
      mat-form-field {
        width: 100%;
      }
  
      p {
        margin-top: 1.5rem;
        text-align: right;
      }
  
      button {
        width: 100%;
        margin-top: 1.5rem;
      }
    }
  
    .social-links {
      display: flex;
      list-style: none;
      justify-content: space-around; //center
      align-items: center;
      column-gap: 1.5rem;
      margin-top: 2rem;
      padding: 0;
  
      li {
        flex: 1 1 auto;
      }
  
      button {
        width: 100%;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
      }
    }
  }

  .signup {
    form {
      p {
        text-align: center;
      }
    }
  }
  
  
  .button-large {
    height: 48px;
  }
  
  .text-with-bg-line {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
  
    .bg-line {
      flex: 1 1 auto;
      margin-top: 1px;
      height: 1px;
      border-top: 1px solid #e2e8f0;
    }
  
    .text {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }