section.settings {
    margin-top: var(--gap-vertical);
    margin-bottom: var(--gap-vertical);
    padding: 0 1.5rem;

    .settings-header {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        img {
            border-radius: 9999px;
            width: 80px;
            height: 80px;
        }

        h1 {
            // padding: 0 1.5rem;
            margin-bottom: 0.5rem;

            @media (min-width: 992px) {
                padding: 0;
            }

            a {
                color: inherit;
                text-decoration: none;
            }

            span {
                color: var(--text-secondary);
                margin-left: 0.5rem;
            }
        }

        h2 {
            color: var(--text-secondary);
        }
    }

    .settings-content {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        margin-top: var(--gap-vertical);

        @media (min-width: 768px) {
            flex-direction: row;
        }
    }

    .settings-nav {
        padding: 0;
        margin: 0;
        list-style: none;
        color: var(--text-secondary);
        display: flex;
        column-gap: 1rem;
        row-gap: 1rem;
        flex-wrap: wrap;

        @media (min-width: 768px) {
            flex-direction: column;
            width: 200px;
            row-gap: 0;
        }

        li {
            // padding: 0.25rem 0.75rem;
            border: 2px solid var(--text-secondary);
            border-radius: 10px;

            @media (min-width: 768px) {
                border: none;
            }

            &.active {
                background-color: var(--text-secondary);
                font-weight: 600;
                color: white;

                @media (min-width: 768px) {
                    background-color: inherit;
                    color: black;
                }
            }

            &.warning {
                border: none;
            }

            &.separator {
                display: none;
            }
        }

        a {
            padding: 0.75rem;
            color: inherit;
            text-decoration: none;
            display: block;
        }
    }

    // estilos para las secciones
    .settings-section {
        .card{
            margin: 0 -1.5rem;

            @media (min-width: 768px) {
                margin: none;
            }
        }
        
        .avatar-preview {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;

            img {
                border-radius: 9999px;
                width: 100px;
                height: 100px;
            }

            .avatar-actions {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                @media (min-width: 576px) {
                    flex-direction: row;
                }
            }
        }

        .edit-profile {
            .form-field-slide {
                padding: 0 1rem;

                .mat-mdc-slide-toggle {
                    display: block;
                    margin-top: 2rem;
                    margin-bottom: 0.5rem;
                }

                .mat-hint {
                    font-size: 70%;
                    line-height: 1.125;
                    color: rgba(0, 0, 0, 0.87);
                    letter-spacing: 0.4px;
                }
            }

            mat-form-field {
                display: block;
                margin-top: 3rem;
            }

            .mat-mdc-button-base {
                margin-top: 3rem;
            }
        }

        .update-notifications {
            margin-bottom: 2rem;
        }

        .update-email {
            mat-form-field {
                display: block;
                margin-top: 1rem;
            }

            .mat-mdc-button-base {
                margin-top: 2rem;
            }
        }

        .settings-connect {
            .mat-mdc-list {
                margin: 0 -16px;

                .mat-mdc-subheader {
                    padding-left: 0;
                    padding-right: 0;
                }

                .mat-mdc-list-item {
                    > .mat-icon {
                        color: rgba(0, 0, 0, 0.87);
                        margin-right: 16px;
                    }

                    button {
                        display: flex;
                        margin-top: 16px;
                    }
                }
                /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
                // .mat-list-item-content {
                //     padding: 0;

                //     .mat-line {
                //         @media (min-width: 576px) {
                //             white-space: inherit;
                //         }
                //     }

                //     button {
                //         flex-shrink: 0;
                //     }
                // }
            }
        }

        .settings-delete {
            p > a {
                text-decoration: none;
                color: var(--color-accent);
                font-weight: bold;
            }

            .delete-account-actions {
                display: flex;
                flex-direction: row;
                row-gap: 1rem;
                column-gap: 1rem;
                margin-top: 1.5rem;

                a {
                    margin-top: 0;
                }
            }
        }
    }
}

.profile-image {
    app-settings-profile-image {
        display: flex;
        height: 100%;
        flex: 1 1 auto;
        flex-direction: column;

        .mat-mdc-dialog-content {
            flex: 1 1 auto;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;

            .upload-image-center {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                min-height: 300px;
            }

            .upload-image-content {
                // display: inline-block;
            }

            .upload-image-main {
                position: relative;
            }

            .upload-image-input {
                padding-bottom: 1rem;
            }
        }

        .upload-image-actions {
            display: flex;
            flex-direction: revert;
            column-gap: 1rem;
            justify-content: space-between;
            align-items: center;

            .mat-mdc-slider {
                flex-grow: 1;
                min-width: 80px;
            }
        }

        .mat-mdc-dialog-actions {
            justify-content: space-between;
        }

        image-cropper {
            // margin: -5px 0;
        }
    }
}