section.trades {
    margin-top: var(--gap-vertical);
    margin-bottom: var(--gap-vertical);

    .bga-hor {
        margin-bottom: 1.5rem;
    }

    .controls-std {
        margin-bottom: 0;

        .controls-std-main {
            flex-direction: column;
            align-items: inherit;

            @media (min-width: 576px) {
                flex-direction: row;
                align-items: center;
            }

            .mat-form-field {
                width: 100%;

                @media (min-width: 576px) {
                    width: initial;
                }

                &.users-last-seen {
                    @media (min-width: 576px) {
                        width: 280px;
                    }
                }
            }
        }
    }

    .pagination-wrapper {
        margin: 2rem auto;
    }

    .trades-details {
        box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    }

    .trades-collection {
        margin: 0 -1.5rem;
    }
}