// ESTILOS PARA LAS PÃGINAS DE LOS USUARIOS
section.user {
  display: flex;
  flex-direction: column;

  margin-top: var(--gap-vertical);
  margin-bottom: var(--gap-vertical);

  .user-visual {
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
      width: 240px;
      padding: 0;
    }

    .user-links {
      display: flex;
      gap: 1.5rem;
      justify-content: space-between;

      @media (min-width: 768px) {
        gap: 0.5rem;
      }

      button,
      .btn {
        width: 100%;
        max-width: 200px;
      }
    }

    .user-content {
      display: flex;
      flex-direction: row;
      row-gap: 0.5rem;
      column-gap: 1.5rem;
      align-items: center;

      @media (min-width: 768px) {
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }
    }

    .user-imagen-container {
      width: 100px;

      @media (min-width: 768px) {
        width: 140px;
      }

      .user-image {
        width: 100px;
        border-radius: 9999px;

        @media (min-width: 768px) {
          width: 140px;
        }
      }
    }

    .user-data {

      .pro-label {
        font-size: 0.9rem;
        top: 0;
      }

      h1 {
        margin-bottom: 0;
        padding: 0;
        font-size: 2rem;
      }

      .subtitle {
        margin: 0;
        color: var(--text-secondary);
      }
    }
  }

  .user-info {
    flex: 0 0 100%;

    @media (min-width: 768px) {
      flex: auto;
    }

    .user-header {
      display: flex;
      flex-direction: column;

      .user-image-background {
        height: 12rem;
        margin: -1.5rem -1.5rem 0;
        background-color: #f2f2f2;
        background-position: top right;
        background-size: cover;
        filter: blur(4px);
        opacity: 0.6;
      }

      .user-subheader {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      .user-image-container {
        width: 100px;
        margin-top: -50px;
        z-index: 1;
        position: relative;

        @media (min-width: 768px) {
          width: 140px;
          margin-top: -70px;
        }

        img {
          width: 100%;
          border-radius: 9999px;
          border: 4px solid white;
        }

        .pro-label {
          position: absolute;
          font-size: 1rem;
          top: 10px;
          right: -64px;
          padding: 2px 10px;
          font-weight: 600;

          @media (min-width: 768px) {
            top: 25px;
          }
        }
      }

      .user-actions {
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-start;
        column-gap: 1rem;
      }
    }

    .user-description {
      background-color: #f2f2f2;
      padding: 1rem 2rem;
      border-radius: 6px;
    }

    .user-details {
      color: var(--text-secondary);
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      column-gap: 1rem;

      mat-icon {
        margin-right: 0.25rem;
      }
    }

    .user-main {

      h1 {
        margin-bottom: 0.25rem;
        line-height: 1.3;
      }

      .subtitle {
        color: var(--text-secondary);
        margin-top: 0;
      }
    }
  }

  h3 {
    margin-top: 3rem;
    margin-bottom: 0;
    font-weight: bold;
  }

  hr {
    margin: var(--gap-vertical) 0;
  }

  @media (min-width: 768px) {
    column-gap: 60px;
    flex-direction: row;
    padding: 0 1.5rem;
  }

  @media (min-width: 992px) {
    padding: 0;
  }

  // estilos para las secciones de un usuario
  &.user-section {
    column-gap: 40px;

    h1,
    h2 {
      padding: 0 1.5rem;

      @media (min-width: 768px) {
        padding: 0;
      }
    }
  }
}


.user-evaluations ul.list-std {
  .list-item-main {
    padding-bottom: 0.25rem;
  }

  .list-item-title {
    width: 85%;
  }

  .list-item-desc {
    margin-left: 0;
    margin-top: 0.25rem;
    margin: 0.25rem 0 0.75rem;
  }
}


.user-collections ul.list-std {
  .list-item-desc {
    margin: 0.5rem 0 0;
  }
}


.user-collection-modal {

  .user-collection-modal-heading {
    position: relative;
    padding-bottom: 0.5rem;
  }

  .user-collection-modal-bg {
    display: block;
    height: 100%;
    width: 130px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.3;
    background-size: 130px auto;
    background-repeat: no-repeat;

    @media (min-width: 576px) {
      width: 180px;
      background-size: 180px auto;
      opacity: 0.5;
    }

    @media (min-width: 768px) {
      width: 235px;
      background-size: 235px auto;
      opacity: 0.7;
    }

    >div {
      background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0) 100%);
      width: 100%;
      height: 100%;
    }
  }

  .h2 {
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.2;
  }

  .collection-meta {
    color: var(--text-secondary);
    font-size: 0.9rem;
  }

  .user-collection-modal-wishing {
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    margin: 0;
    padding: 0.5rem 0rem;
  }

  .user-collection-modal-trading {
    margin: 0;
    padding: 0.5rem 0rem;
  }

  .user-collection-modal-udpate {
    text-align: right;
    font-style: italic;
    font-size: 0.9rem;
    margin-right: 1rem;
    color: var(--text-secondary);
  }
}