/* For use in src/lib/core/theming/_palette.scss */
$swap-primary-v1: (
    50 : #e3e4e5,
    100 : #babcbf,
    200 : #8c8f94,
    300 : #5e6269,
    400 : #3c4048,
    500 : #191e28,
    600 : #161a24,
    700 : #12161e,
    800 : #0e1218,
    900 : #080a0f,
    A100 : #537eff,
    A200 : #2058ff,
    A400 : #003bec,
    A700 : #0035d3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$swap-primary-v2: (
    50 : #f4faff,
    100 : #eef4ff,
    200 : #e6ecfa,
    300 : #d7ddeb,
    400 : #b4b9c7,
    500 : #949aa7,
    600 : #6c717e,
    700 : #585d69,
    800 : #3a3f4a,
    900 : #191e28,
    A100 : #537eff,
    A200 : #2058ff,
    A400 : #003bec,
    A700 : #0035d3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$swap-accent-v1: (
    50 : #e9f7f3,
    100 : #c7ece1,
    200 : #a2dfce,
    300 : #7dd2ba,
    400 : #61c8ab,
    500 : #45be9c,
    600 : #3eb894,
    700 : #36af8a,
    800 : #2ea780,
    900 : #1f996e,
    A100 : #d4ffef,
    A200 : #a1ffdc,
    A400 : #6effc9,
    A700 : #54ffbf,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$swap-accent-v2: (
    50 : #dff4ee,
    100 : #b1e3d3,
    200 : #7dd1b8,
    300 : #45be9c,
    400 : #02af87,
    500 : #009f76,
    600 : #009269,
    700 : #00825a,
    800 : #00714d,
    900 : #005532,
    A100 : #d4ffef,
    A200 : #a1ffdc,
    A400 : #6effc9,
    A700 : #54ffbf,
    contrast: (
        50 : #000050,
        100 : #000100,
        200 : #000200,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000001,
        A200 : #000002,
        A400 : #000004,
        A700 : #000007,
    )
);

$swap-warn-v1: (
    50 : #fbe9e7,
    100 : #f5c9c4,
    200 : #eea59c,
    300 : #e78174,
    400 : #e26657,
    500 : #dd4b39,
    600 : #d94433,
    700 : #d43b2c,
    800 : #cf3324,
    900 : #c72317,
    A100 : #fff9f9,
    A200 : #ffc9c6,
    A400 : #ff9993,
    A700 : #ff817a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

