<h2 mat-dialog-title>Nueva imagen de perfil</h2>
<mat-dialog-content>

    <div class="upload-image-center">
        <div class="upload-image-content">
            <div class="upload-image-main">
                <div *ngIf="!imageSelected" class="upload-image-input">
                    <a mat-raised-button>
                        <label class="custom-file-upload">
                            <input type="file" (change)="fileChangeEvent($event)" style="display: none;" />
                            Cargar una foto
                        </label>
                    </a>
                </div>

                <div class="upload-image-cropper">
                    <image-cropper
                        [allowMoveImage]="true"
                        [imageChangedEvent]="imageChangedEvent"
                        [maintainAspectRatio]="true"
                        [aspectRatio]="1 / 1"
                        format="png"
                        [canvasRotation]="canvasRotation"
                        [hideResizeSquares]="true"
                        [transform]="transform"
                        [containWithinAspectRatio]="true"
                        [cropperStaticWidth]="200"
                        [cropperStaticHeight]="200"
                        (imageCropped)="imageCropped($event)"
                        (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()"
                        (loadImageFailed)="loadImageFailed()"
                    ></image-cropper>
                </div>
            </div>
        </div>
    </div>

</mat-dialog-content>

<div *ngIf="imageSelected" class="upload-image-actions">
    <button mat-flat-button aria-label="Alejar" (click)="onFullZoomOut()">
        <mat-icon>zoom_out</mat-icon>
    </button>
    <mat-slider min="1" max="5" step="0.5" value="1" aria-label="Zoom" 
        [value]="scale" (change)="onChangeScale($event)"></mat-slider>
    <button mat-flat-button aria-label="Acercar" (click)="onFullZoomIn()">
        <mat-icon>zoom_in</mat-icon>
    </button>
</div>

<mat-dialog-actions>
    <button class="mat-raised-button" mat-dialog-close>Cerrar</button>
    <button *ngIf="imageSelected" (click)="onRotate()" mat-icon-button aria-label="Rotar a la derecha">
        <mat-icon>rotate_right</mat-icon>
    </button>
    <a *ngIf="imageSelected" mat-raised-button mat-dialog-close color="accent">
        Cargar
    </a>
</mat-dialog-actions>




