<h2 mat-dialog-title>Nueva imagen de perfil</h2>
<mat-dialog-content>

    <div class="upload-image-center">
        <div class="upload-image-content">
            <div class="upload-image-main">
                @if (!imageSelected) {
                <div class="upload-image-input">
                    <a mat-raised-button>
                        <label class="custom-file-upload">
                            <input type="file" (change)="fileChangeEvent($event)" style="display: none;"
                                accept="image/png, image/jpeg, image/jpg" />
                            Cargar una foto
                        </label>
                    </a>
                </div>
                }

                <div class="upload-image-cropper">
                    <image-cropper #cropper [allowMoveImage]="false" [aspectRatio]="1 / 1" [autoCrop]="false"
                        [canvasRotation]="canvasRotation" [containWithinAspectRatio]="true" [cropperMinWidth]="50"
                        format="png" output="base64" [hideResizeSquares]="false" [imageChangedEvent]="imageChangedEvent"
                        [imageQuality]="100" [maintainAspectRatio]="true" [resizeToWidth]="200" [transform]="transform"
                        (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()"
                        (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                </div>

                <!-- <img [src]="croppedImage" /> -->
            </div>
        </div>
    </div>

</mat-dialog-content>
@if (imageSelected) {
<div class="upload-image-actions">
    <button mat-flat-button aria-label="Alejar" (click)="onFullZoomOut()">
        <mat-icon>zoom_out</mat-icon>
    </button>
    <mat-slider min="1" max="5" step="0.5" aria-label="Zoom" #ngSlider><input matSliderThumb [value]="scale"
            (change)="onChangeScale({source: ngSliderThumb, parent: ngSlider, value: ngSliderThumb.value})"
            #ngSliderThumb="matSliderThumb" value="1" /></mat-slider>
    <button mat-flat-button aria-label="Acercar" (click)="onFullZoomIn()">
        <mat-icon>zoom_in</mat-icon>
    </button>
</div>
}

<mat-dialog-actions>
    <a mat-raised-button [disabled]="(isProcessing$ | async)" (click)="onClose()">Cerrar</a>
    @if (imageSelected) {
    <button (click)="onRotate()" [disabled]="(isProcessing$ | async)" mat-icon-button aria-label="Rotar a la derecha">
        <mat-icon>rotate_right</mat-icon>
    </button>
    <a (click)="onSaveImage()" [disabled]="(isProcessing$ | async)" mat-raised-button color="accent">
        Cargar
    </a>
    }
</mat-dialog-actions>