@if ((isLoaded$ | async)) {
<section class="explore explore-section">
    <div class="explore-collections flex-full">
        <h1>
            Colecciones <span class="text-secondary">({{ (vm$ | async)?.paginator?.total | number:'':'es' }})</span>
        </h1>

        <app-ad-loader [adSlot]="7864817385" [className]="'bga-hor'"></app-ad-loader>

        <div class="card">
            @if ((vm$ | async)?.collections?.length) {
            <div class="controls-std">
                <div class="controls-std-main">
                    <div class="controls-std-order">
                        <mat-form-field appearance="outline">
                            <mat-label>Ordenar por</mat-label>
                            <mat-select (selectionChange)="onSort($event.value)"
                                [value]="(vm$ | async)?.sortOptionSelected">
                                @for (option of sortOptions; track option.selectValue) {
                                <mat-option [value]="option.selectValue">
                                    {{ option.selectName }}
                                </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="controls-std-settings">
                        <button mat-icon-button [color]="(vm$ | async)?.isFiltered ? 'accent' : 'primary'"
                            aria-label="Button for show filter options" (click)="showFilters = !showFilters">
                            <mat-icon>filter_list</mat-icon>
                        </button>
                        <p>
                            Registros {{ (vm$ | async)?.paginator?.from | number:'':'es' }} a {{ (vm$ |
                            async)?.paginator?.to | number:'':'es' }}
                        </p>
                    </div>
                </div>
                <div class="constrols-std-filters" [ngClass]="{ 'show': showFilters }">
                    <mat-form-field appearance="outline">
                        <mat-label>Editorial</mat-label>
                        <mat-select (selectionChange)="onPublisherChanged($event.value)"
                            [value]="(vm$ | async)?.publisherSelected">
                            <mat-option value="">Todas</mat-option>
                            @for (pub of (publishers$ | async); track pub.id) {
                            <mat-option [value]="pub.id">
                                {{ pub.name }}
                            </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            }

            <div class="list-of-collections">
                <div class="horizontal-card-grid">
                    @for (col of (vm$ | async)?.collections; track col.id) {
                    <app-collection-item [collection]="col" />
                    }
                </div>
            </div>

            @if ((vm$ | async)?.pageSelected) {
            <app-pagination [pageSelected]="(vm$ | async)!.pageSelected" [lastPage]="(vm$ | async)!.paginator.last_page"
                (pageChange)="onPageChange(($event.toString()))" />
            }
        </div>
    </div>
</section>
} @else {
<div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
}