<ng-container *ngIf="feeds.length > 0">
    <h2>Actividad reciente</h2>
    <p class="home-subtitle">
        Últimas acciones realizadas por los usuarios
    </p>
    <ul class="home-feeds">
        <ng-container *ngFor="let f of feeds" [ngSwitch]="f.type">
            <li *ngSwitchCase="'ADD_COLLECTION'">
                <div class="feed-item-icon">
                    <mat-icon class="only-icon-button">add_circle</mat-icon>
                </div>
                <div class="feed-item-time">
                    <span class="list-item-message-date">{{ f.timestamp | date:'HH:mm' }}</span>
                </div>
                <div class="feed-item-content">
                    <a [routerLink]="['/user', f.userId]">{{ f.userDisplayName }}</a> agregó
                    <a [routerLink]="['/c', f.collectionName + ' ' + f.publisherName | slugify, f.collectionId]">{{
                        f.collectionName }}</a> de {{
                    f.publisherName }} a su colección
                </div>
            </li>
            <li *ngSwitchCase="'UPDATE_COLLECTION'">
                <div class="feed-item-icon">
                    <mat-icon class="only-icon-button">update</mat-icon>
                </div>
                <div class="feed-item-time">
                    <span class="list-item-message-date">{{ f.timestamp | date:'HH:mm' }}</span>
                </div>
                <div class="feed-item-content">
                    <a [routerLink]="['/user', f.userId]">{{ f.userDisplayName }}</a> actualizó sus listados en <a
                        [routerLink]="['/c', f.collectionName + ' ' + f.publisherName | slugify, f.collectionId]">{{
                        f.collectionName }}</a> de {{ f.publisherName }}
                </div>
            </li>
            <li *ngSwitchCase="'COMPLETE_COLLECTION'">
                <div class="feed-item-icon">
                    <mat-icon class="only-icon-button">task_alt</mat-icon>
                </div>
                <div class="feed-item-time">
                    <span class="list-item-message-date">{{ f.timestamp | date:'HH:mm' }}</span>
                </div>
                <div class="feed-item-content">
                    <a [routerLink]="['/user', f.userId]">{{ f.userDisplayName }}</a> completó <a
                        [routerLink]="['/c', f.collectionName + ' ' + f.publisherName | slugify, f.collectionId]">{{
                        f.collectionName }}</a> de {{ f.publisherName }}
                </div>
            </li>
            <li *ngSwitchCase="'ADD_MEDIA'">
                <div class="feed-item-icon">
                    <mat-icon class="only-icon-button">add_a_photo</mat-icon>
                </div>
                <div class="feed-item-time">
                    <span class="list-item-message-date">{{ f.timestamp | date:'HH:mm' }}</span>
                </div>
                <div class="feed-item-content">
                    <a [routerLink]="['/user', f.userId]">{{ f.userDisplayName }}</a> agregó una imagen en <a
                        [routerLink]="['/c', f.collectionName + ' ' + f.publisherName | slugify, f.collectionId]">{{
                        f.collectionName }}</a> de {{ f.publisherName }}
                </div>
            </li>
            <li *ngSwitchCase="'ADD_EVALUATION'">
                <div class="feed-item-icon">
                    <mat-icon class="only-icon-button">interpreter_mode</mat-icon>
                </div>
                <div class="feed-item-time">
                    <span class="list-item-message-date">{{ f.timestamp | date:'HH:mm' }}</span>
                </div>
                <div class="feed-item-content">
                    <a [routerLink]="['/user', f.userId]">{{ f.userDisplayName }}</a> recibió una nueva evaluación <span
                        [ngClass]="{ 'positive': f.evaluationTypeId == 1, 'negative': f.evaluationTypeId == 2 }">{{
                        f.evaluationTypeName }}</span>
                </div>
            </li>
        </ng-container>
    </ul>
</ng-container>