<div class="vertical-navigation">
  <div class="vertical-navigation-wrapper">
    <div class="vertical-navigation-content">

      <div *ngIf="isAuth$ | async" class="vertical-navigation-group-item">
        <div class="vertical-navigation-item-wrapper">
          <div class="vertical-navigation-item">
            <div class="vertical-navigation-item-title-wrapper">
              <div class="vertical-navigation-item-title">
                <span>Dashboard</span>
              </div>
              <div class="vertical-navigation-item-subtitle">
                <span>Tú información</span>
              </div>
            </div>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a [routerLink]="['./user/', authUser.id]" class="vertical-navigation-item">
              <img class="vertical-navigation-user-image" [defaultImage]="defaultUserImage"
                [lazyLoad]="authUser.image || defaultUserImage" [alt]="authUser.displayName"
                crossorigin="anonymous">
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Mi Perfil</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a [routerLink]="['./trades/']" class="vertical-navigation-item">
              <mat-icon>swap_horiz</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Cambios</span>
                </div>
              </div>
              <!-- <div class="vertical-navigation-item-badge">
                <div class="vertical-navigation-item-badge-content">
                  100
                </div>
              </div> -->
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a [routerLink]="['./message/']" class="vertical-navigation-item">
              <mat-icon>forum</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Conversaciones</span>
                </div>
              </div>
              <div *ngIf="unreadCount$ | async" class="vertical-navigation-item-badge">
                <div class="vertical-navigation-item-badge-content">
                  {{ unreadCount$ | async }}
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a [routerLink]="['./settings/']" class="vertical-navigation-item">
              <mat-icon>settings</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Configuración</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="/new-collection" class="vertical-navigation-item">
              <mat-icon>library_add</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Agregar colección</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a [routerLink]="['./collaborate/']"class="vertical-navigation-item">
              <mat-icon>volunteer_activism</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Colabora</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a style="cursor:pointer" (click)="onLogout()" class="vertical-navigation-item">
              <mat-icon>logout</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Salir</span>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>

      <div *ngIf="authUser.isMod" class="vertical-navigation-group-item">
        <div class="vertical-navigation-item-wrapper">
          <div class="vertical-navigation-item">
            <div class="vertical-navigation-item-title-wrapper">
              <div class="vertical-navigation-item-title">
                <span>Moderación</span>
              </div>
              <div class="vertical-navigation-item-subtitle">
                <span>Revisa y sanciona</span>
              </div>
            </div>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="/mod/media" class="vertical-navigation-item">
              <mat-icon>add_a_photo</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Media</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="/mod/publish" class="vertical-navigation-item">
              <mat-icon>publish</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Publicar</span>
                </div>
              </div>
            </a>
          </div>
        </div>

      </div>

      <div class="vertical-navigation-group-item">
        <div class="vertical-navigation-item-wrapper">
          <div class="vertical-navigation-item">
            <div class="vertical-navigation-item-title-wrapper">
              <div class="vertical-navigation-item-title">
                <span>Accesos</span>
              </div>
              <div class="vertical-navigation-item-subtitle">
                <span>Elige qué hacer</span>
              </div>
            </div>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="/" class="vertical-navigation-item">
              <mat-icon>home</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Inicio</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="collections" class="vertical-navigation-item">
              <mat-icon>collections_bookmark</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Colecciones</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="publishers" class="vertical-navigation-item">
              <mat-icon>domain</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Editoriales</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="/p/guide" class="vertical-navigation-item">
              <mat-icon>quiz</mat-icon>
              <div class="vertical-navigation-item-title-wrapper">
                <div class="vertical-navigation-item-title">
                  <span>Modo de Uso</span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div *ngIf="!(isAuth$ | async)" class="vertical-navigation-basic-item">
          <div class="vertical-navigation-item-wrapper">
            <a routerLink="/signup" class="vertical-navigation-signup">
              Regístrate gratis!
            </a>
            <p class="vertical-navigation-login">
              Ya tienes cuenta? <a routerLink="/login">Ingresa</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>