<section class="user user-section">
  <app-user-summary [showBackButton]="true"></app-user-summary>
  @if (isLoaded$ | async) {
  <div class="user-evaluations flex-full">
    <app-user-evaluations-list [evaluations]="evaluations()" [disabled]="disabled()" [authUser]="authUser()"
      (onShowPreviousEvaluations)="onShowPreviousEvaluations($event)" (onShowReportDialog)="onShowReportDialog($event)"
      (onNavigateToForm)="onNavigateToForm()"></app-user-evaluations-list>

    <div id="evaluation" class="card2 add-evaluation">
      @if (!(isAuth$ | async)) {
      <div class="alert alert-info">
        <div class="alert-container">
          <div class="alert-content">
            <div class="alert-title">Atención</div>
            <div class="alert-message">Solo los usuarios registrados con al menos 30 días de antigüedad pueden registrar
              evaluaciones.</div>
          </div>
        </div>
      </div>
      }

      @if (disabledForAntiquity() > 0) {
      <div class="alert alert-info">
        <div class="alert-container">
          <div class="alert-content">
            <div class="alert-title">Atención</div>
            <div class="alert-message">Debes tener al menos 30 días de antigüedad como usuario para poder registrar
              evaluaciones. Aun te faltan {{ (30 - (disabledForAntiquity())) }} días!</div>
          </div>
        </div>
      </div>
      }

      @if (disabledForTime() > 0) {
      <div class="alert alert-info">
        <div class="alert-container">
          <div class="alert-content">
            <div class="alert-title">Atención</div>
            <div class="alert-message">Puedes registrar una evaluación cada 7 días. Tienes que esperar hasta el <span>{{
                disabledForTime() * 1000 | date:"dd/MM '(pasadas las ' HH:mm 'hrs.)'" }}</span> para poder
              registrar una nueva evaluación!</div>
          </div>
        </div>
      </div>
      }

      @if (!disabled()) {
      <div class="card">
        <form [formGroup]="evaluationForm" (ngSubmit)="onSubmit()">
          <h3>Agregar evaluación</h3>

          <mat-form-field appearance="outline">
            <mat-label>Tipo de evaluación</mat-label>
            <mat-select formControlName="type" name="type">
              <mat-option value="0" selected>Seleccione</mat-option>
              <mat-option value="1" selected>Positiva (+1)</mat-option>
              <mat-option value="2" selected>Negativa (-1)</mat-option>
            </mat-select>
            @if (form['type'].errors) {
            <mat-error>Campo obligatorio.</mat-error>
            }
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Comentario</mat-label>
            <textarea #comment matInput formControlName="comment" maxlength="255" rows="4"></textarea>
            <mat-hint align="end">{{comment.value.length || 0}}/255</mat-hint>
            @if (form['comment'].errors) {
            <mat-error>Campo obligatorio. Debes ingresar como máximo 255 caracteres.</mat-error>
            }
          </mat-form-field>

          <div class="alert alert-warning">
            <div class="alert-container">
              <div class="alert-content">
                <div class="alert-title">Atención</div>
                <div class="alert-message">Las evaluaciones no pueden ser modificadas una vez registradas y son visibles
                  públicamente.</div>
              </div>
            </div>
          </div>

          <button mat-raised-button color="accent" [disabled]="(isProcessing$ | async) || evaluationForm.invalid">
            Registrar evaluación
          </button>
        </form>
      </div>
      }

    </div>
  </div>
  } @else {
  <div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
  </div>
  }
</section>