// .row-item {
//     margin: 0 0 30px 0;

//     .row-item-image {
//         position: relative;
//         display: inline-block;
//         transition: all .17s ease-in-out;
//         width: 100%;

//         img {
//             width: 100%;
//             height: auto;
//             float: left;
//         }
//     }

//     .row-item-image-url {
//         position: relative;
//         display: inline-block;
//         margin-bottom: 20px;
//         box-shadow: 0 26px 24px -16px rgb(0 0 0 / 40%);
//         width: 100%;
//     }

//     .row-item-text {

//         .meta-title {
//             margin-bottom: 0.25rem;

//             a {
//                 color: var(--text-default);
//                 text-decoration: none;
//                 transition: all .17s ease-in-out;
//             }
//         }
        
//         .meta-subtitle {
//             margin-top: 0;
//             color: var(--text-secondary);

//             a {
//                 color: var(--text-secondary);
//                 text-decoration: none;

//                 &:hover {
//                     color: var(--color-accent);
//                 }
//             }
//         }
        
//         .meta-title, .meta-subtitle {
//             overflow: hidden;
//             text-overflow: ellipsis;
//             display: -webkit-box;
//             -webkit-line-clamp: 2;
//             -webkit-box-orient: vertical;
//         }
//     }

//     &:hover {
//         .row-item-text .meta-title a {
//             color: var(--color-accent);
//         }

//         .row-item-image {
//           transform: translate3d(0,-10px,0);
//         }
//     }
// }