<mat-toolbar color="primary">
  <div class="logo">
    <button mat-icon-button (click)="onToggleSidenav()" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="/">
      <!-- <img src="/assets/img/logo-icon-40x40.svg" alt=""> -->
      <span>INTERCAMBIA</span>
    </a>
  </div>

  <!-- <ul class="navigation-items">
    <li><a routerLink="explore/collections">Colecciones</a></li>
  </ul> -->

  <span class="example-spacer"></span>

  <div class="suggestion-search-container d-none d-md-block">
    <form (ngSubmit)="onSearch()">
      <div class="suggestion-input-container">
        <input type="search" aria-label="search" name="q" id="suggestion-input" #suggestionInput placeholder="Buscar"
          [(ngModel)]="searchedText" autocomplete="off">
        <div class="suggestion-result-container">
          <div>
            <p *ngIf="isSearching" class="searching">
              Buscando...
            </p>
            <ul *ngIf="!isSearching && showSuggests" class="suggest-list">
              <li *ngFor="let s of suggests" class="suggest-option">
                <a [href]="s.url">
                  <div class="suggest-image-container">
                    <div class="suggest-image-extra" [class.user]="s.type == 'user'">
                      <img [src]="s.image || defaultUserImage" alt="">
                    </div>
                  </div>
                  <div class="suggest-info">
                    <div class="suggest-title">{{ s.title }}</div>
                    <div class="suggest-subtitle">{{ s.subtitle }}</div>
                  </div>
                </a>
              </li>
              <li class="suggest-option">
                <a [href]="'/search?q=' + myEncodeURIComponent(searchedText)" class="suggest-see-all">Ver todos los
                  resultados para "{{ searchedText }}"</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <button id="suggestion-search-button" type="submit" aria-label="Enviar búsqueda"
        class="suggestion-search-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          class="ipc-icon ipc-icon--magnify" viewBox="0 0 24 24" fill="currentColor" role="presentation">
          <path fill="none" d="M0 0h24v24H0V0z"></path>
          <path
            d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
          </path>
        </svg></button>
    </form>
  </div>

  <ul class="navigation-items">
    <li class="d-md-none">
      <a mat-icon-button routerLink="/search" aria-label="Buscar">
        <mat-icon>search</mat-icon>
      </a>
    </li>
    <li *ngIf="!isAuth"><a routerLink="/login">Ingresar</a></li>
    <!-- <li *ngIf="isAuth">
      <a style="cursor:pointer" (click)="onLogout()">Salir</a>
    </li> -->
  </ul>
</mat-toolbar>