<div class="settings-page">
    <div *ngIf="!isLoaded" class="loading-indicator">
        <mat-spinner aria-label="cargando"></mat-spinner>
    </div>
    <section *ngIf="isLoaded" class="settings">
        <div class="settings-header">
            <img class="" [defaultImage]="defaultUserImage" [lazyLoad]="authUser.image || defaultUserImage"
                [alt]="authUser.displayName" crossorigin="anonymous">
            <div class="settings-title">
                <h1>
                    <a [routerLink]="['/user', authUser.id]">{{ authUser.displayName }}</a>
                    <span>/</span>
                    {{ title }}
                </h1>
                <h2>{{ subtitle }}</h2>
            </div>
        </div>
        <div class="settings-content">
            <div>
                <ul class="settings-nav">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['.']">Editar perfil</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['./connect']">Conectar</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['./notifications']">Notificaciones</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['./blacklist']">Bloqueados</a>
                    </li>
                    <li class="separator"></li>
                    <li class="warning" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a [routerLink]="['./delete']">Eliminar cuenta</a>
                    </li>
                </ul>
            </div>
            <div class="settings-main flex-full">
                <router-outlet></router-outlet>
            </div>
        </div>
    </section>
</div>