<div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner></mat-spinner>
</div>
<section *ngIf="isLoaded" class="collection collection-section">
  <div class="collection-visual">
    <a class="btn" mat-stroked-button color="primary" [routerLink]="['../']">
      <mat-icon inline="true">arrow_back</mat-icon> Volver
    </a>
    <div class="collection-imagen-container">
      <img class="collection-image" [defaultImage]="defaultCollectionImage" [lazyLoad]="collection.image" [alt]="collection.name">
    </div>
  </div>
  <div class="collection-info flex-full">
    <h1>
      <span class="color-accent" *ngIf="showedUsers.length != users.length">
        {{ showedUsers.length }} de 
      </span>
      {{ collection.totalCollecting }} usuarios con esta colección
    </h1>
    <div class="card">
      <div class="empty-content" *ngIf="!showedUsers.length">
        <h2>(¬‿¬)</h2>
        <p>Todavía no hay nadie con esta colección... serás el primero?</p>
        <a class="btn" mat-raised-button color="accent" [routerLink]="['../']">
          <mat-icon inline="true">add</mat-icon> Agregar colección
        </a>
      </div>
      <div *ngIf="showedUsers.length" class="controls-std">
        <mat-form-field class="controls-search" appearance="outline">
          <mat-label>Filtrar por nombre, ID, ciudad o descripción</mat-label>
          <mat-icon matPrefix>search</mat-icon>
          <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onFilter()">
          <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="onClearFilter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ordenar por</mat-label>
          <mat-select (selectionChange)="onSort()" [(value)]="sortOptionSelected">
            <mat-option *ngFor="let option of sortOptions" [value]="option.selectValue">
              {{ option.selectName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <ul class="list-std">
        <li class="list-std-item" *ngFor="let user of showedUsers; trackBy: trackByUsers"
          [ngClass]="{'pro-account': user.accountTypeId == 2}">
          <div class="list-item-image">
            <a [routerLink]="['/user', user.id]">
              <img [defaultImage]="defaultUserImage" [lazyLoad]="user.image || defaultUserImage" alt="">
            </a>
          </div>

          <div class="list-item-content flex-full">
            <div class="list-item-title">
              <a [routerLink]="['/user', user.id]">
                {{ user.displayName }}
                <span *ngIf="user.accountTypeId == 2" class="pro-label">PRO</span>
                <span *ngIf="user.positives" class="positives-label">+{{ user.positives }}</span>
                <span *ngIf="user.negatives" class="negatives-label">-{{ user.negatives }}</span>
              </a>
            </div>
            <div class="list-item-meta custom-separator">
              <span>ID {{ user.id }}</span>
              <span>{{ user.location || 'Sin especificar' }}</span>
              <span appDaysSinceLogin="{{ user.summary?.daysSinceUpdate }}" [preText]="'Actualizado '"></span>
            </div>
            <div *ngIf="user?.bio" class="list-item-desc">
              <p [innerHTML]="user?.bio | sanitizeHtml"></p>
            </div>
          </div>

          <div class="list-item-statics">
            <div>
              <span class="list-item-title">{{ user.summary?.collectionWishing }}</span>
              <span class="list-item-meta">Busca</span>
            </div>
            <div>
              <span class="list-item-title">{{ user.summary?.collectionTrading }}</span>
              <span class="list-item-meta">Cambia</span>
            </div>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>