@if (isInit$ | async) {
<header>
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
</header>
<ng-progress aria-label="grado de avance de las peticiones al servidor"></ng-progress>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav [mode]="navMode" [opened]="navOpened" role="navigation">
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-outer-wrap">
      <div class="page-wrap">
        <main style="min-height: 900px;" #maincontent>
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
} @else {
<div>Initializing...</div>
}