@if (isInit$ | async) {
<header>
  <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
</header>
<ng-progress aria-label="grado de avance de las peticiones al servidor"></ng-progress>
<mat-sidenav-container hasBackdrop="false">
  <mat-sidenav #sidenav [mode]="navMode" [opened]="navOpened" role="navigation">
    <app-sidenav-list></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-outer-wrap">
      <div class="page-wrap">
        <main style="min-height: 900px;" #maincontent>
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
} @else {
<div class="preload" style="display: flex; flex-direction: column; flex-grow: 1; min-height: 100vh;">
  <div class="preload-content"
    style="position: absolute; top: calc(50% - 1rem); left: 0; right: 0; text-align: center;">
    <h1>INTERCAMBIA</h1>
    <span>Esto podría tomar algunos momentos...</span>
  </div>
</div>
}