<h1>
    @if (managedImages().length != images().length) {
    <span class="color-accent">
        {{ managedImages().length }} de
    </span>
    }
    {{ images().length }} imágenes publicadas
</h1>

<div class="card">
    @if (images().length) {
    <div class="controls-std">
        <div class="controls-std-main">
            <div class="controls-std-order">
                <mat-form-field appearance="outline">
                    <mat-label>Ordenar por</mat-label>
                    <mat-select [(value)]="sortOptionSelected">
                        @for (option of sortOptions; track option.selectValue) {
                        <mat-option [value]="option.selectValue">
                            {{ option.selectName }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- <div class="controls-std-settings">
                <a class="btn" style="margin-right: 8px;" mat-raised-button color="accent" (click)="onNewImage.emit()">
                    <mat-icon>add_a_photo</mat-icon> Subir
                </a>
                <a class="btn" mat-stroked-button color="primary" (click)="showFilters = !showFilters">
                    <mat-icon>filter_list</mat-icon> Filtros
                </a>
            </div> -->
            <div class="controls-std-settings">
                <button mat-icon-button color="accent" aria-label="Button for adding an image"
                    (click)="onNewImage.emit()">
                    <mat-icon>add_a_photo</mat-icon>
                </button>
                <button mat-icon-button [color]="showFilters ? 'accent' : 'primary'"
                    aria-label="Button for show filter options" (click)="showFilters = !showFilters">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <p>
                    Registros {{ fromRecord() | number:'':'es' }} a {{ toRecord() | number:'':'es' }}
                </p>
            </div>
        </div>
        <div class="constrols-std-filters" [ngClass]="{ 'show': showFilters }">
            <mat-form-field class="controls-search" appearance="outline">
                <mat-label>Filtrar por descripción o usuario (nombre / ID)</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="text" [(ngModel)]="searchText">
                @if (searchText()) {
                <button matSuffix mat-icon-button aria-label="Clear" (click)="searchText.set('')">
                    <mat-icon>close</mat-icon>
                </button>
                }
            </mat-form-field>
        </div>
    </div>

    <div class="images-grid">
        @for (image of showedImages(); track image.id; let i = $index) {
        <div class="images-grid-card">
            <div class="images-grid-content">
                <img [src]="baseImageUrl + image.id"
                    [alt]="image.description + ' en ' + collection().name + ' de ' + collection().publisher.data.name"
                    class="images-grid-image" loading="lazy" crossorigin="anonymous">
                <p class="images-grid-author">
                    por <a [routerLink]="['/user', image.user?.data?.id]">{{ image.user?.data?.displayName }}</a> el
                    {{
                    image.created * 1000 | date:'dd/MM/yy' }}
                </p>
                <div class="images-grid-details">
                    <button mat-raised-button color="accent"
                        (click)="lightbox.open(i, 'lightbox', {panelClass: 'fullscreen'})">
                        <mat-icon>zoom_in</mat-icon> Zoom
                    </button>
                </div>
                <div (click)="onToggleLike.emit(image)" class="images-grid-likes" [ngClass]="{'likes': image.likes }">
                    <mat-icon aria-hidden="false" aria-label="Number of likes">favorite</mat-icon>
                    <span>{{ image.totalLikes }}</span>
                </div>
            </div>
            <p class="images-grid-title">
                #{{ i + 1 }} - {{ image.description }}
            </p>
        </div>
        }
    </div>

    @if (lastPage() > 1) {
    <br />
    <app-pagination [pageSelected]="pageSelected()" [lastPage]="lastPage()"
        (pageChange)="onPageChange($event)"></app-pagination>
    }
    } @else {
    <div class="empty-content">
        <h2>(｡◕‿‿◕｡)</h2>
        <p>Nadie ha publicado un elemento multimedia... Quiéres ser el primero?</p>
        <a class="btn" mat-raised-button color="accent" (click)="onNewImage.emit()">
            <mat-icon>add_a_photo</mat-icon> Subir imagen
        </a>
    </div>
    }
</div>