<!-- <div *ngIf="!isLoaded" class="loading-indicator">
  <mat-spinner aria-label="cargando"></mat-spinner>
</div> -->
<section class="auth auth-section">
    <div class="login card">
        <img src="/assets/img/logo-icon-40x40.svg" alt="">
        <h1>
            ¿Olvidaste tu contraseña?
        </h1>
        <p>
            Completa el siguiente formulario para resetear tu contraseña
        </p>
        <div class="reset-form">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput ngModel name="email" email required #emailInput="ngModel">
                    <mat-error *ngIf="emailInput.hasError('required')">No puede quedar vacío</mat-error>
                    <mat-error *ngIf="emailInput.hasError('email')">El email no es válido</mat-error>
                </mat-form-field>

                <button type="submit" mat-raised-button color="accent" class="button-large"
                    [disabled]="f.invalid || isLoading">Enviar instrucciones</button>
            </form>
            <p>
                ¿Ya la recordaste? <a [routerLink]="['/login']" class="color-accent">Iniciar sesión</a>
            </p>

        </div>
    </div>
</section>