<section class="auth auth-section">
    <div class="login card">
        <img src="/assets/img/logo-icon-40x40.svg" alt="">
        <h1>
            ¿Olvidaste tu contraseña?
        </h1>
        <p>
            Completa el siguiente formulario para resetear tu contraseña
        </p>
        <div class="reset-form">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput ngModel name="email" email required #emailInput="ngModel">
                    @if (emailInput.hasError('required')) { <mat-error>No puede quedar vacío</mat-error> }
                    @if (emailInput.hasError('email')) { <mat-error>El email no es válido</mat-error> }
                </mat-form-field>

                <button type="submit" mat-raised-button color="accent" class="button-large"
                    [disabled]="f.invalid || (isProcessing$ | async)">Enviar instrucciones</button>
            </form>
            <p>
                ¿Ya la recordaste? <a [routerLink]="['/login']" class="color-accent">Iniciar sesión</a>
            </p>

        </div>
    </div>
</section>