<div class="messages-page">
    <div *ngIf="!isLoaded" class="loading-indicator">
        <mat-spinner></mat-spinner>
    </div>
    <section *ngIf="isLoaded" class="messages-conversation flex-full">
        <div class="chat-container">
            <div class="chat-header">
                <a class="btn" mat-icon-button color="primary" [routerLink]="['../']">
                    <mat-icon inline="true">keyboard_backspace</mat-icon>
                </a>
                <div class="chat-header-user">
                    <img [defaultImage]="defaultUserImage" [lazyLoad]="otherUser.image || defaultUserImage" 
                        alt="Imagen de Perfil" crossorigin="anonymous">
                    <h3>{{ otherUser.displayName }}</h3>
                </div>
                <a class="btn" mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon inline="true">more_vert</mat-icon>
                </a>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/user', otherUser.id]">Ver perfil</button>
                    <button mat-menu-item *ngIf="!isArchived && usersMessages.length" (click)="onArchive()">Archivar conversación</button>
                </mat-menu>
            </div>
            <div class="chat-content">
                <div class="chat-messages">
                    <ng-container *ngFor="let message of usersMessages">
                        <div *ngIf="message.newDate" class="chat-date-separator">
                            <div class="chat-date-separator-line"></div>
                            <span>{{ message.timestamp | date:'dd/MM/YYYY' }}</span>
                            <div class="chat-date-separator-line"></div>
                        </div>
                        <div class="chat-message" [ngClass]="message.fromUserId == authUser.id ? 'me' : 'other'">
                            <div class="chat-message-text">
                                <span>{{ message.body }}</span>
                            </div>
                            <div class="chat-message-date">{{ message.timestamp | date:'HH:mm' }}</div>
                        </div>
                    </ng-container>
                    <div *ngIf="!usersMessages.length" class="alert alert-warning">
                        <div class="alert-container">
                            <div class="alert-content">
                                <div class="alert-message">
                                    Los mensajes enviados a través de la aplicación NO están cifrados NI
                                    son privados, por lo que NO debes usarlos para enviar información confidencial.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="isArchived && !otherUser.disabled" class="alert alert-info">
                        <div class="alert-container">
                            <div class="alert-content">
                                <div class="alert-message">
                                    Si recibes o envías un nuevo mensaje, la conversación se desarchivará
                                    automáticamente.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="otherUser.disabled" class="alert alert-warning">
                        <div class="alert-container">
                            <div class="alert-content">
                                <div class="alert-message">
                                    Este usuario se encuentra deshabilitado, por lo que no puede enviar ni recibir
                                    mensajes.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-inputs">
                <div class="chat-inputs-icons"></div>
                <div class="chat-inputs-text">
                    <input placeholder="Escribe un mensaje aquí" type="text" maxlength="500" autocomplete="off"
                        [disabled]="otherUser.disabled || authUser.disabled" [(ngModel)]="newMessageText"
                        (keyup.enter)="onSend()">
                </div>
                <div class="chat-inputs-send">
                    <button mat-icon-button aria-label="Enviar" (click)="onSend()">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>