@if (isLoaded$ | async) {
    <section class="collection2 collection-section2">
        <app-collection-manage-items-list
            [items]="(items$ | async)!"
            (onAddWish)="onAddWish($event)"
            (onRemoveWish)="onRemoveWish($event)"
            (onAddTrade)="onAddTrade($event)"
            (onRemoveTrade)="onRemoveTrade($event)"
        ></app-collection-manage-items-list>
    </section>
} @else {
    <div class="loading-indicator">
        <mat-spinner aria-label="cargando"></mat-spinner>
    </div>
}