<div *ngIf="!isLoaded" class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
<section *ngIf="isLoaded" class="collection2 collection-section2">

    <div class="manage-list">
        <div class="manage-list-controls">
            <div class="controls-std-filters">
                <mat-form-field class="controls-search" appearance="outline">
                    <mat-label>Filtrar por nombre o descripción</mat-label>
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput type="text" [(ngModel)]="searchText" (ngModelChange)="onFilter()">
                    <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="onClearFilter()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </div>

            <div class="manage-list-info">
                <p>(+1): Click izquierdo / Tap</p>
                <p>(-1): Click derecho / Tap largo</p>
            </div>
        </div>

        <ul class="list-std">
            <ng-container *ngFor="let item of items; trackBy: trackById">
                <li *ngIf="!item.isHidden" class="list-std-item">
                    <div class="list-item-main">
                        <div class="list-item-image">
                            <a [routerLink]="['/item', item.id]">
                                <img [defaultImage]="defaultItemImage" [lazyLoad]="item.image || defaultItemImage"
                                    alt="" crossorigin="anonymous">
                            </a>
                        </div>
                        <div class="list-item-content flex-full">
                            <div class="list-item-title">
                                <a [routerLink]="['/item', item.id]">
                                    Nro. {{ item.name }}
                                </a>
                            </div>
                            <div class="list-item-meta custom-separator">
                                <span>{{ item.description }}</span>
                                <!-- <span>{{ item.location || 'Sin especificar' }}</span> -->
                            </div>
                        </div>
                        <div class="list-item-actions">
                            <!-- <button [disabled]="item.isSaving" mat-raised-button (click)="onAddWish(item)"
                                [color]="item.wishlist ? 'accent' : 'basic'" (contextmenu)="onRemoveWish(item)"
                                longPress (mouseLongPress)="onRemoveWish(item)" [matBadge]="item.wishlistQuantity"
                                [matBadgeHidden]="!item.wishlist">
                                <mat-icon inline="true">search</mat-icon> Busco
                            </button> -->
                            <button [disabled]="item.isSaving" mat-raised-button (click)="onAddWish(item)"
                                [color]="item.wishlist ? 'accent' : 'basic'" (contextmenu)="onRemoveWish(item)"
                                (press)="onRemoveWish(item)" [matBadge]="item.wishlistQuantity"
                                [matBadgeHidden]="!item.wishlist">
                                <mat-icon inline="true">search</mat-icon> Busco
                            </button>
                            <!-- <button [disabled]="item.isSaving" mat-raised-button
                                [color]="item.tradelist ? 'accent' : 'basic'" (click)="onAddTrade(item)"
                                (contextmenu)="onRemoveTrade(item)" longPress (mouseLongPress)="onRemoveTrade(item)"
                                [matBadge]="item.tradelistQuantity" [matBadgeHidden]="!item.tradelist">
                                <mat-icon inline="true">swap_horiz</mat-icon> Cambio
                            </button> -->
                            <button [disabled]="item.isSaving" mat-raised-button
                                [color]="item.tradelist ? 'accent' : 'basic'" (click)="onAddTrade(item)"
                                (contextmenu)="onRemoveTrade(item)" (press)="onRemoveTrade(item)"
                                [matBadge]="item.tradelistQuantity" [matBadgeHidden]="!item.tradelist">
                                <mat-icon inline="true">swap_horiz</mat-icon> Cambio
                            </button>
                        </div>
                    </div>
                </li>
            </ng-container>
        </ul>
    </div>

</section>