<div class="user-visual">
    <div class="user-links">
        <a *ngIf="showBackButton" class="btn" mat-stroked-button color="primary" [routerLink]="['../']">
            <mat-icon inline="true">arrow_back</mat-icon> Volver
        </a>
        <a class="btn" mat-stroked-button (click)="onShare()">
            <mat-icon inline="true">share</mat-icon> Compartir
        </a>
    </div>

    <div class="user-content">
        <div class="user-imagen-container">
            <img class="user-image" [defaultImage]="defaultUserImage" [lazyLoad]="user.image || defaultUserImage"
                [alt]="user.displayName" crossorigin="anonymous">
        </div>
        <div class="user-data">
            <span *ngIf="user.accountTypeId == 2" class="pro-label">PRO</span>
            <h1 class="">{{ user.displayName }}</h1>
            <p class="subtitle">ID de usuario: <strong>{{ user.id }}</strong></p>
        </div>
    </div>
</div>
<ng-container *ngIf="isAdsLoaded">
    <ng-adsense *ngIf="!authUser.id || (authUser.accountTypeId == 1)" [adSlot]="7631554101" [adFormat]="'auto'"
        [display]="'block'" [fullWidthResponsive]="true" [className]="'bga-section-vert'"></ng-adsense>
</ng-container>