<section class="pages faqs">
    <h1>Preguntas Frecuentes (FAQS)</h1>
    <p>Si tus preguntas no son respondidas a continuación, puedes contactarnos a través de nuestras redes sociales, o
        incluso por email a contacto@intercambialaminas.com. Estaremos atentos a recibir opiniones, dudas o comentarios
        que nos ayuden a mejorar!</p>

    <h2><span>Introducción</span></h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué es IntercambiaLaminas.com?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>IntercambiaLaminas.com es una aplicación web que busca ayudarte a completar tus colecciones! (álbumes y
                cartas coleccionables principalmente)
                Podrás gestionar tus colecciones, indicando las láminas (stickers / figuritas / pegatinas / cromos /
                estampas / barajitas o como le digan donde tú vives)
                que buscas y las que tienes para cambiar, y nosotros te ayudaremos encontrando otras personas con las
                cuales podrás coordinar cambios.
                El cambio puedes hacerlo por correo postal, o coordinando una entrega directo con el otro usuario.
                Adicionalmente, podrás compartir un perfil público
                con el detalle de tus colecciones e itemizados.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Me pueden ayudar a encontrar con quién cambiar?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Claro que sí! Siempre puedes ver los demás usuarios que tienen una colección específica, y una vez
                marques los ítems que buscas y tienes
                para cambiar, nosotros te propondremos otros usuarios con los cuales puedes coordinar intercambios,
                indicándote de que ciudad son y
                otros datos relevantes que te serán de ayuda al momento de coordinar.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Puedo acceder a mis datos desde cualquier dispositivo?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Así es, puedes acceder a tu cuenta desde cualquier navegador web (aunque te recomendamos que uses la
                útima versión de Chrome)
                y gestionar tus colecciones desde el celular, notebook o PC de escritorio. De manera similar, los demás
                visitantes pueden
                acceder a tu perfil y consultar tus datos públicos desde cualquier lugar!
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <h2><span>Términología usada</span></h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué es una "colección"?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>En IntercambiaLaminas.com nos referimos a una "colección" principalmente a los Álbumes de stickers y
                Coleccionadores de cartas.
                Estas colecciones están compuesta de un conjunto de "ítems" que pueden ser intercambiados entre los
                usuarios de manera de conseguir
                todos los ítems que componen la colección y así poder completarla.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué es un "ítem"?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Nos referimos a un "ítem" como cada uno de los elementos que componen una colección. En la mayoría de los
                casos corresponden a stickers o cartas,
                aunque hay casos en que algunas colecciones adicionalmente incluyen otros elementos como armables,
                tazos, stacks, etc., que podrían ser considerados
                en el itemizado de una colección.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <h2><span>Registro</span></h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo me puedo registrar?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Inicialmente solo necesitas indicar un nombre (para que los demás usuarios puedan identificarte), un
                email y un password. Como método alternativo
                también tenemos la opción de que utilices los datos básicos de una cuenta de Google para crearte una
                cuenta con nosotros. Una vez realizado el registro
                podrás comenzar a utilizar de manera inmediante nuestra aplicación!
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Hay que pagar por usar la aplicación?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Registrarse en IntercambiaLaminas.com es gratis, y siempre podrás usar las funcionalidades básicas de la
                aplicación que te permitirán gestionar tus
                colecciones, mantener un perfil público actualizado y encontrar otros usuarios con los cuáles poder
                coordinar cambios! En efecto, gracias a la posibilidad
                de poder cambiar tus ítems repetidos no vas a tener que comprar tantos ítems lo que hará que gastes
                menos dinero.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Debo entregarles información personal?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Inicialmente necesitamos al menos tu nombre, un password y un email activo para poder realizar el
                registro, pero ten en cuenta que tu cuenta de dirección electrónica nunca será
                publicada en nuestra aplicación ni será compartida con el resto de los usuarios. Ahora, cuando quieras
                buscar posibles cambios vamos a requerir que indiques
                en qué ciudad vives, de manera de poder indicarte otros usuarios con los que poder cambiar en tu misma
                ciudad o país.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Puedo cambiar mis datos personales?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Sí, puedes cambiar tus datos personales registrados con nosotros en cualquier momento desde la sección de
                "Configuración".
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Puedo eliminar mi cuenta?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Aunque lamentaremos que nos abandones, puedes eliminar tu cuenta en cualquier momento desde la sección de
                "Configuración". Si por alguna razón perdiste el acceso a tu cuenta
                puedes escribirnos a contacto@intercambialaminas.com para ayudarte. Debes tener claro que esta acción es
                irreversible, ya que al eliminar tu cuenta todos tus datos personales
                son eliminados definitivamente.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <h2><span>Colecciones</span></h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo agrego una colección a mi perfil?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Una vez hayas iniciado sesión, debes encontrar la colección que quieres agregar a tu perfil. Para ésto,
                puedes ver si está en alguna de las secciones
                de la <strong>página inicial</strong>, usar el <strong>buscador</strong> o <strong>explorar</strong>
                todas las colecciones registradas. Una vez la encuentres, debes presionarla para ir a la página
                con el detalle de ésta y se desplegará el botón "Agregar" resaltado, el cual debes presionar para
                agregar esa colección a tu perfil.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo quito una colección de mi perfil?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Una vez hayas iniciado sesión, debes ir a la página de esa colección y presionar en el botón de
                "Opciones", para luego elegir la opción
                "Quitar Colección". Ten en consideración que esta acción
                es irreversible y al confirmar, se eliminarán todos los datos que tengas asociados a esa colección
                (ítems buscados, ítems repetidos, comentarios, etc.).
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué hago si no encuentro la colección?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Si nos ayudas enviándonos la información detallada de la colección al email
                contacto@ointercambialaminas.com,
                estaremos encantados de agregarla a la aplicación.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo indico mis buscadas y repetidas?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Una vez hayas iniciado sesión, debes ir a la página de la colección que quieres actualizar tus buscadas y
                repetidas. Una vez allí
                presiona el bóton destacado "Editar" que te llevará a la página donde puedes gestionar tus listados de
                varias formas.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <h2><span>Intercambios</span></h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo funcionan los intercambios?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Una vez hayas indicado tus ítems buscados/repetidos de tus distintas colecciones y tengas registrada tu
                actual ciudad, podrás
                buscar tus posibles cambios presionando en la opción del menú lateral "Cambios". En esta página puedes
                seleccionar distintos filtros
                para acotar los resultados disponibles. Nosotros te desplegaremos un listado de usuarios con los que al
                menos tengas 1 posible cambio
                de acuerdo a los filtros seleccionados. Luego queda de tu parte contactar al usuario para ver si
                acuerdan llevar a cabo el cambio.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Se consideran todas las colecciones en los posibles cambios?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Si, nuestra aplicación considera todas las colecciones que tienen los usuarios al momento de buscar
                intercambios. Queda a criterio de los usuarios
                definir si quieren completar cambios de distintas colecciones (tomando en cuenta antigüedad,
                disponibilidad u otros factores).
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Para qué son los colores de los ítems?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Los colores permiten identificar las láminas mas difíciles de conseguir de una colección. Para eso se
                utiliza una relación simple entre la cantidad
                de usuarios que buscan ese ítem, contra los que han indicado que la tienen repetida. Puedes revisar la
                lógica utilizada en detalle <a
                    href="https://trello.com/c/QRvIcc3x/8-ayudar-a-hacer-mejores-cambios-indicando-la-dificultad-de-las-l%C3%A1minas-en-los-posibles-cambios"
                    target="_blank" rel="noopener noreferrer">en este enlace.</a>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo puedo contactar a otro usuario?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Te recomendamos visitar el perfil público de ese usuario y revisar la información que haya dejado
                disponible. Como alternativa, nuestra aplicación
                tiene la opción de enviar mensajes en tiempo real entre los usuarios, pero te aconsejamos utilizar otros
                medios de comunicación mas utilizados.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Puedo comprar o vender ítems a través de la aplicación?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>NO, y lo ponemos en mayúscula, porque nuestra aplicación fue desarrollada específicamente para ayudar a
                encontrar INTERCAMBIOS, es decir, lograr
                cambiar los ítems repetidos (que siempre son muchos) por los que faltan. Utilizar cuentas solo para
                comprar o vender puede resultar en la inhabilitación
                de esa cuenta, e incluso su eliminación de manera definitiva.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo hago efectivo un intercambio?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Esa parte queda a responsabilidad de los usuarios. Pueden coordinar juntarse en algún lugar céntrico si
                viven relativamente cerca, o en el caso de vivir en distintas
                ciudades, puedes coordinar el envío a través de correo u otro servicio de encomiendas. Te aconsejamos
                siempre enviar los ítems bien protegidos y en excelentes
                condiciones, tal cual te gustaría recibirlos!
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Qué pasa si el otro usuario no cumple el acuerdo de cambio?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Si un usuario no envía los ítems acordados, lo que envía no está en buenas condiciones, o no cumple el
                acuerdo al que se había llegado, puedes registrarle
                una evaluación negativa la cual quedará en su historial y será de acceso público. Nosotros monitoreamos
                de manera periódica las evaluaciones
                negativas y en caso que esta situación sea recurrente en un usuario, su cuenta podrá ser deshabilitada
                para nuevos cambios. Te recomendamos verificar
                el historial de evaluaciones de un usuario previo a coordinar un cambio con él.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo puedo modificar una evaluación?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Las evaluaciones (ya sean positivas o negativas) una vez registradas NO PUEDEN SER MODIFICADAS! Así que
                te recomendamos pensarlo 2 veces antes de
                hacerlo. Puedes registrar indefinidas evaluaciones a un mismo usuario, pero debes tener
                en cuenta que para la totalización de evaluaciones
                se considera la última evaluación que le registraste.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <h2><span>Problemas técnicos</span></h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Que puedo hacer si la aplicación no me funciona correctamente?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Utilizamos las últimas tecnologías para el desarrollo y operatividad de la aplicación, implementado un
                diseño responsivo que permite navegar correctamente por las
                páginas en distintos tamaños de pantalla. Asegúrate de tener instalada una versión actualizada de tu
                navegador web.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Tengo mi navegador web actualizado pero aun así la aplicación no funciona
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>En ese caso es probable que el problema sea de parte del servidor. Envíanos un email a
                contacto@intercambialaminas.com indicando el detalle del problema y
                nosotros buscaremos como ayudarte.
            </p>
        </mat-expansion-panel>
    </mat-accordion>

    <h2><span>Preguntas adicionales</span></h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Tienen una aplicación nativa para Android e iOS?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Nuestra aplicación tiene un diseño responsivo, que te permitirá navegar por las distintas páginas
                correctamente desde dispositivo de distintos tamaños
                sin problemas. Actualmente tenemos una aplicación nativa para Android llamada <a
                    href="https://play.google.com/store/apps/details?id=com.intercambialaminas.intercambia"
                    target="_blank" rel="noopener noreferrer">"Intercambia"</a>, pero ésta no está totalmente
                actualizada por lo que
                te recomendamos usar preferentemente la aplicación web.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    ¿Cómo puedo ayudarlos?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>Si te gusta nuestra aplicación, estaremos muy agradecidos si compartes tu experiencia positiva con tus
                amigos, le das "like" a nuestra redes sociales (Facebook y Twitter) y las compartes en tus redes.
                Si tienes un blog o sitio web podrías compartir tu experiencia con IntercambiaLaminas.com. Podemos
                enviarte información adicional que requieras o coordinar algo que sea de mutuo beneficio. Por
                favor contáctanos por email a contacto@intercambialaminas.com
            </p>
        </mat-expansion-panel>
    </mat-accordion>

</section>