@if (isLoaded$ | async) {
<section class="search">
    <div class="search-header">
        <div class="div search-input-container">
            <form (ngSubmit)="onSearch()" class="">
                <input type="search" aria-label="search" placeholder="Buscar" autocomplete="off" name="search"
                    [(ngModel)]="searchTxt" required>
            </form>
        </div>
        <h1>{{ vm$().query }}</h1>

        <app-ad-loader [adSlot]="3904547492" [className]="'bga-hor'"></app-ad-loader>

        @if (!(showResults$ | async)) {
        <div class="empty-content">
            <h2>(˚Δ˚)</h2>
            <p>Ingresa un término acá arriba para buscar colecciones o usuarios!</p>
        </div>
        }
    </div>

    @if (showResults$ | async) {
    <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedTabChange)="onTabChanged($event);">
        <mat-tab label="Colecciones">
            <ng-template matTabContent>
                <app-search-collection [collections]="vm$().collections" [paginator]="vm$().paginator"
                    (onPageSelected)="onPageChanged($event)" (onOrderSelected)="onOrderChanged($event)">
                </app-search-collection>
            </ng-template>
        </mat-tab>
        <mat-tab label="Usuarios">
            <ng-template matTabContent>
                <app-search-user [users]="vm$().users" [paginator]="vm$().paginator"
                    (onPageSelected)="onPageChanged($event)" (onOrderSelected)="onOrderChanged($event)">
                </app-search-user>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    }
</section>
} @else {
<div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
</div>
}