<section class="collection collection-section">
  <app-collection-summary [collection]="(collection$ | async)!" [showBackButton]="true"></app-collection-summary>

  @if (isLoaded$ | async) {
  <div class="collection-manage flex-full">
    <h1>Gestionar colección</h1>

    <!-- <ng-container *ngIf="isAdsLoaded">
        <ng-adsense *ngIf="!authUser.id || (authUser.accountTypeId == 1)" [adSlot]="7207150645" [adFormat]="'auto'"
          [display]="'block'" [fullWidthResponsive]="true" [className]="'bga-hor'"></ng-adsense>
      </ng-container> -->

    <app-collection-manage-form [publicComment]="(collection$ | async)?.userData?.publicComment!"
      [isProcessing]="(isProcessing$ | async)!" (onAddComment)="addComment($event)"
      (onDeleteComment)="deleteComment()"></app-collection-manage-form>

    <div class="card">
      @if (!(collection$ | async)?.items) {
      <div class="empty-content">
        <h2>(｡◕‿‿◕｡)</h2>
        <p>Esto es embarazoso... no nos hemos podido conseguir el itemizado de esta colección ¿Nos ayudas?</p>
        <a class="btn" mat-raised-button color="accent"
          href="https://docs.google.com/forms/d/e/1FAIpQLScFscIKcIidgCGx-MRkCAjxNVFQFfJG0lIptcHHwUxe5zlyIQ/viewform?c=0&w=1"
          target="_blank" rel="noopener noreferrer">
          <mat-icon>add_a_photo</mat-icon> Agregar colección
        </a>
      </div>
      } @else {
      <ng-container>
        <nav mat-tab-nav-bar [tabPanel]="tabPanel">
          <a mat-tab-link [routerLink]="['.']" [active]="actualPage == 'manage'">Listado ({{ (collection$ |
            async)?.items }})</a>
          <a mat-tab-link [routerLink]="['wishlist']" [active]="actualPage == 'wishlist'">Buscando ({{ totalWishing
            }})</a>
          <a mat-tab-link [routerLink]="['tradelist']" [active]="actualPage == 'tradelist'">Cambiando ({{ totalTrading
            }})</a>
        </nav>

        <mat-tab-nav-panel #tabPanel>
          <router-outlet></router-outlet>
        </mat-tab-nav-panel>
      </ng-container>
      }
    </div>
  </div>
  } @else {
  <div class="loading-indicator">
    <mat-spinner aria-label="cargando"></mat-spinner>
  </div>
  }
</section>