<div *ngIf="!isLoaded" class="loading-indicator">
    <mat-spinner></mat-spinner>
</div>
<section *ngIf="isLoaded" class="settings-section">
    <div class="settings-profile">

        <div class="avatar-preview">
            <img class="" [defaultImage]="defaultUserImage" [lazyLoad]="profile.image || defaultUserImage"
                [alt]="profile.displayName">
            <div class="avatar-actions">
                <a class="btn" mat-raised-button color="accent" (click)="onNewImage()">
                    <mat-icon inline="true">upload</mat-icon> Nueva imagen
                </a>
                <a *ngIf="profile.image" class="btn" mat-stroked-button (click)="onDeleteImage()">
                    <mat-icon inline="true">delete</mat-icon> Eliminar
                </a>
            </div>
        </div>

    </div>
</section>
<ng-template #confirmDeleteDialog>
    <p matDialogContent>Estás seguro de eliminar tu foto de perfil?</p>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close [disabled]="isDeleting">Cancelar</button>
        <button mat-raised-button (click)="onConfirmDelete()" 
            [disabled]="isDeleting" color="accent">
            Eliminar
        </button>
    </mat-dialog-actions>
</ng-template>