<section class="pages tos">
    <h1>Condiciones de Uso</h1>

    <h2><span>1.- Objeto y Generalidades</span></h2>
    <p>Las presentes Condiciones Generales de Uso (en adelante, “Condiciones de Uso”) regulan el uso del sitio web, las
        aplicaciones y notificaciones de correo electrónico (en adelante, “Servicio” o “Servicios”) de
        INTERCAMBIALAMINAS (en adelante, “IntercambiaLáminas” o “nosotros”).</p>
    <p>El objetivo de IntercambiaLáminas es ayudarle a completar sus álbumes de láminas (stickers, figuritas, pegatinas,
        cromos, estampas, barajitas o como les digan donde tú vivas), permitiendo también la gestión ordenada de éstos y
        la interacción entre Usuarios. Las presentes condiciones de uso tienen por objeto
        regular las condiciones de contratación de los Servicios ofrecidos por IntercambiaLáminas a las personas físicas
        o jurídicas (en adelante, “Usuario”) y cualquier información, texto, enlace, gráfico, foto, audio, vídeo o
        material o disposición de material cargados o que aparezcan en los Servicios (en adelante, el “Contenido”).</p>
    <p>Al hacer uso de estos Servicios, usted accede a vincularse a estas Condiciones de Uso.</p>
    <blockquote><span>Más sencillo: Cada empresa tiene sus condiciones. Estas son las nuestras.</span></blockquote>

    <h2><span>2.- Quién puede hacer uso de los Servicios</span></h2>
    <p>Para acceder al servicio es necesario ser mayor de 16, registrarse, disponer de una cuenta de Usuario vigente y
        haber aceptado las Condiciones de Uso y la Política de privacidad.</p>
    <p>Por medio de la aceptación de las presentes Condiciones de Uso, el Usuario manifiesta:</p>
    <ul>
        <li>Que ha leído, entiende y comprende lo aquí expuesto.</li>
        <li>Que asume todas las obligaciones aquí dispuestas.</li>
        <li>Que tiene más de 16 años y la capacidad legal suficiente para utilizar el Servicio.</li>
    </ul>
    <blockquote><span>Más sencillo: Tienes que ser mayor de edad y aceptar estas condiciones de uso.</span></blockquote>

    <h2><span>3.- Privacidad</span></h2>
    <p>Nuestra <a routerLink="/p/privacy">Política de privacidad</a> describe cómo manejamos la información que nos
        proporciona al hacer uso de
        nuestros Servicios. Comprende que mediante el uso que usted hace de nuestros Servicios, usted consiente a la
        recopilación y uso (tal y como se recoge en la Política de privacidad) de esta información, incluida su
        transferencia a otros países para su almacenamiento, procesamiento y uso por parte de IntercambiaLáminas y sus
        proveedores
        de servicios.</p>
    <blockquote><span>Más sencillo: Para darte servicio necesitamos tu consentimiento para usar tus datos.</span>

    </blockquote>
    <h2><span>4.- Contenido de los Servicios</span></h2>
    <p>Al usar el Servicio usted tiene la posibilidad de publicar, transmitir o hacer disponible de algún otro modo
        cierto contenido, incluidos los comentarios de los usuarios, fotos, imágenes y otro material o información (el
        "Contenido"). Usted es responsable de su uso de los Servicios y de cualquier Contenido que proporcione,
        incluyendo el cumplimiento con las leyes, reglas y normas aplicables y de acuerdo con las Restricciones de Uso.
        Solo debe proporcionarnos contenido que desee compartir con otros.</p>
    <p>Cualquier confianza que deposite en cualquier Contenido o material publicado por medio de los Servicios u
        obtenido mediante los mismos, o cualquier uso que haga de ellos, lo hace por su propia cuenta y riesgo. No
        ratificamos, apoyamos, reafirmamos ni garantizamos la compleción, veracidad, precisión o fiabilidad de ningún
        Contenido o comunicación publicada por medio de los Servicios, ni ratificamos ninguna opinión expresada por
        medio de los Servicios. Comprende que al hacer uso de los Servicios, puede exponerse a Contenido que puede
        resultar ofensivo, dañino, inexacto o inapropiado de cualquier otra forma, o en algunos casos, a publicaciones
        que puedan haber sido interpretadas erróneamente o que puedan ser engañosas de cualquier otra forma. Todo el
        Contenido es responsabilidad única de la persona que lo produce. No monitorizamos ni controlamos el Contenido
        publicado por medio de los Servicios, y no podemos hacernos responsables de dicho Contenido.</p>
    <p>Nos reservamos el derecho a retirar Contenido que incumpla las Condiciones de Uso, como por ejemplo, violaciones
        de derechos de autor o de marcas comerciales, suplantación de identidad, conducta ilícita o acoso.</p>

    <h3><span>4.1.- Cómo nosotros y otros usuarios pueden usar tu contenido</span></h3>
    <p>Usted conserva sus derechos sobre cualquier Contenido que envíe, publique o muestre a través de nuestros
        Servicios. Lo que es suyo, es suyo: usted es el dueño de su Contenido.</p>
    <p>Al enviar, publicar o mostrar Contenido a través de los Servicios nos otorga una licencia no exclusiva, sin
        derechos de autor, transferible, sublicenciable, a nivel mundial para usar, almacenar, mostrar, reproducir,
        guardar, modificar, crear trabajos derivados, realizar y distribuir su Contenido en IntercambiaLáminas
        únicamente con el propósito de proporcionar, promover y mejorar IntercambiaLáminas. Nada en estos Términos
        restringe otros
        derechos legales que IntercambiaLáminas pueda tener sobre el Contenido del usuario, por ejemplo, bajo otras
        licencias.</p>
    <blockquote><span>Más sencillo: Tu contenido es tuyo, pero nos permites usarlo para enseñárselo a otros.</span>
    </blockquote>

    <h3><span>4.2.- Cuánto tiempo guardamos su contenido</span></h3>
    <p>Guardaremos su contenido hasta la finalización o eliminación de su cuenta, o si elimina cualquier Contenido de
        IntercambiaLáminas. Podemos conservar su Contenido de usuario durante un período de tiempo razonable para fines
        de copia de seguridad, archivo o auditoría.</p>
    <blockquote><span>Más sencillo: Guardamos tu contenido mientras seas usuario o por alguna razón de peso.</span>
    </blockquote>

    <h3><span>4.3.- Base de Datos colaborativa</span></h3>
    <p>IntercambiaLáminas pone a disposición de sus Usuarios una Base de Datos colaborativa de contenido abierto, y en
        continuo crecimiento. IntercambiaLáminas, en su condición de mero intermediario, no interviene en las
        aportaciones que
        hacen los usuarios. Es responsabilidad de los Usuarios crear, modificar y eliminar contenido de la Base de
        Datos.
        IntercambiaLáminas únicamente intervendrá en el contenido creado en esta Base de Datos para eliminar aquel que
        vulnere derechos de
        terceros, según lo expuesto en el apartado “Derechos de Autor”, o en caso de disputas, informes de error o
        contenido que no pueda ser modificado por los usuarios.</p>

    <h4><span>Funcionamiento</span></h4>
    <p>Cualquier Usuario registrado podrá ampliar la Base de Datos dando de alta tantos álbumes y colecciones como
        considere oportuno. Estas altas serán totalmente voluntarias y no darán al Usuario derecho alguno sobre la Base
        de Datos. El Usuario deberá asegurarse, como paso previo a cualquier entrada nueva en la Base de Datos, que el
        álbum o colección que quiere dar de alta no se encuentra ya en la misma, para evitar entradas duplicadas.</p>
    <p>El Usuario que dé de alta un nuevo álbum o colección se compromete a que la información facilitada será veraz y
        ajustada a la realidad así como a valorar, opinar o emitir juicios de valor sólo en los espacios específicamente
        creados a tal fin. En cada nueva alta prestará especial atención en cumplimentar correctamente los apartados de
        nombre (de álbum o colección), editorial, año de publicación e itemizado. De igual manera, el Usuario podrá
        incluir información sobre el título del álbum, tipo y categorización del itemizado así como una imagen de la
        portada y
        cualquier otro dato que conozca y quiera compartir.</p>
    <p>El Usuario, con cada aporte a la Base de Datos, declara ser poseedor de los derechos de cualquier material e
        información que pueda estar protegida por derechos de autor o disponer del permiso del poseedor de los derechos
        para utilizar dicho material e información. IntercambiaLáminas facilitará al usuario la posibilidad de indicar
        las referencias utilizadas en la elaboración de la información. Esta referencia será preferentemente en forma de
        enlace. De este modo, aunque la información inicial sea modificada, todas las fuentes utilizadas en el histórico
        de la elaboración de la entrada en la base de datos podrán ser consultadas en todo momento. Cualquier
        información escrita que se añada a la base de datos deberá respetar las normas de ortografía.</p>
    <p>Todo Usuario podrá ampliar y modificar la información contenida en la base de datos, observando las mismas normas
        que las relativas a la creación de nuevas altas de álbumes y colecciones, descritas en el párrafo anterior.</p>
    <p>IntercambiaLáminas podrá guardar y hacer público el histórico de modificaciones de los álbumes y colecciones
        albergados en la base de datos como medida de seguridad y en previsión de actos vandálicos contra
        IntercambiaLáminas o sus
        Usuarios.</p>
    <p>Previa solicitud y aprobación por parte de IntercambiaLáminas, el Usuario podrá añadir enlaces a críticas y
        reseñas de otros sitios web, siempre y cuando sea poseedor de los derechos de autor sobre dicho material.</p>
    <p>IntercambiaLáminas no está obligada a revisar la base de datos para verificar la información disponible.</p>
    <blockquote><span>Más sencillo: IntercambiaLáminas es grande gracias a sus usuarios, haz un uso responsable.</span>
    </blockquote>

    <h4><span>Contenido de la Base de Datos</span></h4>
    <p>La Base de Datos de IntercambiaLáminas admite cualquier colección que cuenta con ítems (láminas, stickers,
        figuritas, pegatinas, cromos, estampas, barajitas o como les digan donde tú vivas) intercambiables, que estén
        íntimamente relacionada
        con el mundo de los álbumes coleccionables:</p>
    <ul>
        <li>Álbumes de stickers</li>
        <li>Colecciones de cartas coleccionables, como la serie "Adrenalyn XL" de Panini o "Match Attax" de Topps</li>
        <li>Photocards intercambiables.</li>
        <li>Libros o publicaciones que contengan ítems intercambiables.</li>
    </ul>
    <p>Todo material que no entre en alguna de las categorías anteriores, deberá quedar fuera de la base de datos de
        IntercambiaLáminas. Por lo tanto, no se admitirán: Juegos de cartas intercambiables (TCG) como Magic: The
        Gathering, Pokemon TCG, Yu-Gi-Oh! TCG, Mitos y Leyendas, entre otros.</p>
    <blockquote><span>Más sencillo: Aunque tengamos más aficiones, esto va de stickers.</span></blockquote>

    <h4><span>Licencia Creative Commons</span></h4>
    <p>El contenido de la Base de Datos se encuentra bajo licencia <a
            href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons 4.0 Compartir igual</a>, salvo las
        imágenes de álbumes que son propiedad de sus respectivos autores y editores. Renunciamos al derecho de
        atribución.</p>
    <blockquote><span>Más sencillo: Como los datos los ponemos entre todos, son también de todos.</span></blockquote>

    <h4><span>Derechos de autor</span></h4>
    <p>Las obras referenciadas en IntercambiaLáminas son propiedad de sus autores y editores. Las imágenes y
        descripciones de dichas obras son también propiedad de sus autores y aparecen en IntercambiaLáminas con fines
        exclusivamente
        informativos. Los titulares legales de los derechos podrán realizar notificaciones de infracción, solicitando la
        retirada del
        material sujeto a derechos de autor.</p>
    <blockquote><span>Más sencillo: Respetamos los derechos de autor, haz lo mismo.</span></blockquote>

    <h3><span>4.4.- Sus ideas y sugerencias</span></h3>
    <p>Valoramos las sugerencias de nuestros usuarios, y siempre estamos interesados en aprender cómo podemos brindar un
        mejor servicio. Ponemos a disposición del Usuario una herramienta que le permite <a
            href="https://trello.com/b/EWDOVXHM/intercambia-roadmap">enviar y votar
            ideas</a> para mejorar IntercambiaLáminas. Si elige enviar comentarios, ideas o sugerencias, por esta o por
        cualquier otra vía, acepta que somos libres de usarlos sin ninguna restricción o compensación para usted</p>
    <blockquote><span>Más sencillo: Puedes ayudarnos a mejorar IntercambiaLáminas aportando ideas y sugerencias</span>
    </blockquote>

    <h2><span>5.- Uso de los Servicios</span></h2>
    <p>Nuestros Servicios están en constante evolución. Como tal, los Servicios pueden cambiar de vez en cuando, a
        nuestra discreción. Podremos dejar de proporcionarle a usted o a otros usuarios, de forma general, los Servicios
        (de forma permanente o temporal) o cualquier característica de los mismos. También conservaremos el derecho a
        establecer límites sobre el uso y almacenamiento a nuestro único criterio en cualquier momento. También podremos
        eliminar o negarnos a distribuir cualquier Contenido que se encuentre en los Servicios, suspender o cancelar a
        usuarios y reclamar nombres de usuario sin ninguna responsabilidad hacia usted.</p>
    <p>El usuario se compromete a hacer un uso adecuado y lícito de los Servicios de IntercambiaLáminas, de conformidad
        con la legislación aplicable y con lo previsto en las presentes Condiciones de Uso.</p>

    <h3><span>5.1.- Cuentas de Usuario</span></h3>
    <p>Puede necesitar crear una cuenta para usar alguno de nuestros Servicios. Usted es responsable de la seguridad de
        su cuenta, por lo que debe usar una contraseña fuerte y limitar su uso a esta cuenta. No podemos ser
        considerados responsables, ni lo seremos, de ninguna pérdida o daño derivado de su incumplimiento de las
        anteriores condiciones. Por favor, notifíquenos inmediatamente si detecta cualquier uso no autorizado de su
        cuenta.</p>
    <p>Usted puede controlar la mayoría de las comunicaciones de los Servicios. Puede que debamos proporcionarle ciertas
        comunicaciones, como anuncios del servicio y mensajes administrativos. Dichas comunicaciones se consideran parte
        de los Servicios y no podrá optar por no recibirlos.</p>
    <p>Se han establecido dos tipos de cuenta: Basic, gratuita y PRO, contra un aporte mínimo:</p>
    <ul>
        <li>La cuenta Basic dispondrá de las funcionalidades básicas del servicio, pudiendo contar con algunas
            restricciones.</li>
        <li>La cuenta PRO dará acceso a todas las funcionalidades del servicio y no contará con las
            restricciones de la cuenta Basic.</li>
    </ul>
    <p>Pueden consultarse las características específicas de las diferentes cuentas, <a
            routerLink="/collaborate">aquí</a>. El Usuario podrá consultar
        información actualizada sobre el estado de su cuenta accediendo a ella y consultando la sección "Configuración".
    </p>
    <blockquote><span>Más sencillo: Cuida tu cuenta, elige qué notificaciones recibir y si quieres más funciones, ¡hazte
            PRO!</span></blockquote>

    <h4><span>Montos y método de pago</span></h4>
    <p>Los montos de las donaciones solicitadas para acceder a los Servicios ofrecidos por IntercambiaLáminas se
        indicarán siempre con todos los impuestos incluidos. IntercambiaLáminas pondrá a disposición del Usuario todas
        las formas de pago que considere oportunas. Estas formas de pago serán
        seguras y podrán ser gestionadas por el propio IntercambiaLáminas o por terceros.</p>

    <h3><span>5.2.- Su licencia para el uso de los Servicios</span></h3>
    <p>IntercambiaLáminas le otorga una licencia personal, mundial, libre de pago de derechos, no asignable y no
        exclusiva para usar el software que se le proporciona como parte de los Servicios. Esta licencia tiene como
        único fin
        permitirle usar y disfrutar del beneficio de los Servicios proporcionados por IntercambiaLáminas, de la forma
        autorizada en estas Condiciones de Uso.</p>
    <p>Los Servicios están protegidos por derechos de autor, marca comercial y por otras leyes tanto en Chile como en
        países extranjeros. Nada en estas Condiciones de Uso le otorga el derecho de usar el nombre de
        IntercambiaLáminas o cualquiera de las marcas comerciales, logotipos, nombres de dominio u otras características
        distintivas de la
        marca. Todo derecho, título e interés en y de los Servicios (excluyendo el Contenido proporcionado por los
        usuarios) es y seguirá siendo propiedad exclusiva de IntercambiaLáminas y sus licenciatarios. Cualquier opinión,
        comentario o sugerencia que pueda proporcionar respecto a IntercambiaLáminas o a los Servicios, es totalmente
        voluntario y
        seremos libres de emplear dicha opinión, comentario o sugerencia como nos parezca sin obligación alguna para con
        usted.
    </p>
    <blockquote><span>Más sencillo: Eres libre de usar IntercambiaLáminas pero no puedes apropiarte de ningún contenido
            que no hayas creado tú.</span></blockquote>

    <h3><span>5.3.- Nuestra renuncia a la comercialización de sus datos personales</span></h3>
    <p>IntercambiaLáminas no comerciará con ningún dato personal de sus Usuarios. IntercambiaLáminas únicamente
        utilizará la información
        personal proporcionada por los Usuarios a modo ilustrativo y/o para dar a difusión al servicio.
        IntercambiaLáminas renuncia
        a reclamar la cesión de cualquier otro derecho sobre la información personal que recopila, comprometiéndose
        expresamente a no agrupar la información con el fin de venderla a ningún tercero con cualquier propósito.</p>
    <p>IntercambiaLáminas solicitará a los Usuarios exclusivamente los datos personales imprescindibles para el correcto
        funcionamiento del servicio. Puede conocer más sobre el compromiso de IntercambiaLáminas con la privacidad del
        Usuario <a routerLink="/p/privacy">aquí</a>.</p>
    <blockquote><span>Más sencillo: Nos importa tu privacidad y nunca venderemos tus datos.</span></blockquote>

    <h3><span>5.4.- Normas de uso</span></h3>
    <p>El Usuario se compromete a opinar, comentar y comunicarse con el resto de Usuarios con respeto, tanto hacia las
        obras referenciadas como hacia el resto de Usuarios y al propio IntercambiaLáminas. IntercambiaLáminas no podrá
        ser nunca considerado
        responsable de las opiniones o comentarios vertidos por sus Usuarios en sus Servicios ni tampoco de cualquier
        tipo de acuerdo al que puedan llegar dos o más de sus Usuarios, a través de sus Servicios o fuera de los mismos.
    </p>
    <p>Usted acepta que:</p>
    <ul>
        <li>No publicará insultos ni comentarios ofensivos, despectivos o descalificativos hacia ninguna obra, autor o
            editorial, así como hacia ningún otro Usuario o hacia el Servicio.</li>
        <li>No publicará comentarios que sean abusivos, amenazantes, obscenos, difamatorios, difamatorios o racialmente,
            sexualmente, religiosamente o de cualquier otro modo objetables y ofensivos;</li>
        <li>No publicará enlaces de descarga.</li>
        <li>No usará el Servicio para cualquier propósito ilegal, acosador, no ético o perturbador o para la promoción
            de actividades ilegales;</li>
        <li>No utilizará el Servicio para pedirles a los usuarios su información personal;</li>
        <li>No utilizará el Servicio para cualquier propósito comercial, que incluye, entre otros, la comunicación o la
            facilitación de cualquier anuncio o solicitud comercial;</li>
        <li>No utilizará el Servicio para publicar, transmitir o hacer que se publique o transmita contenido que
            constituya correo no deseado;</li>
        <li>No utilizará, reproducirá o eliminará cualquier derecho de autor, marca registrada u otras nociones de
            propiedad de cualquier servicio o material de socio de terceros;</li>
        <li>No hará un uso automatizado del sistema, o tomará cualquier medida que consideremos que imponga o imponga
            potencialmente una carga irrazonable o desproporcionadamente grande en nuestros servidores o infraestructura
            de red;</li>
        <li>No alterará o interferirá con la funcionalidad del Servicio;</li>
        <li>No descompilará, desemblará o realizará ingeniería inversa o ensamblará inversamente el Servicio o parte de
            él, o intentar descubrir el Código fuente del Servicio o la información de propiedad subyacente;</li>
        <li>No omitirá cualquier medida que tomemos para restringir el acceso al Servicio o utilizar cualquier software,
            tecnología o dispositivo para raspar, arañar o rastrear el Servicio o recolectar o manipular datos; o</li>
        <li>No publicará o vinculará contenido malicioso destinado a dañar o interrumpir el navegador o la computadora
            de otro usuario.</li>
    </ul>
    <p>Todos los Usuarios que accedan a los servicios de IntercambiaLáminas, o los utilicen, deben respetar las normas
        de uso. Si no lo hacen, IntercambiaLáminas puede tomar una o más de las siguientes medidas para asegurar su
        cumplimiento:
    </p>
    <ul>
        <li>Solicitar que elimine el contenido prohibido como condición para seguir utilizando todos o algunos de los
            Servicios;</li>
        <li>Limitar de forma temporal su capacidad de crear contenido o interactuar con otros usuarios de
            IntercambiaLáminas; o
        </li>
        <li>Suspender la(s) cuenta(s) de forma permanente.</li>
    </ul>
    <p>La suspensión o limitación de la(s) cuenta(s) no dará derecho al reintegro de cantidad alguna. Si intenta evadir
        una suspensión permanente mediante la creación de cuentas nuevas, podremos suspender las cuentas nuevas.</p>
    <blockquote><span>Más sencillo: Haz un uso responsable de IntercambiaLáminas y respeta al resto de usuarios
            🌷</span>
    </blockquote>

    <h3><span>5.4.- Cancelación</span></h3>
    <p>Puede cancelar su acuerdo con IntercambiaLáminas en cualquier momento desactivando su cuenta e interrumpiendo el
        uso de los Servicios. Puedes eliminar tu cuenta de forma permanente desde la opción "Configuración" una vez
        iniciada
        sesión. En el caso de que el Usuario que solicite la cancelación posea una tipo de cuenta PRO, dicha cancelación
        no dará derecho al reembolso
        de cantidad alguna del importe aportado por la cuenta contratada.</p>
    <p>Podremos suspender o cesar a su cuenta, o bien dejar de suministrarle todos o parte de los Servicios, en
        cualquier momento y por cualquier motivo, o sin motivo, como por ejemplo, si estimamos, dentro de lo razonable:
        (I) que usted ha incumplido estas Condiciones de Uso, (II) que usted nos provoca un riesgo o una posible
        responsabilidad legal; (III) que su cuenta debe ser eliminada debido a una conducta ilícita; o (IV) que su
        cuenta debe ser eliminada debido a su inactividad prolongada; o (V) que suministrarle los Servicios ya no
        resulta viable comercialmente. Realizaremos los esfuerzos razonables para notificarle a través de la dirección
        de correo electrónico asociada a su cuenta o la próxima vez que intente acceder a dicha cuenta, dependiendo de
        las circunstancias.</p>
    <blockquote><span>Más sencillo: Cancela tu cuenta fácilmente.</span></blockquote>

    <h3><span>5.5.- Enlaces de terceros y anuncios</span></h3>
    <p>IntercambiaLáminas puede contener enlaces a sitios web de terceros, anunciantes, servicios, ofertas especiales o
        actividades que no son propiedad o están bajo el control de IntercambiaLáminas. No respaldamos ni asumimos
        ninguna
        responsabilidad por dichos sitios, información, materiales, productos o servicios de terceros. Si accede a un
        sitio web, servicio o
        contenido de terceros desde IntercambiaLáminas, lo hace bajo su propio riesgo y acepta que IntercambiaLáminas no
        tiene ninguna responsabilidad derivada de su uso o acceso a un sitio web, servicio o contenido de un tercero.
    </p>
    <blockquote><span>Más sencillo: IntercambiaLáminas tiene enlaces a contenido fuera de IntercambiaLáminas. La mayoría
            del contenido es genial, pero no somos responsables si no lo es</span></blockquote>

    <h2><span>6.- Descargo de responsabilidad</span></h2>
    <p>Usted acepta que el uso del Servicio es bajo su propia decisión y riesgo. El Servicio se proporcionará “tal como
        es” y según esté disponible sin garantía de ningún tipo.</p>
    <p>IntercambiaLáminas no se responsabiliza ni asume ninguna responsabilidad por el Contenido que usted o cualquier
        otra persona o tercero publique o envíe utilizando nuestro Servicio. Usted comprende y acepta que puede estar
        expuesto a
        Contenido de usuario que sea inexacto, objetable, inapropiado para los niños o que no sea adecuado para su
        propósito.</p>

    <h2><span>7.- Nulidad</span></h2>
    <p>En caso de que cualquier cláusula de las presentes Condiciones de Uso sea declarada nula o no pueda entrar en
        vigor, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y
        la finalidad misma de las presentes Condiciones de Uso. El hecho de que IntercambiaLáminas no obligue al
        cumplimiento de alguno de los derechos o disposiciones de estas Condiciones de Uso no se considerará una omisión
        de dicho
        derecho o disposición.</p>

    <h2><span>8.- Cambios en las Condiciones de Uso</span></h2>
    <p>Puede que revisemos estas Condiciones de Uso de vez en cuando y la versión más actual de las Condicione de Uso,
        regirá nuestra relación con usted. Al margen de cambios dirigidos a nuevas funciones o que se lleven a cabo por
        motivos legales, le informaremos de cualquier
        cambio que entre en vigor respecto a estas Condiciones de Uso y que afecte a los derechos u obligaciones de
        alguna de las partes, por ejemplo a través de una notificación de servicio o de un correo electrónico a la
        dirección de correo electrónico asociada a su cuenta. Al continuar accediendo o utilizando los Servicios después
        de que dichos cambios se hagan efectivos, usted acepta estar sujeto a las Condiciones de Uso revisadas.</p>

    <h2><span>9.- Jurisdicción y ley aplicable</span></h2>
    <p>Estas Condiciones de Uso se regirán e interpretarán conforme a la legislación chilena. En caso de litigio entre
        IntercambiaLáminas y el Usuario, éste podrá interponer su acción ante los tribunales chilenos correspondientes
        al domicilio de IntercambiaLáminas, o bien ante los tribunales del lugar donde el Usuario esté domiciliado.</p>

    <h2><span>10.- Contacto</span></h2>
    <p>Si tiene alguna pregunta sobre estas Condiciones de Uso, puede escribirnos un correo electrónico a
        contacto@intercambialaminas.com. Estaremos encantados de ayudarle a solucionar cualquier duda.</p>
</section>