@use "@angular/material" as mat;

.mini-card-grid {
  padding: 3rem 0 3rem 2rem;
  margin: 0;
  display: flex;
  column-gap: 1.5rem;
  overflow-x: scroll;
}

.mini-card {
  // @include mat.elevation-transition();
  @include mat.elevation(2);

  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0 0 10px;

  &:hover {
    @include mat.elevation(8);
  }

  a {
    text-decoration: none;
    color: var(--text-default);
  }
}

.mini-card-image {
  height: 250px;
}

.mini-card-title {
  font-size: 1.1rem;
  margin: 0.5rem 0.5rem 1rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.mini-card-info {
  margin: 0rem 0.5rem 1rem;
}

.mini-card:hover {
  transform: translateY(-1rem) rotate(2deg);
}

// .mini-card:first-child:hover {
//   transform: translate(-0.5rem,-1rem) rotate(3deg);
// }
