<div class="list-of-collections">
  <!-- <div class="list-header header-card">
    <h2 class="header-card-title">Populares</h2>
  </div> -->
  <div class="mini-card-grid">
    <!-- <app-collection-item *ngFor="let col of collections" [collection]="col"></app-collection-item> -->
    <div *ngFor="let col of collections" class="mini-card module">
      <a [routerLink]="['/c', col.name | slugify, col.id]">
        <img [defaultImage]="defaultCollectionImage" [lazyLoad]="col.image" alt="" class="mini-card-image">
        <h3 class="mini-card-title">{{ col.name }}</h3>
      </a>
      <div class="mini-card-info">
        <a href="">{{ col.publisher.data.name }}</a>
        <span>, {{ col.year }}</span>
      </div>
    </div>
  </div>
</div>
