<section class="pages guidelines">
    <h1>Principios de la comunidad</h1>

    <p>Nuestros Principios de la Comunidad están diseñados para brindar claridad sobre las interacciones con todas las
        funciones y servicios de IntercambiaLaminas.com. Nuestro objetivo es mantener un ambiente acogedor donde las
        personas puedan reunirse para compartir sus álbumes, participar en intercambios y disfrutar interactuando con
        otros coleccionistas. Apreciamos todo lo que contribuyes a la comunidad de IntercambiaLaminas.com. ¡Gracias por
        ser parte de ella!</p>
    <!-- <blockquote><span>Más sencillo: Cada empresa tiene sus condiciones. Estas son las nuestras.</span></blockquote> -->

    <h2><span>Principios de la comunidad</span></h2>
    <p>IntercambiaLaminas.com es una comunidad donde puedes gestionar lo que te apasiona: ¡los álbumes de stickers!
        Nuestro objetivo es ayudarte a encontrar otros coleccionistas como tú, intercambiar stickers y completar los
        álbumes que
        tanto amas. Lo hacemos en parte manteniendo un
        espacio acogedor con la ayuda de todos nuestros miembros. Estos principios se aplican a todas las áreas de
        interacción comunitaria, y al usar IntercambiaLaminas.com, aceptas cumplir con ellos.</p>
    <ul>
        <li>Queremos que tengas la mejor experiencia posible en IntercambiaLaminas.com. Nuestra comunidad es diversa y
            apasionada. No todos comparten el mismo punto de vista, y esa diversidad de opiniones es lo que hace que
            IntercambiaLaminas.com sea un gran lugar de intercambio. Considera el impacto de tus
            contribuciones en los individuos y en la comunidad en su conjunto
            antes de participar.</li>
        <li>El discurso de odio, la intolerancia, las amenazas y los ataques ad hominem no son admitidos. Se permite
            realizar críticar constructivas, pero no atacar a individuos por sus opiniones.</li>
        <li>Debes comunicarte abiertamente con otros miembros, pero el spam y el contenido autopromocional están
            prohibidos. El abuso de las funciones de IntercambiaLaminas.com para promocionarte a ti mismo o a tus
            productos resta valor a la experiencia de los demás y viola nuestras reglas.</li>
        <li>Eres bienvenido a publicar imágenes, pero las imágenes que contienen desnudos, contenido sexualmente
            explícito o violencia gráfica no están permitidas.</li>
        <li>Sé auténtico en IntercambiaLaminas.com. Por favor, no tergiverses tu identidad ni crees cuentas para acosar
            a otros miembros, abusar de las funciones o evadir nuestras reglas. Los spammers y estafadores no son
            bienvenidos.</li>
        <li>Inflar o desinflar artificialmente las evaluaciones o la reputación de un usuario viola nuestras reglas.
            Esto incluye actividades como crear cuentas falsas para manipular las evaluaciones, comprarlas e
            incentivar votos u otras acciones en IntercambiaLaminas.com. No solo no toleramos este
            comportamiento; este tipo de comportamiento finalmente disminuye la confianza de la comunidad en ti.</li>
        <li>Si ves contenido que viola nuestras reglas, repórtalo o contáctanos. No asumas la responsabilidad de
            corregir el mal comportamiento de otras personas, y no fomentes el mal comportamiento reconociéndolo. Los
            miembros del equipo evalúan cada reporte enviado, y toman medidas
            para educar a los miembros sobre nuestras reglas.</li>
    </ul>
    <blockquote><span>En resumen, agrega valor a la comunidad, no la disminuyas. Si estás aquí porque adoras los álbumes
            de stickers y te aseguras de tratar a los demás con respeto, ¡eres bienvenido a usar nuestra aplicación de intercambios!</span></blockquote>

    <h2><span>Descargo de responsabilidad</span></h2>
    <p>Aquí hay algunas exenciones de responsabilidad:</p>
    <ul>
        <li>IntercambiaLaminas.com se reserva el derecho de eliminar contenido en cualquier momento y por cualquier
            motivo. Es a nuestra entera discreción decidir cuándo el contenido viola nuestras directrices.</li>
        <li>El contenido publicado en IntercambiaLaminas.com contiene opiniones individuales y subjetivas. Las opiniones
            expresadas son las de los miembros de IntercambiaLaminas.com y no de IntercambiaLaminas.com. No respaldamos
            ninguna de las opiniones expresadas por los miembros.</li>
    </ul>
</section>