<section class="pages guide">
    <h1>Modo de Uso</h1>
    <p><strong>IntercambiaLaminas.com</strong> es una aplicación web diseñada principalmente para ayudarte a
        <strong>encontrar personas con las cuales poder intercambiar láminas</strong> (stickers, figuritas, pegatinas,
        cromos, estampas o como le digan donde tú vives!) en base a las que tienen para cambiar y a las que están
        buscando.
    </p>
    <p>El modo de uso de la aplicación es bastante sencillo, sólo sigue los siguientes pasos:</p>

    <div class="guide-step">
        <div class="guide-step-info">
            <h2><span>Paso 1: Regístrate</span></h2>
            <p><a [routerLink]="['/signup']">Registrate</a> gratuitamente e inicia sesión. El enlace de acceso lo
                encontrarás en el menú lateral.</p>
        </div>
        <div class="guide-step-img">
            <img src="assets/img/guide01.jpg" alt="Paso 1: Regístrate">
        </div>
    </div>

    <div class="guide-step alt">
        <div class="guide-step-info">
            <h2><span>Paso 2: Encuentra la colección que estás juntando</span></h2>
            <p>Presiona en el nombre de la colección que estás completando. Para ésto tienes varias opciones:</p>
            <ul>
                <li>En la pantalla de inicio se despliegan las colecciones populares, las recientemente publicadas por
                    las editoriales, y las últimas agregadas a
                    nuestro catálogo.
                </li>
                <li>Puedes usar el buscador para encontrar la colecciones que necesites (el acceso se encuentra en la
                    esquina superior
                    derecha).
                </li>
                <li>Puedes explorar el listado completo de colecciones actualmente disponibles en la aplicación
                    presionando la opción
                    "Colecciones" del menú lateral.</li>
                <li>No está la colección que buscas? <strong><a href="https://goo.gl/forms/LqbSCNkr36be0PAc2"
                            target="_blank">Ayúdanos a
                            agregarla!</a></strong></li>
            </ul>
        </div>
        <div class="guide-step-img">
            <img src="assets/img/guide02.jpg" alt="Paso 2: Encuentra la colección que estás juntando">
        </div>
    </div>

    <div class="guide-step">
        <div class="guide-step-info">
            <h2><span>Paso 3: Marca los ítems que buscas/cambias</span></h2>
            <ul>
                <li>Marca los ítems que estás buscando.</li>
                <li>Marca los ítems que tienes para cambiar.</li>
                <li>Puedes marcar/desmarcar los ítems todas las veces que lo necesites.</li>
            </ul>
        </div>
        <div class="guide-step-img">
            <img src="assets/img/guide03.jpg" alt="Paso 3: Marca los ítems que buscas/cambias">
        </div>
    </div>

    <div class="guide-step alt">
        <div class="guide-step-info">
            <h2><span>Paso 4: Revisa tus posibles cambios</span></h2>
            <p>En el menú lateral presiona en la opción "Cambios" donde te saldrá el listado de todas las
                personas con
                las cuales puedes intercambiar. Incluso sale el detalle de los ítems específicos que buscan/cambian!
            </p>
            <p>También se indica en qué ciudad se encuentra esa persona y cuántos días han pasado desde que visitó la
                aplicación por
                última vez para que lo tengas en cuenta (entre otros datos).</p>
        </div>
        <div class="guide-step-img">
            <img src="assets/img/guide04.jpg" alt="Paso 4: Revisa tus posibles cambios">
        </div>
    </div>

    <div class="guide-step">
        <div class="guide-step-info">
            <h2><span>Paso 5: Intercambia</span></h2>
            <p>Ponte en contacto con las personas que tienen posibles cambios para que coordinen el intercambio y
                completen sus colecciones!</p>
            <ul>
                <li>Revisa el perfil de la persona presionando en su nombre.</li>
                <li>Fíjate que forma de contacto puso ese usuario en su descripción, y cualquier otra información
                    importante que haya indicado.</li>
                <li>En primera instancia pueden conversar usando la mensajería instantánea integrada en la aplicación.
                </li>
                <li>Completa tu perfil de usuario agregando una descripción que permita a los demás usuarios contactarte.
                </li>
            </ul>
        </div>
        <div class="guide-step-img">
            <img src="assets/img/guide05.jpg" alt="Paso 5: Intercambia">
        </div>
    </div>
</section>