/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@use 'sass:map';
@use "@angular/material" as mat;

// https://github.com/KittyGiraudel/sass-boilerplate

// 1. Configuration and helpers
@import
  'styles/abstracts/variables',
  'styles/abstracts/functions',
  'styles/abstracts/mixins';

// 2. Vendors
@import
  'styles/vendors/normalize';

// 3. Base stuff
@import
  'styles/base/base',
  'styles/base/fonts',
  'styles/base/typography',
  'styles/base/helpers';



// $titles-font-family: 'Lato, serif';
// $base-typography-config: mat.define-typography-config(
//     $font-family: 'Inter, sans-serif',
//     $display-4:     mat.define-typography-level(112px, 112px, 700, $titles-font-family),
//     $display-3:     mat.define-typography-level(56px, 56px, 700, $titles-font-family),
//     $display-2:     mat.define-typography-level(45px, 48px, 700, $titles-font-family),
//     $display-1:     mat.define-typography-level(34px, 40px, 700, $titles-font-family),
//     $headline:      mat.define-typography-level(clamp(2rem,2rem + 1.2vw,3rem), 1.1, 700, $titles-font-family),
//     $title:         mat.define-typography-level(clamp(1.8rem,1.8rem + .2vw,3rem), 1.1, 700, $titles-font-family),
//     $subheading-2:  mat.define-typography-level(2rem, 1.1, 500, $titles-font-family),
//     $subheading-1:  mat.define-typography-level(1.5rem, 1.1, 500, $titles-font-family),
//     $body-2:        mat.define-typography-level(16px, 1.7, 500),
//     $body-1:        mat.define-typography-level(16px, 1.7, 400),
//     $caption:       mat.define-typography-level(14px, 18px, 400),
//     $button:        mat.define-typography-level(16px, 14px, 500),
//     $input:         mat.define-typography-level(16px, 1.25, 400)
// );

// $base-font-config: mat.define-legacy-typography-config($font-family: 'Inter, sans-serif');

  // Typography config based on the default, but using "Comic Sans" as the
  // default font family for all levels.
  $my-theme-typography: mat.define-typography-config(
    $font-family: 'Inter, sans-serif',
  );

// always include only once per project
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy($base-font-config);`
// @include mat.all-legacy-component-typographies($base-font-config); COMENTADO
// @include mat.legacy-core(); COMENTADO
@include mat.core();

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants

// $my-theme-primary: mat.define-palette(mat.$blue-gray-palette, 700, 300, 900);
// $my-theme-accent: mat.define-palette(mat.$teal-palette, 800, 100, 900);
// $my-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);

@import
  'styles/themes/palette';

$my-theme-primary: mat.define-palette($swap-primary-v2, 900);
$my-theme-accent: mat.define-palette($swap-accent-v2, 300);
$my-theme-warn: mat.define-palette($swap-warn-v1, A200);
  

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    // warning: $my-theme-warn,
  ),
  // typography: $base-typography-config,
  // typography: $base-font-config,
  typography: $my-theme-typography,
));

// specify theme class eg: <body class="swap-theme"> ... </body>
.swap-theme {
  // @include mat.core-theme($my-theme);
  // @include mat.all-legacy-component-themes($my-theme); COMENTADO
  @include mat.all-component-themes($my-theme);

  .mat-drawer-container {
    background-color: inherit;
  }

  .mat-mdc-select-panel {
    max-width: 400px;
  }
}



// 4. Layout-related sections
@import
  'styles/layout/header',
  'styles/layout/footer',
  'styles/layout/sidenav';

// 5. Components
@import
  'styles/components/alert',  
  'styles/components/card',
  'styles/components/collection-item',
  'styles/components/controls-std',
  'styles/components/images-grid',
  'styles/components/list-collections',
  'styles/components/list-std',
  'styles/components/list-users',
  'styles/components/pagination',
  'styles/components/snackbar',
  'styles/components/tables',
  'styles/components/trades';

// 6. Page-specific styles
@import
  'styles/pages/collection',
  'styles/pages/error',
  'styles/pages/explore',
  'styles/pages/home',
  'styles/pages/item',
  'styles/pages/login',
  'styles/pages/message',
  'styles/pages/moderation',
  'styles/pages/pages',
  'styles/pages/search',
  'styles/pages/settings',
  'styles/pages/trades',
  'styles/pages/user';

// 7. Themes
@import
  'styles/themes/default';

