/* You can add global styles to this file, and also import other style files */
@charset "UTF-8";
@use 'sass:map';
@use "@angular/material" as mat;

// https://github.com/KittyGiraudel/sass-boilerplate

// 1. Configuration and helpers
@import
  'styles/abstracts/variables',
  'styles/abstracts/functions',
  'styles/abstracts/mixins';

// 2. Vendors
@import
  'styles/vendors/normalize';

// 3. Base stuff
@import
  'styles/base/base',
  'styles/base/fonts',
  'styles/base/typography',
  'styles/base/helpers';


// always include only once per project
@include mat.core();

// Typography config based on the default, but using "Comic Sans" as the
// default font family for all levels.
$my-theme-typography: mat.m2-define-typography-config(
  $font-family: 'Inter, sans-serif',
);

// define 3 theme color
@import 'styles/themes/palette';
$my-theme-primary: mat.m2-define-palette($swap-primary-v2, 900);
$my-theme-accent: mat.m2-define-palette($swap-accent-v2, 300);
$my-theme-warn: mat.m2-define-palette($swap-warn-v1, A200);
  
// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat.m2-define-light-theme((
  color: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    // warning: $my-theme-warn,
  ),
  typography: $my-theme-typography,
));

// specify theme class eg: <body class="swap-theme"> ... </body>
.swap-theme {
  // Emit theme-dependent styles for common features used across multiple components.
  @include mat.core-theme($my-theme);
  // @include mat.card-theme($my-theme);
  // @include mat.progress-bar-theme($my-theme);
  @include mat.tooltip-theme($my-theme);
  @include mat.form-field-theme($my-theme);
  @include mat.input-theme($my-theme);
  @include mat.select-theme($my-theme);
  // @include mat.autocomplete-theme($my-theme);
  @include mat.dialog-theme($my-theme);
  // @include mat.chips-theme($my-theme);
  @include mat.slide-toggle-theme($my-theme);
  // @include mat.radio-theme($my-theme);
  @include mat.slider-theme($my-theme);
  @include mat.menu-theme($my-theme);
  @include mat.list-theme($my-theme);
  // @include mat.paginator-theme($my-theme);
  @include mat.tabs-theme($my-theme);
  @include mat.checkbox-theme($my-theme);
  @include mat.button-theme($my-theme);
  @include mat.icon-button-theme($my-theme);
  // @include mat.fab-theme($my-theme);
  @include mat.snack-bar-theme($my-theme);
  @include mat.table-theme($my-theme);
  @include mat.progress-spinner-theme($my-theme);
  @include mat.badge-theme($my-theme);
  @include mat.bottom-sheet-theme($my-theme);
  @include mat.button-toggle-theme($my-theme);
  // @include mat.datepicker-theme($my-theme);
  // @include mat.divider-theme($my-theme);
  @include mat.expansion-theme($my-theme);
  // @include mat.grid-list-theme($my-theme);
  @include mat.icon-theme($my-theme);
  @include mat.sidenav-theme($my-theme);
  // @include mat.stepper-theme($my-theme);
  @include mat.sort-theme($my-theme);
  @include mat.toolbar-theme($my-theme);
  // @include mat.tree-theme($my-theme);

  // @include mat.all-component-themes($my-theme);

  .mat-drawer-container {
    background-color: inherit;
  }

  .mat-mdc-select-panel {
    max-width: 400px;
  }

  .mat-mdc-raised-button.mat-accent {
    // --mdc-protected-button-container-color: #45be9c;
    --mdc-protected-button-label-text-color: #fff;
  }
}


// 4. Layout-related sections
@import
  'styles/layout/header',
  'styles/layout/footer',
  'styles/layout/sidenav';

// 5. Components
@import
  'styles/components/alert',  
  'styles/components/card',
  'styles/components/collection-item',
  'styles/components/controls-std',
  'styles/components/image-upload',
  'styles/components/images-grid',
  'styles/components/list-collections',
  'styles/components/list-std',
  'styles/components/list-users',
  'styles/components/pagination',
  'styles/components/report',
  'styles/components/snackbar',
  'styles/components/tables',
  'styles/components/trades';

// 6. Page-specific styles
@import
  // 'styles/pages/collection',
  'styles/pages/error',
  'styles/pages/explore',
  'styles/pages/home',
  'styles/pages/item',
  'styles/pages/login',
  // 'styles/pages/message',
  'styles/pages/moderation',
  // 'styles/pages/new-collection',
  'styles/pages/offline',
  'styles/pages/pages',
  'styles/pages/publisher',
  'styles/pages/search',
  // 'styles/pages/settings',
  'styles/pages/trades'
  // 'styles/pages/user'
  ;

// 7. Themes
@import
  'styles/themes/default';

