/* You can add global styles to this file, and also import other style files */
@use 'sass:map';
@use "@angular/material" as mat;

// $titles-font-family: 'Lato, serif';
// $base-typography-config: mat.define-typography-config(
//     $font-family: 'Inter, sans-serif',
//     $display-4:     mat.define-typography-level(112px, 112px, 700, $titles-font-family),
//     $display-3:     mat.define-typography-level(56px, 56px, 700, $titles-font-family),
//     $display-2:     mat.define-typography-level(45px, 48px, 700, $titles-font-family),
//     $display-1:     mat.define-typography-level(34px, 40px, 700, $titles-font-family),
//     $headline:      mat.define-typography-level(clamp(2rem,2rem + 1.2vw,3rem), 1.1, 700, $titles-font-family),
//     $title:         mat.define-typography-level(clamp(1.8rem,1.8rem + .2vw,3rem), 1.1, 700, $titles-font-family),
//     $subheading-2:  mat.define-typography-level(2rem, 1.1, 500, $titles-font-family),
//     $subheading-1:  mat.define-typography-level(1.5rem, 1.1, 500, $titles-font-family),
//     $body-2:        mat.define-typography-level(16px, 1.7, 500),
//     $body-1:        mat.define-typography-level(16px, 1.7, 400),
//     $caption:       mat.define-typography-level(14px, 18px, 400),
//     $button:        mat.define-typography-level(16px, 14px, 500),
//     $input:         mat.define-typography-level(16px, 1.25, 400)
// );

$base-font-config: mat.define-typography-config($font-family: 'Inter, sans-serif');

// always include only once per project
@include mat.core($base-font-config);
// @include mat.core();

// define 3 theme color
// mat-palette accepts $palette-name, main, lighter and darker variants
$my-theme-primary: mat.define-palette(mat.$blue-gray-palette, 700, 300, 900);
$my-theme-accent: mat.define-palette(mat.$teal-palette, 800, 100, 900);
$my-theme-warn: mat.define-palette(mat.$deep-orange-palette, A200);

// create theme (use mat-dark-theme for themes with dark backgrounds)
$my-theme: mat.define-light-theme((
  color: (
    primary: $my-theme-primary,
    accent: $my-theme-accent,
    warning: $my-theme-warn,
  ),
  // typography: $base-typography-config,
  // typography: $base-font-config,
));

// $color-config: mat.get-color-config($my-theme);
// $primary: map.get($color-config, 'primary');
$primary: #455a64;
// $accent: map.get($color-config, 'accent');
$accent: #00695c;

// specify theme class eg: <body class="swap-theme"> ... </body>
.swap-theme {
  // @include mat.core-theme($my-theme);
  @include mat.all-component-themes($my-theme);

  .mat-drawer-container {
    background-color: inherit;
  }
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  --bg-card: #ffffff;
  // --bg-default: #f1f5f9;
  --bg-default: rgb(245, 245, 248);
  --bg-dialog: #ffffff;
  --bg-hover: rgba(148, 163, 184, 0.12);
  --text-default: #1e293b;
  --text-secondary: #64748b;
  --text-hint: #94a3b8;
  --text-disabled: #94a3b8;
  --color-primary: #455a64;
  --color-accent: #00695c;
  --border: #e2e8f0;
  --divider: #e2e8f0;
  --icon: #64748b;
  --mat-icon: #64748b;
  --maxWidth: 1600px;
  --gap: 3rem;
  --gap-vertical: 1.5rem;
  --bg-blend-mode: overlay;

  --elevation-z8: 0px 5px 5px -3px rgba(82, 63, 104, .06), 0px 8px 10px 1px rgba(82, 63, 104, .042), 0px 3px 14px 2px rgba(82, 63, 104, .036);
}

html {
  font-family: 'Inter', 'sans-serif';
  // font-size: clamp(12px, .8rem + .25vw, 20px);
  font-size: clamp(12px, .8rem + .25vw, 16px);
  font-weight: 400;
  line-height: 1.7;

  padding: 0;
  scrollbar-color: #666 #201c29;
  overflow-x: hidden;
}

body {
  color: var(--text-default);
  background-color: var(--bg-default);
}

body,
dd,
dl,
html,
menu,
ol,
ul {
  margin: 0;
}

.h1, h1, .h2, h2, .h3, h3, .h4, h4 {
  font-family: 'Lato', serif;
  font-style: normal;
  font-weight: 700;
  margin: 0 0 1.5rem;
  line-height: 1.1;
}

.h1, h1 {
  // font-size: clamp(2rem, 2rem + 1.2vw, 3rem);
  font-size: clamp(1.6rem, 1.6rem + 1.2vw, 2.4rem);
}
.h2, h2 {
  // font-size: clamp(1.8rem, 1.8rem + .2vw, 3rem);
  font-size: clamp(1.44rem, 1.44rem + .2vw, 2.4rem);
}
.h3, h3 {
  // font-size: 2rem;
  font-size: 1.3rem;
  letter-spacing: .03rem;
}
.h4, h4 {
  // font-size: 1.5rem;
  font-size: 1.1rem;
  margin: 0 0 0.8rem;
}

.color-primary { color: var(--color-primary) !important; }
.color-accent { color: var(--color-accent) !important; }
.color-warn { color: var(--color-warn) !important; }

.page-wrap {
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: 0 var(--gap);
}

table.mat-table {
  width: 100%;
}

.flex-full {
  flex-grow: 1;
}

.ml-auto {
  margin-left: auto;
}

main {
  position: relative;
  z-index: 1;
}

.page-header {
  margin: 0 0 var(--gap);
}

/* Absolute Center Spinner */
.loading-indicator {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Transparent Overlay */
// .loading-indicator:before {
//   content: '';
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0,0,0,0.3);
// }

.card {
  border-radius: 0.25rem;
  background-color: var(--bg-card);
  --tw-shadow: var(--elevation-z8);
  // --tw-shadow-colored: var(--elevation-z8);
  box-shadow: 0 0 #0000,0 0 #0000,var(--tw-shadow);
  // box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
  padding: 1.5rem;
}

span.pro-label,
span.positives-label,
span.negatives-label {
  font-size: 70%;
  color: #fff;
  padding: 1px 6px;
  margin-right: 2px;
  // height: 11px;
  // line-height: 11px;
  border-radius: 3px;
  top: -7px;
  // left: -6px;
  position: relative;
}

span.pro-label {
  background-color: #191e28;
}
span.positives-label {
  background-color: rgba(70,190,156,.5);
}
span.negatives-label {
  background-color: rgba(221,76,57,.5);
}

span.item-difficulty-0 {
  color: #727a8e;
  font-style: italic;
}
span.item-difficulty-1 {
  color: #687385;
}
span.item-difficulty-2 {
  color: #09815d;
}
span.item-difficulty-3 {
  color: #586ada;
}
span.item-difficulty-4 {
  color: #a44fb5;
}
span.item-difficulty-5 {
  color: #c34c35;
}

.custom-separator {

  span {
      margin-right: 0.25em;
  
      &:not(:first-child):before {
        position: relative;
        display: inline-block;
        height: 1em;
        margin: 0 0.45em 0 0.25em;
        top: -0.15em;
        overflow: hidden;
        line-height: 1.1em;
        vertical-align: middle;
        pointer-events: none;
        content: "\2022";
      }
    }
}

// ESTILOS PARA LAS PÁGINAS DE LAS COLECCIONES
section.collection {
  display: flex;
  column-gap: 100px;

  margin-top: var(--gap-vertical);
  margin-bottom: var(--gap-vertical);

  .collection-visual {
    button, .btn {
      width: 100%;
      margin-bottom: var(--gap-vertical);
    }

    .collection-imagen-container {
      margin-bottom: var(--gap-vertical);
    }

    .collection-image {
      width: 300px;
    }
  }

  .collection-info {
    width: 100%;

    .collection-tags {
      margin-bottom: 40px;
    }

    .card-resalted {
      background-color: #a8dab545;
      // color: white;
    }

    .collection-help {
      color: #4f4f4d;
    }
  }

  hr {
    margin: var(--gap-vertical) 0;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: bold;
  }

  &.collection-section {
    column-gap: 40px;

    .collection-image {
      width: 200px;
    }
  }
}



// ESTILOS PARA LAS PÁGINAS DE LOS USUARIOS
section.user {
  display: flex;
  column-gap: 100px;

  margin-top: var(--gap-vertical);
  margin-bottom: var(--gap-vertical);

  .user-visual {
    width: 200px;
    flex-shrink: 0;

    button, .btn {
      width: 100%;
      margin-bottom: var(--gap-vertical);
    }

    .user-imagen-container {
      margin-bottom: var(--gap-vertical);
      width: 200px;
    }

    .user-image {
      width: 200px;
      border-radius: 10px;
    }

    .user-indicators {
      display: flex;
      column-gap: 10px;
      text-align: center;
      justify-content: center;
      margin-bottom: var(--gap-vertical);
    }

    span.pro-label, span.positives-label, span.negatives-label {
      font-size: 100%;
      padding: 4px 8px;
    }

    span.pro-label {
      flex-grow: 2;
    }
  }

  .user-info {
    width: 100%;

    .user-description {
      background-color: #f2f2f2;
      padding: 20px 40px;
      border-radius: 6px;
    }

    .user-help {
      color: #4f4f4d;
    }
  }

  hr {
    margin: var(--gap-vertical) 0;
  }

  h3 {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: bold;
  }

  &.user-section {
    column-gap: 40px;

    .user-image {
      width: 200px;
    }
  }
}

// ESTILOS BASE PARA LOS FILTROS ESTANDAR
.controls-std {
  display: flex;
  align-items: center;

  mat-form-field.mat-form-field,
  mat-slide-toggle.mat-slide-toggle {
    font-size: 0.85rem;
  }

  .mat-form-field {
    margin-right: 6px;
  }

  .controls-search {
    width: 360px;
  }
}


// ESTILOS BASE PARA LAS LISTAS ESTANDAR
ul.list-std {
  padding: 0;
  margin: 0;
  list-style: none;

  li.list-std-item {
      border-top: solid 1px #f1f2f4;
      padding: 14px 20px;
      position: relative;
      display: flex;
      column-gap: 20px;

      .list-item-title,
      .list-item-title a {
        font-size: 1.2rem;
        font-weight: bold;
        text-decoration: none;
        color: var(--text-default);
      }
    
      .list-item-meta {
          color: var(--text-secondary);
          font-size: 0.9rem;
      }
    
      .list-item-desc {
          border: 1px solid #fafafa;
          border-radius: 8px;
          padding: 4px 10px;
          margin: 4px 0px;
          font-size: 0.9rem;
          font-style: italic;
          color: var(--text-secondary);
          background-color: #fafafa;
          // background-color: #f9f9f9cc;
          display: inline-block;
          // display: block;
    
          p {
              margin: 0;
          }

          &.evaluation-positive {
              background-color: rgba(70,190,156,.15);
          }
    
          &.evaluation-negative {
              background-color: rgba(221,76,57,.15);
          }
      }

      &.pro-account {
        background-color: rgba(131,141,148,.1);
      }
  }

  .list-item-image {
    width: 50px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-top: 4px;
    }
  }

  .list-item-content {
      z-index: 10;
      position: relative;
  }

  .list-item-bg {
      display: block;
      height: 100%;
      width: 235px;
      position: absolute;
      top: 0;
      right: 0;
      opacity: .7;
      background-size: 235px auto;
      background-repeat: no-repeat;
      border-top-right-radius: 4px;

      div {
          background: -webkit-gradient(linear,left top,right top,color-stop(0,#fff),color-stop(50%,rgba(255,255,255,.25)),to(rgba(255,255,255,0)));
          background: linear-gradient(to right,#fff 0,rgba(255,255,255,.25) 50%,rgba(255,255,255,0) 100%);
          width: 100%;
          height: 100%;
      }
  }

  .list-item-progress {
      height: 2px;
      position: absolute;
      left: 0px;
      bottom: 0px;
      background-color: #46be9c;
      -webkit-transition: all 1s ease-in-out;
      transition: all 1s ease-in-out;
  }

  .list-item-statics {
    display: flex;
    column-gap: 10px;

    > div {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
    }
  }
}

.ribbon {
  $default-right: 14px;
  $default-top: -14px;
  $default-color: #46be9c;
  $default-width: 32px;
  $default-height: 36px;
  
  position: absolute;
  right: var(--right, $default-right);
  top: var(--top, $default-top);
  
  filter: drop-shadow(2px 3px 2px rgba(black, 0.5));
  
  > .content {
    color: white;
    font-size: 1.25rem;
    text-align: center;
    font-weight: 400;
    background: var(--color, $default-color) linear-gradient(45deg, rgba(black, 0) 0%, rgba(white, 0.25) 100%);
    padding: 8px 2px 4px;
    
    
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    
    width: var(--width, $default-width);
    min-height: var(--height, $default-height);
    
    transition: clip-path 1s, padding 1s, background 1s;
  }
  
  &.slant-up > .content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 12px), 50% calc(100% - 6px), 0 100%);
  }
  
  &.slant-down > .content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 6px), 0 calc(100% - 12px));
  }
  
  &.down > .content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8px), 50% 100%, 0 calc(100% - 8px));
  }
  
  &.up > .content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 8px), 0 100%);
  }
  
  &.check > .content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), 40% 100%, 0 calc(100% - 12px));
  }
}

.ribbon.evaluation-negative .content {
  background-color: #dd4c39;
}


// ESTILOS PARA LOS GRID DE IMÁGENES
.images-grid {
  // columns: 6 220px;
  // column-gap: 1rem;
  display: flex;
  flex-wrap: wrap;

  .images-grid-card {
    margin: 0 1rem 1rem 0;
    // display: inline-block;
    // width: 100%;
    width: 23%;

    .images-grid-content {
      border-radius: 10px;
      position: relative;
      min-height: 250px;
      background-color: rgba(131,141,148,.1);
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {

        &:before {
          opacity: 1;
        }

        .images-grid-author {
          opacity: 1;
          transform: translateY(0px);
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        // bottom: 8px;
        border-radius: 10px;
        background: rgba(black, 0.7);
        z-index: 2;
        transition: 0.5s;
        opacity: 0;
      }
    }

    .images-grid-image {
      width: 100%;
      border-radius: 10px;
    }

    .images-grid-author {
      position: absolute;
      bottom: 10px;
      padding: 0 20px;
      color: white;
      z-index: 3;
      opacity: 0;
      transform: translateY(30px);
		  transition: 0.5s;
      
      a {
        color: white;
        font-weight: bold;
        text-decoration: none;
      }
    }

    .images-grid-likes {
      position: absolute;
      top: 10px;
      left: 10px;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 2px 10px 0px 8px;
      border-radius: 999px;
      height: 24px;
      font-size: 0.8rem;
      display: flex;
      z-index: 5;
      cursor: pointer;

      .mat-icon {
        width: 22px;
        font-size: 18px;
        position: relative;
        top: 2px;
      }
    }

    .images-grid-title {
      margin: 4px 4px 0px;
      line-height: 1.2;
    }
  }
}