<section class="error-404">
    <div class="">
        <h1>
            Página no encontrada - Error 404
        </h1>
        <div class="card">
            <div class="empty-content">
                <h2>(&#64;_&#64;)</h2>
                <p>No hemos encontrado la página solicitada!
                    <br />Puedes probar algunas de las siguientes opciones:
                </p>
                <ul>
                    <li><a [routerLink]="['/']">Ir a la página principal</a></li>
                    <li><a [routerLink]="['/search']">Utiliza nuestro buscador</a></li>
                    <!-- <li><a [routerLink]="['/search']">Revisa las preguntas frecuentes</a></li> -->
                    <li>Contáctanos a través de nuestras redes sociales: <a
                            href="https://facebook.com/intercambialaminas" target="_blank"
                            rel="noopener noreferrer">Facebook</a> y <a href="https://twitter.com/cambialaminas"
                            target="_blank" rel="noopener noreferrer">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>