<div class="collection-visual">
    <div class="collection-links">
        <a *ngIf="showBackButton" class="btn" mat-stroked-button color="primary" [routerLink]="['../']">
            <mat-icon inline="true">arrow_back</mat-icon> Volver
        </a>
        <a class="btn" mat-stroked-button (click)="onShare()">
            <mat-icon inline="true">share</mat-icon> Compartir
        </a>
    </div>

    <div class="collection-content">
        <div class="collection-imagen-container">
            <img class="collection-image" [defaultImage]="defaultCollectionImage" [lazyLoad]="collection.image || defaultCollectionImage"
                [alt]="collection.name">
        </div>
        <div class="collection-data">
            <h1 class="">{{ collection.name }}</h1>
            <p class="subtitle">{{ collection.publisher.data.name }}, {{ collection.year }}</p>
        </div>
    </div>
</div>
<ng-adsense
    *ngIf="!authUser.id || (authUser.accountTypeId == 1)"
    [adSlot]="2226581548"
    [adFormat]="'auto'"
    [display]="'block'"
    [fullWidthResponsive]="true"
    [className]="'bga-section-vert'"
></ng-adsense>