name: CI

on:
  push:
    branches:
    - main

jobs:
  firebase-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '16.x'
    - run: npm install
    - run: npm run build:prod
      env:
        ANALYTICS: ${{ secrets.ANALYTICS }}
        API_URL: ${{ secrets.API_URL }}
        APP_URL: ${{ secrets.APP_URL }}
        CLOUDINARY_UPLOADPRESET: ${{ secrets.CLOUDINARY_UPLOADPRESET }}
        CLOUDINARY_CLOUDNAME: ${{ secrets.CLOUDINARY_CLOUDNAME }}
        CLOUDINARY_SITE: ${{ secrets.CLOUDINARY_SITE }}
        FACEBOOK_TOKEN: ${{ secrets.FACEBOOK_TOKEN }}
        FIREBASE_APIKEY: ${{ secrets.FIREBASE_APIKEY }}
        FIREBASE_APPID: ${{ secrets.FIREBASE_APPID }}
        FIREBASE_AUTHDOMAIN: ${{ secrets.FIREBASE_AUTHDOMAIN }}
        FIREBASE_DATABASEURL: ${{ secrets.FIREBASE_DATABASEURL }}
        FIREBASE_LOCATIONID: ${{ secrets.FIREBASE_LOCATIONID }}
        FIREBASE_MESSAGINGSENDERID: ${{ secrets.FIREBASE_MESSAGINGSENDERID }}
        FIREBASE_PROJECTID: ${{ secrets.FIREBASE_PROJECTID }}
        FIREBASE_STORAGEBUCKET: ${{ secrets.FIREBASE_STORAGEBUCKET }}
        GOOGLE_APIKEY: ${{ secrets.GOOGLE_APIKEY }}
        GOOGLE_TOKEN: ${{ secrets.GOOGLE_TOKEN }}
        PRODUCTION: ${{ secrets.PRODUCTION }}
        VAPIDKEY: ${{ secrets.VAPIDKEY }}
    - uses: w9jds/firebase-action@11.30.1
      with:
        args: deploy --only hosting
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
