name: CI

on:
  push:
    branches:
    - main

jobs:
  firebase-deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@master
      with:
        node-version: '12.x'
    - run: npm install
    - run: npm run build:prod
      env:
        API_URL: ${{ secrets.API_URL }}
        FIREBASE_APIKEY: ${{ secrets.FIREBASE_APIKEY }}
        FIREBASE_APPID: ${{ secrets.FIREBASE_APPID }}
        FIREBASE_AUTHDOMAIN: ${{ secrets.FIREBASE_AUTHDOMAIN }}
        FIREBASE_DATABASEURL: ${{ secrets.FIREBASE_DATABASEURL }}
        FIREBASE_LOCATIONID: ${{ secrets.FIREBASE_LOCATIONID }}
        FIREBASE_MESSAGINGSENDERID: ${{ secrets.FIREBASE_MESSAGINGSENDERID }}
        FIREBASE_PROJECTID: ${{ secrets.FIREBASE_PROJECTID }}
        FIREBASE_STORAGEBUCKET: ${{ secrets.FIREBASE_STORAGEBUCKET }}
        PRODUCTION: ${{ secrets.PRODUCTION }}
    - uses: w9jds/firebase-action@master
      with:
        args: deploy --only hosting
      env:
        FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
